[2018-07-25 18:05] jenhicks commented on #869
@jimmyDunne Can I close this issue now?

[2018-07-25 18:12] aymanhab commented on #753
While we control processing of frames, some rendering is done in callbacks and finally on the GPU so we can't be sure that a frame processing is complete before processing the next one. I think this is what hapens here.

[2018-07-25 20:21] chrisdembia commented on #904
I just learned that, on Travis-CI (and thus Mac), [we are not able to deploy PRs](https://docs.travis-ci.com/user/deployment/#pull-requests). We could deploy for every branch but I think that's not what we'd want (we could end up with subtle differences between the Travis-CI branch builds and AppVeyor PR builds). So for now I think we should limit the scope to just AppVeyor.

[2018-07-25 21:08] carmichaelong commented on #691
Looks to be ok on W10 Pro, OpenSim cea85df3-2018-07-18. See below for details:

These are with a muscle point preference of 1.05

Simple knee:
![wrap-simple](https://user-images.githubusercontent.com/7455790/43222336-b7e75e06-9004-11e8-90c6-b4f2d6de5607.JPG)

Rajagopal glmax1:
![wrap-glmax1](https://user-images.githubusercontent.com/7455790/43222379-d0d86e64-9004-11e8-9d2c-16fda7685a3f.JPG)

Rajag

[2018-07-25 21:42] aymanhab commented on #427
As mentioned in Jun 4th comment above on this trail, ExpressionBasedBushingForce::generateDecorations assumes Forces are computed which is a bug that needs fixing on opensim-core side, by either realizing to desired stage or checking that stage >=Dynamics. Commenting out that block of code results in model loading without an issue.

[2018-07-25 21:46] aymanhab commented on #427
opened https://github.com/opensim-org/opensim-core/issues/2230 to track

[2018-07-25 21:59] chrisdembia opened #907 "Remove "Beta" from splash screen"
The splash screen says "Beta", which I presume we want to remove before making the final release.

[2018-07-25 23:37] tkuchida commented on #753
Ah, ok I get it now. Thanks for the explanation, @aymanhab. If we wait long enough, all the slow computers will die off and it won't be a problem anymore :wink:

[2018-07-26 12:47] jimmyDunne commented on #537
I had spent a few hours doing other things in the GUI before testing this— trying to recreate in fresh GUI, I don't see the issue. I can perform the operations specified by Ajay and I don't get any errors (Mac)

[2018-07-26 14:09] jimmyDunne commented on #736
GUI Scripts
- [ ] alterTendonSlackLength
- [ ] createControlsFromStorage
- [ ] editProperties
- [ ] makeUlnaHeavy
- [ ] modelBuildingUtilities
- [ ] plotMuscleFiberLengthAgainstFile
- [ ] plotMuscleMomentArmAgainstMotion
- [ ] runMultipleIKTrials
- [ ] runScaling
- [ ] runTutorialOne
- [ ] runTutorialThree
- [ ] runTutorialTwo
- [ ] strengthenModel
- [ ] testShowModelSummary
- [ ] testVisuals (to

[2018-07-26 17:08] aymanhab commented on #840
Build with the fix is available as artifact here
https://ci.appveyor.com/project/opensim-org/opensim-gui/build/1.0.1605/artifacts

[2018-07-26 17:09] aymanhab commented on #798
Build with fix (diamond removed) is available here
https://ci.appveyor.com/project/opensim-org/opensim-gui/build/1.0.1605/artifacts

[2018-07-26 20:54] chrisdembia commented on #826
I think I also see Z-fighting in the Rajagopal 2015 model between muscle path cylinders and path points.

[Rajagopal2015.osim.txt](https://github.com/opensim-org/opensim-gui/files/2233565/Rajagopal2015.osim.txt)

<img width="318" alt="screen shot 2018-07-26 at 1 51 11 pm" src="https://user-images.githubusercontent.com/846001/43287893-31a284d8-90db-11e8-8619-a3631e838fc6.png">

[2018-07-26 20:55] chrisdembia commented on #691
I attempted to verify this issue on Mac (OpenSim cea85df-2018-07-18).

The wrapping of the muscle paths looks better (same as what @carmichaelong sees).

Simple knee:
<img width="312" alt="screen shot 2018-07-26 at 1 49 47 pm" src="https://user-images.githubusercontent.com/846001/43287757-c9de64ac-90da-11e8-94d2-66e7f247e0d8.png">

Rajagopal glmax1:
<img width="409" alt="screen shot 2018-07-26 at

[2018-07-26 21:03] chrisdembia opened #910 "Clicking "Show Only" on a single muscle causes some bones to be hidden"
### Steps to reproduce

- Launch the GUI.
- Open Rajagopal2015.osim
- Navigate to the muscle `glmax1_r` and select `Display > Show Only`.

### Expected result

- All bones remain shown, and the only muscle shown is `glmax1_r`.

### Actual result

The only muscle shown is `glmax1_r`, but some bones (not all) are no longer shown.

<img width="512" alt="image" src="https://user-images.githubuserconte

[2018-07-26 21:22] aymanhab commented on #910
@chrisdembia My best guess is that these bones were not shown to begin with except that they were hidden by muscles and this fact was exposed when the muscles were hidden. My environment using the Rajagopal model from models repo doesn't show ribcage while yours does. Please confirm either way. Thanks.

[2018-07-26 21:36] aymanhab commented on #904
This has been tested by me and works great. I'll move it to verified @chrisdembia unless you think there's some more work to be done. Thank you.

[2018-07-26 23:13] aseth1 opened #912 "Confusing options/steps for visualizing and reexpressing external forces with a model's motion"
Ran into the following issues when testing #27.

### Steps to reproduce

Attempt to visualize external forces and re-express your measured or generated forces with a model and its motion.

### Expected result

1. It is obvious to the user via naming/tooltips how to visualize their external forces with a model and its motion

2. There is consistency in visualizing external forces with a given model

[2018-07-26 23:20] aseth1 commented on #27
Verified using a pendulum model with known applied gravity vector that points and force vectors are re-expressed correctly. The visualization is correct also for the jumper model and its experimental ground reaction forces.

However I had several related issues about the task/process (#912). The main issue being what the user is supposed to do once they have correctly expressed their external forc

[2018-07-26 23:44] aseth1 commented on #529
Verified on Windows OpenSim_cea85df3-2018-07-18. Correctly throws if the child and parent frames are the same and when they share the same base frame.

[2018-07-27 00:56] aseth1 commented on #762
Confirmed on Windows OpenSim_cea85df3-2018-07-18 that setting the default value to 170degs and reposing to 83degs does not have the above issue.

However, the original issue (following the steps at the top of this issue) and simulating does cause similar problems in drawing muscles at 0.760s at which time the states become NaN:

![image](https://user-images.githubusercontent.com/6494122/43295918-0

[2018-07-27 01:02] aseth1 commented on #440
In today's meeting we discussed having separate registry key for 4.0 preferences and this would be overwritten with defaults upon installation. This would prevent issues of mangling user's working 3.3 preferences/setup.  Ideally, we would give the user the option to use previous settings, or not to update the preferences if they already exist.

[2018-07-27 15:09] jimmyDunne commented on #869
browseForFolder() is still not working in the GUI on Mac.

---
`trcDataFolder = utils.FileUtils.getInstance().browseForFolder("Select the folder")`

returns

[code]

---

`trcDataFolder = utils.FileUtils.getInstance().browseForFolder("Select the folder",0);`

Opens a dialogue but once you select a folder it returns

[code]

---

`trcDataFolder = utils.FileUtils.getInstance().browseForFolder();`

O

[2018-07-27 16:58] chrisdembia commented on #840
I downloaded the aforementioned artifact and the original bug still exists: I am still prompted to save the model after typing `Ctrl + S` when focused in the Navigator.

[2018-07-27 17:00] chrisdembia commented on #840
It's not clear to me why https://github.com/opensim-org/opensim-gui/pull/905 would fix this issue; my focus is not in the visualizer.

[2018-07-27 17:11] aymanhab commented on #762
@aseth1 thanks for checking. The key question is how to stop the simulation when the state contains NaNs.  The only mechanism the GUI knows to stop accumulating data and using NaNs is an Exception being thrown. This happens in debug mode by Simbody and not in release for efficiency purposes. Does the state have a way to quick check if it contains NaNs?

[2018-07-27 17:20] aymanhab commented on #840
@chrisdembia The scenario described on June 14th by @tkuchida is a focus issue that should be resolved since Ctrl+S is not handled by the visualizer anymore and is handled by the GUI as shortcut. There could be another issue regarding how we recognize a model has changed that would be good to pinpoint if exists.

[2018-07-27 17:51] tkuchida commented on #762
Not sure the simulation should stop if NaNs are encountered. Is there a way to prevent the visualizer from changing NaNs to zeros? A user could potentially load results from the API or an old version of OpenSim, so it seems like there needs to be a strategy for handling NaNs in the visualizer regardless.

[2018-07-27 17:55] aseth1 commented on #762
There is an inconsistency here as well. The bones correctly do not display because the transforms are NaN. The fact that muscle paths still attempt to draw is a bug. In 3.3 the arm (downstream of NaN coordinates) disappears, which I believe is the correct behavior.

[2018-07-27 18:12] aymanhab commented on #840
On further investigation, Ctrl+S is double used to save models and save scripts. I'll submit a PR to switch the latter to use ctrl-W. Doing the change locally fixes the Ctrl+S to save issue.

[2018-07-27 19:02] aymanhab commented on #816
While the transient behavior is likely to stay, there's a bug where graphically moving pathpoitns doesn't follow the full protocol of updating path and recreating system as done for other editing in Dialog. Fix in progress.

[2018-07-27 19:07] aymanhab commented on #815
see comments in #816

[2018-07-27 19:09] chrisdembia commented on #346
1. **Brick**: I am able to edit the `half_lengths` of a `Brick` ✔️ , and the visualizer updates appropriately, and the quadrants property does not appear ✔️ .
2. **Ellipsoid**: (a) Editing the `radii` for an`Ellipsoid` has no effect ❌ . (b) The quadrants property is not hidden. ❌
3. **Sphere**: Editing `radius` ✔️ ; `quadrants` property is not hidden ❌ .
4. **Cylinder**: Editing `radius` ✔️ and `h

[2018-07-27 19:16] aymanhab commented on #346
@chrisdembia In the past no changes to Analytical shapes were ever propagated. I agree we should either support or hide quadrants, looking for feedback on that. Elipsoid is implemented as a scaled Sphere, we can hide radii and users modify scale factors. Thoughts?

[2018-07-27 21:12] #904 closed

[2018-07-27 21:14] chrisdembia commented on #27
@aymanhab would like @aseth1 to provide the data set he used for verifying. Not ready to be closed.

[2018-07-27 21:15] #553 closed

[2018-07-27 21:16] #691 closed

[2018-07-27 21:21] #798 closed

[2018-07-27 21:22] #820 closed

[2018-07-27 21:22] #560 closed

[2018-07-27 21:23] #585 closed

[2018-07-27 21:31] chrisdembia commented on #899
Raised in #446

[2018-07-27 21:32] #446 closed

[2018-07-27 21:33] chrisdembia commented on #867
#902

[2018-07-27 21:34] #867 closed

[2018-07-27 21:35] #819 closed

[2018-07-27 21:35] #794 closed

[2018-07-27 21:35] #339 closed

[2018-07-27 21:36] #676 closed

[2018-07-27 21:36] #333 closed

[2018-07-27 21:37] #866 closed

[2018-07-27 21:37] #601 closed

[2018-07-27 21:38] #737 closed

[2018-07-27 21:41] chrisdembia commented on #756
Similar issue in #859:

Do we agree that muscles should be drawn red when posed? I don't mind, since it reminds the user that it isn't a result of the simulation, but perhaps there is a better way to indicate that while leaving muscle states the same.

[2018-07-27 21:41] #859 closed

[2018-07-27 21:43] #558 closed

[2018-07-27 21:45] chrisdembia commented on #799
Must consider if Tutorial 2 needs to be updated for the new meaning of "Show Only".

[2018-07-27 21:47] chrisdembia commented on #817
I'll leave this open so that @jenhicks can respond.

[2018-07-27 21:47] #545 closed

[2018-07-27 21:49] #230 closed

[2018-07-27 21:53] #238 closed

[2018-07-27 21:57] #506 closed

[2018-07-27 22:00] chrisdembia commented on #541
Did fixing this cause Z-fighting (#826)?

[2018-07-27 22:00] #541 closed

[2018-07-27 22:01] #748 closed

[2018-07-28 18:30] idhamari opened #915 "Build in Ubuntu 18.4"
### Environment and GUI version
Ubuntu 18.4, Netbeans 8.2 openSim 4.0

I was able to build and run openSim Gui in my Ubuntu 18.04 machine. at first there was an error related to JxBrowser. By trying **/tmp/jxbrowser-chromium-55.0.2883.87.6.14.2/jxbrowser-chromium64** there were some errors related to some missing libraries. I copied the libraries in this folder to **/usr/local/lib** and install th

[2018-07-28 18:35] tkuchida commented on #915
Thank you for reporting. However, please note the following comment in README.md: "NOTE: Due to the small development team working on the GUI, we do not provide support for building or altering the OpenSim GUI source code. Advanced users can refer to the appveyor.yml or .travis.yml scripts in this folder."

[2018-07-28 18:35] idhamari opened #916 "Documentation for the opensim-gui for developers"
Can not find one. It would be nice to have it to understand the project structure and components especially for non-java developers.

[2018-07-28 18:38] idhamari commented on #915
Thanks for replying. I am aware of that. I just put it here as maybe someone has the same problem and solved it as Ubuntu is very popular open-source developers environment.

[2018-07-29 18:29] #915 closed

[2018-07-29 18:30] idhamari commented on #915
This issue should be closed now.

[2018-07-30 15:50] chrisdembia commented on #915
If there are changes to the repository that you made to facilitate building on Ubuntu, you could share those changes with us (if you're interested).

[2018-07-30 17:59] #665 closed

[2018-07-30 18:00] #753 closed

[2018-07-30 18:01] jenhicks commented on #817
Restore muscle path to status on entering the Edit Path dialog box.

[2018-07-30 18:03] jenhicks commented on #817
Undo all changes since opening the Geometry Path dialog.

[2018-07-30 18:05] #27 closed

[2018-07-30 18:21] jenhicks opened #917 "Create separate preferences for 4.0 and 3.3"

[2018-07-30 18:25] jenhicks opened #918 "Allow users to specify integrator preferences for manager via Python and Matlab"

[2018-07-30 18:56] jenhicks opened #919 "Create Matlab utilities to write TimeSeriesTables to mot and trc files"
Make sure you can read the files with the FileAdapter

[2018-07-30 20:10] jenhicks commented on #900
All looks good on my Mac. Thanks for making this fix @jimmyDunne !

[2018-07-30 21:41] chrisdembia commented on #817
@aymanhab The following steps cause an exception:

1. Open arm26.osim
2. Select the `TRIlong` muscle.
3. In the `Properties` pane, click `...` next to `GeometryPath`.
4. Change the first point from `fixed` to `via`.
5. Click `Restore`.

[code]

[2018-07-31 01:28] chrisdembia commented on #86
When clicking the green guy in the GUI for the copy of `Rajogopal2015.osim` from the `opensim-models` repo, I get the following warnings:

[code]

I tried simulating this model with `opensim-core` (no GUI) and did not get any of these messages. The fact that this message is generated repeatedly suggests that the GUI is causing an assembly for each frame for purposes of visualization.

With `opensi

[2018-07-31 04:43] aymanhab commented on #86
@chrisdembia Indeed the Model::assemble(state) is called why would that be an issue? The GUI workflow is likely different from what you did in opensim-core. We should discuss in person.

[2018-07-31 04:44] chrisdembia commented on #86
Yes, we can discuss in the daily sprint.

[2018-07-31 13:06] jimmyDunne opened #922 "Distributed Models and Geometry Folder are out of sync"
The last few versions of the application have been distributed with the latest Geometry files but older models. Because the names changed, now you get missing bones. You won't see this if you have older versions of the Geometry on your path.

![missing_bones](https://user-images.githubusercontent.com/5296507/43461200-e2a215be-94a0-11e8-984e-70520350e184.jpg)

[2018-07-31 16:00] jenhicks commented on #922
Thanks for reporting. I put this in the backlog for our current sprint. We can discuss at today's stand-up.

[2018-07-31 16:14] aymanhab commented on #922
@jimmyDunne Did you do installResources() This is the only mechanism we use to copy Models from the distribution to the local machine, and it's now off by default (to protect users/testers who install frequently). That may help us find out if the files are out of sync or the installation wasn't invoked.

[2018-07-31 16:33] nickbianco commented on #894
I observed the proper transformation behavior via #911.

[2018-07-31 16:36] aymanhab commented on #299
All interested parties, do you get black image at any time now or just incomplete capture, please let me know as  I never get a black image on any of my machines at the moment. Thank you.

[2018-07-31 16:55] jenhicks commented on #299
I can't create a black image, but I do get an incomplete image if I maximize the OpenSim window size and set the snapshot quality to 4.

[2018-07-31 17:26] chrisdembia commented on #86
Here's what I did in `opensim-core`:

[code]

[2018-07-31 18:12] aymanhab commented on #895
Some notes:
1. the motion associated with the model is actually 15 seconds rather than 0.15 seconds . Since we try to play motion real time by default, using very small time is fundamentally error prone (how soon did you push the buttons to start/stop etc. what's the startup time to initialize the capture etc.).
Using the 15 sec motion out of the box produces videos of length:
 - normal speed: 15

[2018-07-31 19:27] aseth1 commented on #895
I manually lengthened the time from 0.15s to 15s so I could produce a reasonable video. I believe I submitted the original file that was not stretched out. I just downloaded and it is 0.15s, so I don't know how you got the 15s file. There is no way the drop landing is naturally 15s.

I counted 3 frame by playing by sliding the MP4 player slider and saw it tansition between three frames.

[2018-07-31 20:57] aymanhab commented on #895
@aseth1 The zip file available from the link you posted at the top of this issue has only one sto file that has "time_stretched" in the name and indeed it is 15 seconds. Where do I get the non time stretched version?

[2018-07-31 21:09] aseth1 commented on #895
Yes, but please read step 2!

[2018-07-31 22:34] jimmyDunne commented on #922
Thanks, @aymanhab, that seems to have done the trick. Seems like the current models needed to just be re-installed.

[2018-07-31 22:34] #922 closed

[2018-07-31 22:54] chrisdembia commented on #86
@aseth1 located the line of code that calls `Model::assemble()` and causes the warning: https://github.com/opensim-org/opensim-gui/blob/fa6407e08d0979285513842fbf08aca5b58e29ca/Gui/opensim/view/src/org/opensim/view/motions/MotionDisplayer.java#L825-L832

The `assemble()` was added to address #617.

@aymanhab would it make sense to fix this issue by detecting that the visualization is occurring dur

[2018-07-31 23:03] chrisdembia commented on #86
@aymanhab could we use the following variable to determine if the states require assembly?

https://github.com/opensim-org/opensim-gui/blob/fa6407e08d0979285513842fbf08aca5b58e29ca/Gui/opensim/view/src/org/opensim/view/motions/MotionDisplayer.java#L408

[2018-07-31 23:33] aseth1 commented on #86
IMHO, the correct solution is to set the state on the model and not too interpret values from a Storage. If states are coming from a simulation then there is nothing to be done and rendering should be faster for it. If reading in files, then we need to convert values into states first.

The current mechanism is convoluted. We compute valid states by running Tools, store their values in a Storage,

[2018-07-31 23:46] aseth1 commented on #86
Commenting out the assembly reduce the simulation time by about 50% in the model above. That's a good reason on its own to use a more direct display process.

[2018-08-01 00:29] aymanhab commented on #86
@chrisdembia yes the line/variable you indicated tracks if motion is live (during a tool running not necessarily forward) vs. loaded from file. The motion displayer doesn't distinguish between tools.

Since @aseth1 suggested the assembly earlier for #617 fix and is suggesting removal now I have no objections.

We sure should discuss improvements in the context of a long term plan that includes vis

[2018-08-01 01:09] aseth1 commented on #86
Let me be clear. Assembly is required to fix #617. I am not suggesting to remove the assembly here. It cannot be removed as currently structured.  It is the structure of the MotionDisplayer that is forcing us to make workarounds that are inefficient.

[2018-08-01 15:02] idhamari commented on #915
Thanks for your suggestion, so far the modifications above are the one I did. I am writing and testing a script to do everything (download, install required tools and build opensim-dependencies, opensim-core and opensim-gui). As soon as I finish, I will share it with everyone.

[2018-08-01 16:19] aymanhab commented on #86
I understand you're suggesting to keep this assemble call when playing back motion and to remove it when running FD. The follow up question, wouldn't that cause these same warning messages to appear when playing back FD results or running any other tools on FD results? Isn't the fundamental issue a descrepancy between  FD and assembly?

[2018-08-01 17:04] chrisdembia commented on #86
Yes, it seems that the projection during integration does not require as tight of an accuracy. Maybe a default model assembly accuracy of `1e-9` is unreasonably tight.

[2018-08-01 18:15] carmichaelong opened #924 "Undoing a "Hide" body or group of bodies takes many more clicks than expected"
### Steps to reproduce
1. Open arm26.osim
2. Hide multiple bodies or a body with multiple objects:
a) Bodies -> Display -> Hide.
b) Bodies, r_humerus -> Display -> Hide.
3. Hit Undo

### Expected result
a) One undo action shows all bodies
b) One undo action shows the humerus and all related wrapping surfaces

### Actual result
Only one object is "undone" at a time.

### Environment and GUI version

[2018-08-01 18:48] tkuchida commented on #924
Related: #513

[2018-08-01 18:49] carmichaelong opened #925 ""Show axes" and "Show mass center" cannot be undone"
### Steps to reproduce
1. Open arm26.osim
2. On Bodies -> r_humerus, toggle "show axes" or "show mass center"

### Expected result
Undo button can be clicked

### Actual result
Cannot be undone (button doesn't light up)

### Environment and GUI version
W10 OpenSim 910a930d-2018-08-01

[2018-08-01 18:55] carmichaelong opened #926 "Undo/redo buttons are grayed out when focus is on either Properties or Coordinates tabs"
### Steps to reproduce
1. Open arm26
2. Change Muscle -> TRIlong, property min_control to 0.5. Hit enter
3. Click on either Coordinates or on the top of Properties tab. (or on navigator tab, then anywhere back in properties tab)

### Expected result
Can undo/redo

### Actual result
Undo/redo are grayed out. Can get them to show up if focus if you click on Navigator or gray areas above the visualiz

[2018-08-01 18:59] carmichaelong opened #927 "Changes to a Joint's offset Rotation and Translation cannot be undone"
### Steps to reproduce
1. Open arm26
2. Navigate to Joints -> r_elbow -> r_humerus_offset
3. Change either "Translation" or "Rotation"

### Expected result
Undo button shows up and change can be undone

### Actual result
Undo button remains grayed out

### Environment and GUI version
W10 OpenSim 910a930d-2018-08-01

[2018-08-01 19:03] carmichaelong opened #928 "Undoing a muscle path change from visualizer does not restore original path"
### Steps to reproduce
1. Open arm26
2. Move a muscle point through the visualizer
3. Click on Navigator and then hit Undo

### Expected result
Path goes back to original

### Actual result
Path changes but does not restore to the original path

### Environment and GUI version
W10 OpenSim 910a930d-2018-08-01

[2018-08-01 19:08] carmichaelong opened #929 "Undoing a Marker's "location" change is not immediately reflected in Properties tab"
### Steps to reproduce
1. Open arm26
2. Navigate to Markers -> r_acromion
3. Change location to (0 0 0)
4. Hit Undo.

### Expected result
Marker returns back to correct spot visually, and location in Property tab shows (-0.01256 0.04 0.17)

### Actual result
Marker does return back correctly in visualizer, but location in Property tab still shows (0 0 0). Now, click back into Properties tab, and i

[2018-08-01 19:11] carmichaelong opened #930 "Changes to a Muscle's GeometryPath (using Properties tab) cannot be undone"
### Steps to reproduce
1. Open arm26
2. Navigate to Forces -> Muscles -> TRIlong
3. In Properties tab, go to GeometryPath -> "..."
4. Change the first path point's X coordinate to 1

### Expected result
Undo button lights up and can be clicked.

### Actual result
Undo button is grayed out.

### Environment and GUI version
W10 OpenSim 910a930d-2018-08-01

[2018-08-01 19:12] carmichaelong commented on #512
Notes from #909 have been accounted for and placed into separate issues

[2018-08-01 19:17] carmichaelong commented on #924
Whoops, thanks @tkuchida. I think this could be closed since your issue is a better description.

[2018-08-01 19:24] jenhicks commented on #924
Closing since this is a duplicate.

[2018-08-01 19:24] #924 closed

[2018-08-01 19:38] aymanhab commented on #513
While doing/undoing commands from navigator is under our own control, it's harder to handle the multiedit if done by multiselect and then changing values in property editor. Primarily this is because these low level property editors have no access to context/selection to look at.

[2018-08-01 19:48] aymanhab commented on #928
For the record, that's what the unorthodox "Restore" button on the dialog is supposed to do but I agree an undo fits better in the application 👍

[2018-08-01 20:06] chrisdembia opened #931 "Travis-CI uses Java 10, which causes compile errors"
Yesterday, Travis-CI [updated their default OSX image](https://blog.travis-ci.com/2018-07-19-xcode9-4-default-announce) to one that uses Java 10 rather than Java 8.

[This causes Travis-CI to fail](https://api.travis-ci.org/v3/job/410833622/log.txt):

[code]

We must either (a) allow the GUI to be built with Java 10 (change `-source 1.4` to `-source 1.6`)  or (b) update Travis-CI to use an older O

[2018-08-02 00:45] aseth1 commented on #513
Isn't at least a part of the issue that the multi-edit isn't grouped as a single edit? I assume the Undo mechanism is a stack of edit events or commands (command objects) and that we are perhaps incorrectly doing a multiedit event as multiple independent commands. If we had a single multiedit command then it would be treated as single undo. The multi-selection shouldn't be seen as a series of comm

[2018-08-02 02:10] aseth1 commented on #86
The problematic model *knee_patella_ligament* is included in `testAssemblySolver`. The issue there was being able to use the coordinate slider and draw the knee with the patella that was not in a weird place. The underlying problem was trying to balance the knee coordinate value (part of the assembly) the patella coordinate values (couple translations and rotations) and the fixed length of the con

[2018-08-02 02:13] aseth1 commented on #86
Looking at it closely again, the model complains only when the angle is at the extremes of its range of motion and this correspond to the ends of the splines that are only specified between (-120.000280612, 10.0000042858) in which case the splines and their derivatives could be poorly defined. I believe this is the same situation with Apoorvas' model. We should have @apoorvar explore:
1. whether a

[2018-08-02 02:29] aseth1 commented on #86
@aymanhab These are two fundamentally different operations. A FD simulation is satsifying a set of DAE where projection is used to satisfy algebraic equations imposed on evolving states. Assembly is finding a pose that satisfies constraints and minimizes goals (distance from target joint angle, for example) in a least-squares sense.  We cannot expect these operations to provide the same answer, in

[2018-08-02 17:03] #931 closed

[2018-08-02 17:04] chrisdembia commented on #455
Related: #931

[2018-08-02 19:05] chrisdembia opened #934 "Coordinate range is cut off on Mac."
<img width="466" alt="image" src="https://user-images.githubusercontent.com/846001/43605121-517bcbd6-964c-11e8-89fe-cb9b97b3fe82.png">

We should adjust font sizes.

[2018-08-02 19:32] chrisdembia commented on #86
@aseth1 @aymanhab and I looked into this further. The issue is not related to the `Rajagopal2015.osim` model. Rather, the issue is that the visualization enforces clamps, even for motions that were generated without the clamps (e.g., forward simulation). The same assembly accuracy warnings can be generated with `bouncing_block.osim`.

We need to revisit the changes in https://github.com/opensim-or

[2018-08-02 20:43] aymanhab commented on #86
Great summary @chrisdembia
Since we agreed on the work (deciding if read file sto/mot corresponds to a full state or not) needs to be done in formStateStorage, we can
- have the method return a boolean (instead of void)  indicating if passed in Storage has full state or not (@chrisdembia or @aseth1)
- modify MotionDisplayer on GUI side to utilize the flag and not assemble in case  dealing with ful

[2018-08-02 21:06] aseth1 commented on #86
I agree `formStateStorage` is a good place to do the check. I am happy to consider it. Ideally we would streamline further to enable the translation from file to a `StatesTrajectory` (perhaps in 4.1) and the animation would be a strict/fast operation of rendering the `State` of a model.

[2018-08-02 21:10] aseth1 commented on #346
What do `quadrants` mean in the context of `Geometry`? If it is only necessary for wrapping then `WrapGeometry` should define it.

[2018-08-02 21:18] chrisdembia commented on #346
I don't know why this was moved to "Needs Verifying" if this issue has so far only been addressed for `Cone`.

[2018-08-02 21:27] aseth1 commented on #346
An Ellipsoid is not a scaled Sphere! This is confusing trying to visualize joint surfaces. They are defined by radii for a reason. I don't think we should have scale factors for `Geometry`. If I want a bigger Sphere I should specify a larger radius. If I want a different sized Ellipsoid we should modify its radii, Block its half-lengths, etc... why do we need to confuse it with scale factors?

[2018-08-02 23:52] chrisdembia opened #938 "Cannot redo multiple property edits"
### Steps to reproduce

Discovered while testing #909.

1. Open arm26.osim.
2. Change base mass from 0.0 to 0.5.
3. Change base mass from 0.5 to 0.7.
4. Click Undo twice (mass is now 0.0).
5. Click Redo once (mass is now 0.5).

### Expected result

Can click Redo again (to change mass to 0.7).

### Actual result

Cannot click Redo (the button is grayed out).

Note that for other actions (e.g., hid

[2018-08-03 00:32] chrisdembia commented on #425
@aymanhab this is done, correct?

[2018-08-03 00:49] chrisdembia commented on #86
@aymanhab, the method `Model::formStateStorage()` takes a flag `warnUnspecifiedStates` that is true by default. In this code below, we don't see any warnings even when playing a MOT file (IK solution for arm26). Do you know why?

https://github.com/opensim-org/opensim-gui/blob/33dbb78dae397cfbf99e9368c67c2fffbbdbc05c/Gui/opensim/view/src/org/opensim/view/motions/MotionDisplayer.java#L441-L450

[2018-08-03 01:00] chrisdembia commented on #86
@aymanhab nevermind; we were looking at an older commit.

[2018-08-03 01:31] aymanhab commented on #425
Yes

[2018-08-03 03:05] chrisdembia commented on #425
Thanks for confirming.

[2018-08-03 03:05] #425 closed

[2018-08-03 08:34] idhamari opened #939 "Ubuntu build script"
For a clean Ubuntu 18.04, writing and testing bash script to:

1. Download and Install all required libraries e.g. gcc, java, netbeans, etc.
2. Download opensim-core and opensim-gui
3. Build opensim-dependencies
4. Build and install opensim-core
5. Copy required files for opensim-gui
6. Build opensim-gui

So far, I completed the first 4 parts (still need more testing). It is not clear how to proce

[2018-08-03 15:25] chrisdembia commented on #939
Refer to the `.travis.yml` script.

[2018-08-03 18:22] idhamari commented on #939
If I am java expert I would not ask this question. It is much easier if you put in a simple copy commands. I am not sure why the need for a visual studio or cmake project to do that when simple batch or shell script can do it.

I found a work around by using the files after the build, the compressed size is around 500 MB. so it is still downloadable.  Testing in progress ...!

[2018-08-03 19:05] aseth1 commented on #86
It turns out for #617 the underlying cause was not missing values but incorrectly interpreted values. In 3.3 the  `knee_angle_pat_r` Coordinate was user-specified as being Rotational and thus was being converted to degrees when written the IK.mot file. Unfortunately, that assertion is wrong because the spatial rotation is some nonlinear (Spline) function of the `knee_angle_pat_r` and 4.0 does not

[2018-08-03 19:29] aseth1 commented on #427
@aymanhab which Appveyor artifact can we use to test this?

[2018-08-03 19:38] aymanhab commented on #427
Since the fix was on opensim-core side, any artifact built after the merge should be fine. There's one that I forced today for PR 936 that should have the fix.

[2018-08-03 20:21] chrisdembia commented on #939
FYI We are less likely to use a script that does not conform to our current practices, unless there are clear advantages.

[2018-08-03 20:28] nickbianco commented on #427
I tried the PR 936 build and the model didn't load, but I don't think @aseth1's change was propagated through. I looked at the API commit included on the branch for that build, and it's only dated July 11.

[2018-08-03 20:45] chrisdembia commented on #427
Ah...[this build](https://ci.appveyor.com/project/opensim-org/opensim-core/build/7825/job/7i78ubavs7tjard9) needs to pass before the GUI will have @aseth1's fix.

[2018-08-03 20:57] chrisdembia opened #940 "Preferences have inconsistent units"
The "Experimental Marker Size (mm)" preference is in millimeters, while the "Muscle Display Radius" preference is in meters.

<img width="681" alt="image" src="https://user-images.githubusercontent.com/846001/43665452-fef6224c-9724-11e8-9eef-d818f7785c82.png">

I suggest we use consistent units (meters) for all preferences.

I also suggest we fix this before the 4.0 release, as properly parsing pr

[2018-08-03 22:40] chrisdembia commented on #427
That aforementioned core build succeeded; now waiting for this GUI build to finish: https://ci.appveyor.com/project/opensim-org/opensim-gui

[2018-08-04 00:00] aseth1 commented on #895
Retested with OpenSim_11d7a130-2018-08-03 on Windows and at a playback speed of 0.05 produced a video of 5s some 2s of which was time to press play and press the camera icon to stop, so give our take 3s, which seems right. At a speed of 0.1s (motion alone should take 1.5s) the total time was ~3s which includes user time to press play and stop the recording.

I consider the issue verified on Window

[2018-08-04 00:28] tkuchida commented on #796
I think the issue here is that the muscles are drawn as tubes with only 8 faces (https://github.com/opensim-org/three.js/blob/115fc131d44d01a89ba4f038deaac6c6cfac9241/editor/js/OpenSimLoader.js#L258). The renderer does a pretty good job of smoothing, but perhaps we need more faces now that there are these intersections to resolve?

[2018-08-04 00:33] aseth1 commented on #816
On Windows OpenSim 11d7a130-2018-08-03 I still don't think the behavior is correct.
Starting off like this:
![image](https://user-images.githubusercontent.com/6494122/43670612-7f231534-9742-11e8-8ba3-5a601ed055dd.png)

Selecting points to edit seems to add a new path point and doesn't move the existing point! And unlike before it is not transitory - it persists. Undo does not work here either and

[2018-08-04 00:48] chrisdembia commented on #86
@aymanhab our current plan was to generate a warning in `Coordinate::updateFromXML()` if we notice that if a non-rotational coordinate (e.g., 'knee_angle_pat_r`) was marked as rotational in an old XML file; this is the situation that causes a data column like `knee_angle_pat_r` to be treated as radians when it's actually in degrees. What do you think?

[2018-08-04 01:04] chrisdembia commented on #427
The GUI build has succeeded.

[2018-08-04 01:13] chrisdembia commented on #427
On Mac, the model visualizes in the GUI (but not the EBBFs):

<img width="284" alt="image" src="https://user-images.githubusercontent.com/846001/43671077-9b31faa0-9748-11e8-9621-3d287f2ea379.png">

Some bones are missing; that's because I didn't have the Rajagopal Geometry folder in place.

I am able to simulate the model in the GUI (green running dude) without issues.

OpenSim 0bcf8b7-2018-08-03

[2018-08-04 06:41] aymanhab commented on #86
That sounds great @chrisdembia, wouldn't old result files (mot, sto) be problematic as well? if so we should include that in the warning and release notes.

[2018-08-04 09:36] idhamari commented on #939
Sure!

This [script](https://github.com/opensim-org/opensim-gui/files/2259383/buildOpenSim.zip) is tested in a new Ubuntu 18.04. I zipped the source-codes and upload it to our server (if there is a branch for a stable source-code, it can be used instead). Feel free to modify the script or re-upload the zipped files based on your need. If there is any legal conflict, please let me know and I will j

[2018-08-04 09:36] #939 closed

[2018-08-04 20:58] aymanhab commented on #840
Needs verification in latest artifacts on both Windows, Mac. @tkuchida @chrisdembia @nickbianco

[2018-08-06 03:37] nickbianco commented on #427
![image.png](https://images.zenhubusercontent.com/5b5fce5a634ac264954e72c0/f492a82b-7114-4597-99af-04fb38d0ca46)

I'm also able to load and simulate the model with the green running dude without any issues (OpenSim  0bcf8b7-2018-08-03). My muscles are blue since I took the snapshot after simulating.

[2018-08-06 16:25] jenhicks opened #941 "Always installResources() on a fresh install"

[2018-08-06 16:26] aymanhab opened #942 "Update distributed models bone colors"
### Steps to reproduce
Bones are white by default. We came up with a much better looking bone colors, need to apply to distributed models even if we decide to keep the model files using older format.

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2018-08-06 16:27] aymanhab commented on #942
Duplicate of issue #517

[2018-08-06 16:36] aymanhab commented on #817
Problem is actually upstream of "Restore" as the change of PathPoint type doesn't take care of book-keeping correctly.

[2018-08-06 16:43] chrisdembia commented on #939
Thanks @idhamari! I've downloaded your scripts. We will try to take a look when we get a chance.

[2018-08-06 16:44] chrisdembia commented on #939
Keep in mind that we still have no timeline for releasing on Ubuntu.

[2018-08-06 16:44] jenhicks commented on #895
I tested on Mac and see same behavior. I agree about making another issue ... @aseth1  have you done this already?

[2018-08-06 17:07] #900 closed

[2018-08-06 17:08] #427 closed

[2018-08-06 17:09] #894 closed

[2018-08-06 17:09] #512 closed

[2018-08-06 17:11] jimmyDunne commented on #894
Transform is correctly saved on Mac 🍾

[2018-08-06 17:11] chrisdembia opened #943 "Intersection of muscle paths and path points is jagged"
![image.png](https://images.zenhubusercontent.com/549329337c6ccc6277a6ab20/a3d75ca6-b48f-42f6-96cd-e63bc5ab10a4)

Raised in #796.

[2018-08-06 17:12] #796 closed

[2018-08-06 17:13] chrisdembia opened #944 "Movies record as soon as hitting record, even when there is no motion."
Raised in #895

[2018-08-06 17:13] #895 closed

[2018-08-06 17:14] chrisdembia commented on #816
This behavior is different on Windows vs Mac. On Mac, the path looks proper after one is done dragging.

[2018-08-06 18:35] jenhicks commented on #357
Shoulder model plugin is with world congress files.

[2018-08-06 20:39] nickbianco commented on #840
The shortcut also worked for me on Windows. I got the same dialog box and the change persisted after opening and closing the model.

[2018-08-06 20:59] nickbianco commented on #299
I took a few screenshots, with and without the Visualizer Window maximized, and I got the expected image out.

![opensim_snapshot.png](https://images.zenhubusercontent.com/5b5fce5a634ac264954e72c0/15bc2619-8b02-42b1-8d15-8b3f621bab5d)

I can't find the snapshot quality setting under View Controls on my current build on Windows (OpenSim efbc92ac-2018-08-06).

Also, when saving an image with the sam

[2018-08-06 21:17] aymanhab commented on #299
@nickbianco Thanks for testing, I've seen this in an earlier build where first time you launch the gui, some preferences are uninitialized leading to missing snapshot slider. Do you see the slider next time you launch the GUI? If so please open an issue and will address. Thank you

[2018-08-06 21:33] nickbianco opened #946 "Snapshot Quality setting under View Controls doesn't appear until after closing and reloading the GUI"
### Steps to reproduce
After creating a fresh install of OpenSim, open the GUI and expand the View Controls menu.

### Expected result
Four options appear, the last being Snapshot Quality.

### Actual result
Snapshot Quality does not appear.

### Environment and GUI version
Windows 7, OpenSim efbc92ac-2018-08-06

[2018-08-06 21:39] nickbianco commented on #299
@aymanhab the slider appeared after closing and reloading the GUI. The associated issue (#946) has been created.

Regarding the snapshots, I get normal behavior except for the case the Jen reported -- Visualizer Window maximized, Snapshot Quality at 4.

**Snapshot Quality 3**
![snap3](https://user-images.githubusercontent.com/23224439/43742296-4615dec0-9986-11e8-9b06-4c4f2ea0233a.png)

**Snapshot

[2018-08-06 21:40] aymanhab commented on #299
Perfect, thank you @nickbianco

[2018-08-06 21:43] aymanhab commented on #946
The issue here is that we try to initialize slider from current configuration values but these may not have been initialized first time. We need tocheck that and deal with accordingly.

[2018-08-06 21:52] aymanhab commented on #941
@chrisdembia Please let me know if you need help working on this one or I can take it over. Thank you

[2018-08-07 16:49] aymanhab commented on #941
@chrisdembia I think we will need a build-id and have it accessible from the GUI code so that we can check for a new build and use that to call installResources. This will be very helpful anyway for frequent build/distributions long term maintenance.

[2018-08-07 17:09] aymanhab commented on #643
@nickbianco or @carmichaelong can you verify

[2018-08-07 18:35] nickbianco commented on #643
@aymanhab @carmichaelong testing the fix now.

[2018-08-07 18:42] chrisdembia commented on #941
Should we use a combination of the opensim-gui, opensim-models, and opensim-core commit hashes?

[2018-08-07 19:43] aymanhab commented on #941
But opensim-models is a submodule, it needs new commit to make it to opensim-gui
HHashes are good but don't provide order so date followed by gui-commit may be good enough ID

[2018-08-07 22:37] nickbianco commented on #643
While the specific changes from #945 are working, I did notice a few other things:

- To visualize an experimental marker set that has been loaded, you must double-click the file name in the Navigator (e.g. `subject01_static.trc`). Double-clicking the data object (e.g. `ExperimentalData_0`) will make that object current, but won't visualize it's marker data. This seems inconsistent with how models

[2018-08-08 15:35] chrisdembia commented on #941
Ah good point. However, `opensim-core` is not being used as a submodule (even though it currently exists as a submodule).

I'm fine with adding the date as well.

[2018-08-09 17:43] chrisdembia commented on #709
I am still having this issue. Am I really the only one?

[2018-08-09 18:02] jimmyDunne commented on #709
This is what was happening to me in #450. It was a conflict with an existing app (rescueTime). The only way for me to get around it has been to close rescueTime, open OpenSim, reopen rescueTime. If I try to open the application whenever rescueTime is open, I get the behavior you are describing— there must be some other app that this is happening with.

[2018-08-09 21:08] nickbianco commented on #643
After discussion in the last two daily scrums, the general consensus is to prioritize the following changes:

1. Increasing the default marker size from 5 mm to something more visible (something between 10-15 mm would be fine in my opinion). This would be a quick fix and could prevent users from wanting to change the marker size in the first place.

2. Remove the `marker size scale` option and rep

[2018-08-10 18:05] aymanhab commented on #643
Thanks for the feedback and testing @nickbianco :+1: Please open an issue regarding changing model marker size and default experimental marker size as they need to be the same (not sure if 10 was consensus/eyeball size in 3.3), and another one regarding the removal/modification to scale experimental marker behavior and we'll discuss/prioritize. Thank you.

[2018-08-10 18:07] aymanhab commented on #643
And since this issue has been actually verified, let's move the issue to proper board.

[2018-08-10 21:12] #840 closed

[2018-08-10 21:13] #657 closed

[2018-08-10 21:26] #919 closed

[2018-08-10 22:46] chrisdembia commented on #86
👍

[2018-08-10 22:50] #86 closed

[2018-08-11 23:55] jimmyDunne opened #949 "External Loads Pane exception thrown when .xml is version=2"
This seems to be a problem between GUI and the API in what constructor to call...

If you use the STOFileAdapter() to write forces to a .mot file, the motion file will have version=2. When I try to use the written mot file with version=2 in the GUI (External Loads Panel)I get an exception from Storage().

Message window shows

The section causing the caught exception in storage seems to be [here](

[2018-08-13 18:10] chrisdembia commented on #949
@aymanhab what is the reason that the GUI passes `readHeadersOnly=true`?

[2018-08-13 18:16] aymanhab commented on #949
@chrisdembia The GUI doesn't actually use anything other than the headers to establish mapping, no need to read/parse a potentially huge file unnecessarily to throw it away.

[2018-08-13 18:18] chrisdembia commented on #949
Thanks @aymanhab then we need to chat about how to fix this in opensim-core.

[2018-08-13 18:41] #869 closed

[2018-08-13 18:46] chrisdembia opened #951 "Making Experimental Data current should be consistent with making models current"
From #643:

To visualize an experimental marker set that has been loaded, you must double-click the file name in the Navigator (e.g. subject01_static.trc). Double-clicking the data object (e.g. ExperimentalData_0) will make that object current, but won't visualize it's marker data. This seems inconsistent with how models are visualized after making them current in the Navigator, and could be confu

[2018-08-13 18:55] chrisdembia opened #952 "Dialog boxes from GUI scripts are small and hard to find"
Raised in #908

[2018-08-13 18:58] tkuchida commented on #164
Not fixed if background is gray. Reported in [Forum Topic 9389](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=9389).

[2018-08-13 20:28] aseth1 commented on #918
closed by https://github.com/opensim-org/opensim-core/pull/2241

[2018-08-13 20:28] #918 closed

[2018-08-13 21:38] carmichaelong commented on #917
Preferences box is much cleaner now on W10 71c8c385-2018-08-11. Mine looks as follows:

![opensimpref](https://user-images.githubusercontent.com/7455790/44059375-fe05d34e-9f05-11e8-95bc-413b25af7590.JPG)

@aymanhab Comparing with the picture and discussion from #948, I may be missing the "Visualizer: Muscle Color Scheme" line. Please let me know if there indeed should be another line or if this is

[2018-08-13 21:48] aymanhab commented on #917
@carmichaelong The preference of color scheme is created on demand when loading a model with muscles. If you still don't see it then I will revisit. Thank you.

[2018-08-13 21:54] carmichaelong commented on #917
Ah, thanks. Popped up with a model:

![capture](https://user-images.githubusercontent.com/7455790/44060213-c7292120-9f08-11e8-8084-852e26242c7e.JPG)

[2018-08-14 16:38] aymanhab commented on #643
@chrisdembia The opensim-core change is in, the opensim-gui change is on branch but the builds on opensim-core master are failing for unrelated reasons. How would we get a build of this PR branch with the latest opensim-core master to test/verify?

[2018-08-14 17:52] carmichaelong commented on #346
@aymanhab
On W10, 71c8c385. One check does not pass:

1. Brick
a) `half_lengths` changes visualize ✔️
b) `quadrants` hidden ✔️
2. Ellipsoid
a) `radii` changes does not visualize ❌
b) `quadrants` hidden ✔️
3. Sphere
a) `radius` changes visualize ✔️
b) `quadrants` hidden ✔️
4. Cylinder
a) `radius` and `half_height` changes visualize ✔️
b) `quadrants` hidden ✔️
5. Cone
a) `height` and `base_radius` c

[2018-08-14 17:57] carmichaelong commented on #690
Fixed on W10 71c8c385.

[2018-08-14 18:01] carmichaelong commented on #854
Tested on W10 71c8c385, can't reproduce

[2018-08-14 19:13] aymanhab commented on #346
Thanks @carmichaelong 👍 Can you send me the model with Ellipsoid that you tested with.

[2018-08-14 19:25] chrisdembia commented on #917
Verifying with OpenSim 71c8c38-2018-08-11 on Mac:

<img width="532" alt="image" src="https://user-images.githubusercontent.com/846001/44113233-3f0d75d4-9fbc-11e8-9f0d-ccf9ca7949b1.png">

1. The preferences window is not large enough by default to fit the full text of the `Option` column.
2. What is the `Paths: Scripts Path` option? Is it necessary? I don't know of any `Scripts` folder in 4.0. I wo

[2018-08-14 19:27] chrisdembia commented on #643
@aymanhab the travis-ci build is passing. For appveyor, we need to temporarily alter the C3D performance test.

[2018-08-14 20:52] aymanhab commented on #917
Thanks for the feedback @chrisdembia
1. Yes we can make it wider but it will likely look sparse since some names are short while others are now much longer,Users can make the trade-off by sliding the column separator.
2. The Paths: Scripts is supposed to be the folder that the GUI uses to locate scripts on first launch but it will change with user selection. It may actually be unnecessary, would b

[2018-08-14 20:54] carmichaelong commented on #346
@aymanhab I packed up the 5 models I used to test in the zip attached:

[geometry_models.zip](https://github.com/opensim-org/opensim-gui/files/2288452/geometry_models.zip)

[2018-08-14 21:04] chrisdembia commented on #917
This preference doesn't seem to have an effect to me, or to be updated when I open a script.

That matches my understanding. But I'm talking about consistency with the default value.

[2018-08-14 21:13] aymanhab commented on #917
I think the rationale for Paths: Scripts was so that you have some scripts available in cascade menu on launch without "browsing", if that doesn't seem to be the case (hard to test on Windows since Preferences do persist) then we should re-evaluate.

The default value for Experimental Marker Size will be "10" without a period with PR to address issue #643 so we should be good after it goes in.

[2018-08-14 22:02] aymanhab commented on #346
Thanks again @carmichaelong the issue is that the part of the fix on threejs repo side wasn't merged to the opensim-gui repo. Will let you know when I have a build to verify that Ellispoid radii behave as expected.

[2018-08-14 23:08] aseth1 commented on #346
@aymanhab

[2018-08-14 23:59] aseth1 commented on #643
See https://github.com/opensim-org/opensim-core/pull/2258

[2018-08-15 01:31] chrisdembia opened #955 "The Scripts preference seems to have no effect"
There's a Scripts Dir preference but it has no effect on the Scripts menu on Mac.

![](https://user-images.githubusercontent.com/846001/44113233-3f0d75d4-9fbc-11e8-9f0d-ccf9ca7949b1.png)

Raised in #917.

[2018-08-15 01:31] chrisdembia commented on #917
@aymanhab thanks for your responses regarding (2) and (4). I've created a new issue for (2).

(3) is somewhat minor.

I would like (1) to be addressed before marking this issue as verified.

[2018-08-15 01:44] aymanhab commented on #346
@aseth1 the original plan was to use generic geometry start/end-angles to allow creation of partial surfaces for decorations (half a cylinder, or part of cone etc.)  There was a complication that WrapObjects create separate Geometry components so there was a potential of quadrants/angles getting out of sync. or that both end up shown to users causing confusion. I didn't want users to get stuck wit

[2018-08-15 06:14] aymanhab opened #957 "Update documentation regarding saving movies"
https://simtk-confluence.stanford.edu/display/OpenSim/Taking+Snapshots+and+Making+Movies
Refers to camera dolly and AVI format from 3.3

[2018-08-15 15:47] jenhicks commented on #957
Issue moved to [opensim-org/opensim-core #2259](https://github.com/opensim-org/opensim-core/issues/2259) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-15 15:47] #957 closed

[2018-08-15 17:53] aseth1 commented on #346
@aymanhab

1. quadrant is unused by all `Geometry` and has no implementations for drawing partial geometry
2. `WrapObject`s do not derive from `Geometry`
3. derived `WrapObjects` have the specific implementations for handling `quadrants` which for most users (including myself) have a confusing meaning and somewhat arbitrary effect.  I am happy to leave them in legacy code, but shoving them into a

[2018-08-15 17:59] chrisdembia commented on #346
I agree that `quadrants` should not be in `Geometry`. When the feature is added, it will be fine to add the property at that time. It should be a fairly quick fix to remove the property.

[2018-08-15 17:59] aseth1 commented on #346
These should simply be different `Geometry` types. It is not the job of a base class to foresee all potential uses and conditions, that is why we can derive,

[2018-08-15 18:02] chrisdembia commented on #917
Thanks @aymanhab I moved this to the VWM pipeline.

[2018-08-15 18:28] chrisdembia commented on #690
Fixed on Mac OpenSim 3d029e5-2018-08-15

[2018-08-15 18:30] chrisdembia commented on #854
Tested on Mac OpenSim 3d029e5-2018-08-15, can't reproduce.

[2018-08-15 18:31] #854 closed

[2018-08-15 18:31] aymanhab commented on #346
@aseth1 these are NOT different geometry types, and using inheritance here would be a grave mistake and fundamental misuse of inheritance. A half cylinder is not a kind-of-cylinder (as subtype) it's a cylinder with different attributes!

[2018-08-15 20:01] aseth1 commented on #346
I don't even think it is a kind of `Cylinder`. It is its own `HalfCylinder` or `PartialCylinder` with its own set of attributes. I was disagreeing with:

But it seems like you agree that these will be very different attributes for different concrete types so it makes no sense having them in the base. Do we agree that `quadrants` has no current use in `Geometry`? If and when such a think is necessa

[2018-08-15 20:04] aymanhab commented on #346
Yes, @aseth1 I agree to remove quadrants from Geometry 😃

[2018-08-15 21:22] chrisdembia opened #959 "[travis] Automatically delete deployed distributions for branches that no longer exist"
Sourceforge has a growing list of GUI builds used to test PRs: https://sourceforge.net/projects/myosin/files/opensim-gui/

To avoid hogging Sourceforge's storage space, we should have an automatic way of cleaning up these files once they are no longer needed.

[2018-08-16 19:23] nickbianco opened #960 "Reporting scaling marker errors separately for anatomical and tracking markers"
Michael Asmussen from the visiting scholars group requested a new feature for reporting marker errors after scaling in the GUI. His comment is below.

"I am trying to scale a model of a person cycling.  During the scaling, I am getting RMS errors of about 4 cm. With my study, I first placed EMG on the participants and then adjusted my clusters of markers on the participant's soft tissue based on E

[2018-08-16 19:37] chrisdembia opened #961 "Restore defaults for preferences"

[2018-08-16 19:39] chrisdembia opened #962 "Allow easily copying the buildnumber from the About dialog."
@aymanhab : We could add something to the scripting shell.

[2018-08-16 19:55] chrisdembia opened #963 "Keyboard shortcut for Save Script is displayed as Ctrl-W but it's actually Cmd-W"
The GUI says to use Ctrl-W to save a script:

<img width="234" alt="image" src="https://user-images.githubusercontent.com/846001/44231604-8aedd500-a153-11e8-8176-821d9102a809.png">

However, on Mac, I have to use Cmd-W (Ctrl-W deletes the preceding word).

[2018-08-16 19:57] chrisdembia opened #964 "Better system for storing and finding development artifacts"
It's hard to find CI artifacts corresponding to a PR. Centrally locating and linking to these artifacts would ease development/testing.

[2018-08-16 21:09] aymanhab commented on #346
https://github.com/opensim-org/opensim-core/pull/2263 has been opened to remove quadrants. After it's merged, I'll remove the code that hides quadrants and then any further testing can be done on the PR branch if needed.

[2018-08-16 22:01] aymanhab commented on #941
I wasn't prompted to install resources on subsequent builds so that part seem to have worked as expected.

[2018-08-17 00:57] aseth1 commented on #483
In https://github.com/opensim-org/opensim-core/issues/2260 we are discussing locking down the XML format for 4.0. Before we do that we may wish to consider proposal **3.** above, which would eliminate some of headache of Components not being.  uniquely named in older models.

We should still warn/popup when there are duplicates, but we could at least eliminates then need to rename in the majority

[2018-08-17 15:02] aymanhab commented on #483
Added comment/preference under https://github.com/opensim-org/opensim-core/issues/2260

[2018-08-17 15:55] aymanhab commented on #941
If anybody has cycles to verify this that would be great. @carmichaelong @jimmyDunne @nickbianco Specifically:
- install build from PR
- Verify you get prompted to installResources on first launch and never after
- Report what you see in About dialog for "Product Version"
I got expected results on my windows machine but would like to see what others see as well.

[2018-08-17 15:56] aymanhab commented on #643
Ready for test/verification of PR build artifact

[2018-08-17 20:15] aseth1 commented on #483
Translating @aymanhab 's comment here:

[2018-08-17 20:16] aseth1 commented on #483
Type uniqueness cannot be guaranteed. If you have a `Socket<Frame>` and you have a `Body` and `OffsetFrame` of the same name, their is a collision. I believe @tkuchida ran into this type of issue so I don't think it is an abstract problem. Especially now that we can have components located anywhere (not required to put them all in Model's sets). It is even more critical that paths be unique.

I gu

[2018-08-17 20:26] tkuchida commented on #483
That sounds reasonable to me. IIRC we discussed having "container" Components that did nothing more than maintain a bunch of children. Creating one such container for each Set (e.g., "ForceSet" -> "ForceContainer") might be a general solution, with the potential to write an algorithm that retains only the containers that are necessary to avoid naming collisions.

[2018-08-17 21:53] aymanhab commented on #483
Thanks for explaining @aseth1 While it sounds like we introduced the duplicates in the case of @tkuchida (since pre 4.0 models didn't have offset-frames), it appears that including the sets in the names is a general solution that will work regardless. As you pointed out the testing of old models, tools and GUI will be a massive task. Also how would the tools/setup-files that have body names, marke

[2018-08-17 22:09] #917 closed

[2018-08-17 22:09] #690 closed

[2018-08-17 22:35] aseth1 commented on #736
Suggestions to be implemented by @jimmyDunne and retested next week. Exclude tutorial 2 and file writing if these remain problematic.

[2018-08-17 22:39] aseth1 commented on #483
To discuss at next planning meeting with @tkuchida and @chrisdembia present

[2018-08-20 20:11] jenhicks commented on #483
Plan for this week:
- What is scope of implementation?
- What are downstream effects on tools and GUI?
Then we will reassess on Thursday

[2018-08-20 20:16] chrisdembia commented on #941
I can fix the CI scripts to avoid the version appearing twice.

[2018-08-20 20:18] jenhicks commented on #736
Creating a new issues for tutorial 2 ...

[2018-08-20 20:19] chrisdembia opened #966 "runTutorialTwo.py causes GUI to crash"
Related to #736.

@aseth1 or @chrisdembia can read through the script to identify likely causes for the crash.

[2018-08-20 20:25] chrisdembia commented on #966
I suspect the issue is `replacePathPoint()`: https://github.com/opensim-org/opensim-gui/blob/be6c2dfbaf114a7edbf1a95d12895c97390a92a7/Gui/opensim/Scripts/runTutorialTwo.py#L57

[2018-08-21 13:51] jimmyDunne commented on #966
I did bring this up in meeting— it is almost certainly because the number of points on ECU_post is greater than the number on ECU_pre.

[2018-08-21 14:18] jimmyDunne commented on #966
I pushed a (apparent) fix [here](https://github.com/opensim-org/opensim-gui/pull/908/commits/710e2f77bb9c7fcdd3c4b43f5ea6ea94b39f5007).

I tested by running the script 10 times in a row in the GUI (clearing the models and plots in between). I didn't get any crashing. I did this on Mac so perhaps someone can test on Windows?

[2018-08-21 16:34] chrisdembia commented on #966
Ah I missed that part of the meeting.

[2018-08-21 17:02] jimmyDunne commented on #966
@chrisdembia, it was my bad—Im just sorry that you guys had to waste some time looking for the issue. Hopefully the changes I propose are a decent fix.

[2018-08-21 17:06] aymanhab commented on #346
@carmichaelong Now all the pieces are there, and you have the models, one more round and we're done and can move it to verified. Thanks

[2018-08-21 17:43] aymanhab commented on #303
@aseth1 Here's the summary of the issues involved since we didn't discuss after the meeting:
Path edits are made of two parts:

- a. API changes to add/remove pathpoints/wrapping/..
- b. Visualization changes to reflect the change in path

In the past in 4.0 I tried to do b. incrementally. This works without wrapping but fails with wrapping since "intermediate" points may need to be added/removed

[2018-08-21 18:46] carmichaelong commented on #346
On W10, c73fa614-2018-08-20: all things check out

1. Brick
a) `half_lengths` changes visualize ✔️
b) `quadrants` hidden ✔️
2. Ellipsoid
a) `radii` changes does not visualize ✔️
b) `quadrants` hidden ✔️
3. Sphere
a) `radius` changes visualize ✔️
b) `quadrants` hidden ✔️
4. Cylinder
a) `radius` and `half_height` changes visualize ✔️
b) `quadrants` hidden ✔️
5. Cone
a) `height` and `base_radius` cha

[2018-08-21 18:47] chrisdembia commented on #643
Should this be in Needs Verifying?

[2018-08-21 18:53] aymanhab commented on #346
Thank you @carmichaelong 🥇 for the verification again and thanks @aseth1 and @chrisdembia for the review. 🎆

[2018-08-22 17:06] scrum2a commented on #643
See #945.

[2018-08-22 17:07] scrum2a commented on #736
Leg39 must be verified.

[2018-08-23 20:02] aymanhab commented on #941
Any volunteers to verify on either Mac or Windows @jenhicks @carmichaelong @nickbianco @jimmyDunne

[2018-08-23 20:39] jenhicks commented on #941
I tried out on Mac. I think everything worked as expected. See images below.

![installresources](https://user-images.githubusercontent.com/4510959/44550751-fc8ccc80-a6d9-11e8-9eb8-8276220b0608.png)
![about](https://user-images.githubusercontent.com/4510959/44550756-ff87bd00-a6d9-11e8-8fdb-e74dfa3cc45a.jpeg)

[2018-08-23 21:08] aymanhab commented on #941
Perfect, thank you @jenhicks

[2018-08-24 15:55] clnsmith opened #969 "GUI crashes if body has no joint"
### Steps to reproduce
Remove joint from Rajagopal .osim model file, but leave body in model file

load model into gui

### Expected result
Should throw error message that no joint exists for XX body

### Actual result
GUI crashes (closes)

### Environment and GUI version
Windows 10
OpenSim ff2804eb-2018-08-16

[2018-08-24 17:26] chrisdembia commented on #969
Thanks for reporting. This is likely an `opensim-core` issue.

[2018-08-24 17:32] aymanhab commented on #969
Thanks @clnsmith
If you send/attach crash log file it will make it easier to track what call caused the crash (during model deserialization) in case tis doesn't reproduce easily.

[2018-08-24 19:35] clnsmith commented on #969
In trying to recreate, I found this too:

In a custom joint if the coordinate in the transform axis does not match a coordinate in the model

[code]

You get an intuitive message from the gui:
![image](https://user-images.githubusercontent.com/1234687/44603849-672a2f00-a7e4-11e8-9c1e-29556f338e70.png)
![image](https://user-images.githubusercontent.com/1234687/44603920-a35d8f80-a7e4-11e8-93de-d93a1

[2018-08-24 19:43] aymanhab commented on #969
Why would you call a coordinate test_tz_typo 😃
I think the moral of the story is the same though, low level SimTK::Exceptions need to be caught and thrown as OpenSim::Exceptions so that the GUI can present them in user friendly dialogs.

[2018-08-24 19:49] clnsmith commented on #969
So it looks to be a little harder to recreate than my original post suggests.

Attached is a model  and corresponding long file that causes the crash. In trying to recreate the error I made another model with bodies with no joints, and it doesn't crash (also attached), so not sure of the exact cause anymore.

[crash.zip](https://github.com/opensim-org/opensim-gui/files/2319675/crash.zip)

[2018-08-24 20:27] chrisdembia commented on #941
Verified on Windows 4.0-2018-08-23-480caf33.

[2018-08-24 22:21] aymanhab commented on #303
My conjecture was that the issue had to do with adding new pathpoints that fell inside wrapping. Since this has been fixed by https://github.com/opensim-org/opensim-core/pull/2268 and other editing operations were fixed by https://github.com/opensim-org/opensim-gui/pull/967 and what I tried worked as expected, it would be great to have another pair of eyes check if there're still issues with editi

[2018-08-27 18:05] chrisdembia commented on #955
The behavior of the `getScriptsDir()` command and of the Scripts preference are documented on Confluence:

- https://simtk-confluence.stanford.edu:8443/display/OpenSim/Common+Scripting+Commands
- https://simtk-confluence.stanford.edu:8443/display/OpenSim/Scripting+in+the+GUI

Directories are relative to the OpenSim installation Directory (e.g. Specifying "MyScripts" will look for scripts in the fo

[2018-08-27 19:33] chrisdembia commented on #303
I no longer see the issues @aseth1 mentioned (orphaned point).

[2018-08-27 20:46] aymanhab commented on #963
The issue is that using Cmd-W in configuration files causes it to disappear altogether because it conflicts with another built-in NetBeans command. I can try to look for a different combination (this is not code change, it's a configuration file change)

[2018-08-27 21:52] nickbianco commented on #643
Retested the changes made in #945, which has already been merged to master. Moving to Verified on Windows.

[2018-08-27 23:45] carmichaelong commented on #303
Tested on W10 with OpenSim 4.0-2018-08-27-ae111a49. Used the Rajagopal model from the models repo and checked on gas_lat_r using the parameters @aseth1 used. I also did not see the issues mentioned. Separately, however, each change (e.g., add point, delete point, move point) did take some time between applying the change and visualizing in the GUI (~5-10 seconds).

[2018-08-28 00:41] chrisdembia commented on #303
I had a slight delay too; not quite 10 seconds.

[2018-08-28 00:42] chrisdembia commented on #963
Ah yes usually `Cmd-W` is Close Window.

[2018-08-28 01:07] aymanhab commented on #963
Any other shortcuts to try?

[2018-08-28 17:41] chrisdembia commented on #949
@aymanhab have you already started working on this? I could look into it.

[2018-08-28 17:56] aymanhab commented on #949
Not yet but I can work on it today. Let me know if there's anything else that came up in scrum that's higher priority

[2018-08-28 18:02] chrisdembia commented on #949
Nothing else came up.

[2018-08-28 18:02] chrisdembia commented on #949
Okay I will work on other things then.

[2018-08-28 18:10] aymanhab opened #972 "Artifact uploaded from travis build should have standard naming convention"
### Steps to reproduce
As of now the latest build of master branch creates opensim-latest.pkg making it harder to track actual build if multiple are downloaded.

### Expected result
pkg name is on the form "OpenSim-4.0-2018-x-x-zzzzzz.pkg"

### Actual result
"opensim-latest.pkg"

(include screen grabs where appropriate)

### Environment and GUI version

[2018-08-28 18:10] chrisdembia opened #973 "GeometryPath editor"
### Steps to reproduce

1. Open arm26.osim.
2. Select the most anterior path point of the BICshort muscle.
3. Open the GeometryPath editor for BICshort.
4. In the Visualizer, move the location of the selected path point.

### Expected result

Values of X, Y, and Z columns in the GeometryPath editor are updated to the new location of the path point in the visualizer.

### Actual result

The values

[2018-08-28 18:45] aymanhab commented on #949
How do I get a version 2 .mot file @chrisdembia @jimmyDunne

[2018-08-28 20:59] aymanhab commented on #942
Model files have hardcoded white (1, 1, 1)so change of default color is not an option!

[2018-08-28 21:26] chrisdembia commented on #949
@aymanhab I created the attached file using the `STOFileAdapter`.

[subject01_walk_grf_version2.mot.txt](https://github.com/opensim-org/opensim-gui/files/2329891/subject01_walk_grf_version2.mot.txt)

[2018-08-28 21:28] aymanhab commented on #949
Thanks @chrisdembia

[2018-08-28 21:40] chrisdembia commented on #963
`Cmd-D`?

[2018-08-28 21:41] chrisdembia commented on #963
Here are the existing keyboard shortcuts that the GUI lists:

<img width="740" alt="image" src="https://user-images.githubusercontent.com/846001/44752639-71904580-aad0-11e8-89f1-38ea3980a54f.png">

I don't see `Cmd-D` above.

[2018-08-28 21:44] aymanhab commented on #949
PR https://github.com/opensim-org/opensim-gui/pull/974 does away with using the optimized constructor. Please use the build of this PR @jimmyDunne to check if you get the correct behavior from ID, other tools downstream.

[2018-08-28 21:47] chrisdembia commented on #972
@aymanhab I think it's named `OpenSim-master.pkg` (`OpenSim-latest.pkg` is the old name). This is done to avoid using up too much space, and to easily track which build comes from which PR.

If we want to change behavior, it'll be easy to do, but we should then have an automated way of deleting builds from Sourceforge.

[2018-08-28 21:48] chrisdembia commented on #942
Which models are hardcoded?

[2018-08-28 22:01] aymanhab commented on #942
All models under Gait2392_Simbody, Gait2354_simbody,  gait10dof18musc folders for example I didn't go through all others  but it looks like some earlier automation/conversion must have saved them this way.

[2018-08-28 22:03] aymanhab commented on #972
If we had the date as part of the pkg file name then we can either auto or manually remove builds that are a week old for example.

[2018-08-28 22:30] aymanhab opened #975 "Remove all references to vtk in GUI code and remove vtk module"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2018-08-28 22:50] chrisdembia commented on #643
On Mac The default Experimental Marker Radius preference is 5.0 for me on a fresh install of 4.0-2018-08-27-088a48d.

<img width="654" alt="image" src="https://user-images.githubusercontent.com/846001/44755139-b1a7f600-aad9-11e8-913f-5a7223565b5d.png">

Everything else works as expected.

[2018-08-28 23:07] chrisdembia commented on #709
@jimmyDunne thank you so much for that hint. I think the [Contexts](https://contexts.co) app is the culprit for me.

[2018-08-28 23:18] chrisdembia commented on #951
Verified on Mac.

[2018-08-29 17:43] aymanhab commented on #963
Ctrl-D works fine on Windows, will make PR and see if it shows and works on osx.

[2018-08-29 20:54] aymanhab commented on #962
This has been folded into PR #950

[2018-08-30 01:55] #962 closed

[2018-08-30 15:54] aymanhab opened #979 "Windows uninstaller leaves behind shortcuts in Start Menu"
### Steps to reproduce
install any distribution artifact in 4.0, uninstall, directories are removed but shortcuts in startup menu are left behind
### Expected result
shortcuts in startup menu are removed
### Actual result
shortcuts in startup menu are left behind
(include screen grabs where appropriate)

### Environment and GUI version

[2018-08-30 17:37] aymanhab commented on #736
@jimmyDunne I'll merge latest master since there're many fixes already there that we don't need to chase unnecessarily. Please let me know otherwise.

[2018-08-30 17:38] aymanhab commented on #949
@jimmyDunne If you can try this branch artifact with actual version 2 file that would be great since I tested with a manufactured file provided by Chris.

[2018-08-30 17:41] chrisdembia commented on #643
Verified on Mac.

[2018-08-30 20:49] jimmyDunne commented on #643
Marker default is 10 on 4.0-2018-08-30-a33ffc9. Looks much better!!

[2018-08-31 16:27] aymanhab commented on #966
@jimmyDunne @chrisdembia is this issue resolved?

[2018-08-31 16:38] chrisdembia commented on #966
I tested locally just now and the issue seems fixed. I was able to run `runTutorialTwo.py` 4 times without the GUI crashing. Closing.

[2018-08-31 16:38] #966 closed

[2018-08-31 17:53] chrisdembia opened #984 "Analyze Tool dialog Directory dialog does not allow creating a new folder"
### Steps to reproduce

For the Analyze Tool dialog, click the folder icon for the output directory.

<img width="844" alt="screen shot 2018-08-31 at 10 51 39 am" src="https://user-images.githubusercontent.com/846001/44928208-09c63e80-ad0c-11e8-8a25-58fead5bf57c.png">

### Expected result

Dialog allows you to create a new folder.

### Actual result

Dialog does not have option to create a new fol

[2018-08-31 20:54] jimmyDunne commented on #709
That's frustrating since Contexts looks really useful. Do you have to shut it down every time you want to use the OpenSim GUI?

[2018-08-31 20:56] aymanhab commented on #736
@jimmyDunne do you think this can be safely moved to Needs Verification?

[2018-08-31 21:29] chrisdembia commented on #709
That's what I've been doing today. I might reach out to the Contexts developer to see if they have any ideas.

[2018-08-31 21:32] aymanhab commented on #709
Is it related to JxBrowser or Java or NetBeans? this would be a common known problem I'd think

[2018-08-31 21:33] aymanhab commented on #709
Or could be related to the number of threads we spawn on Mac (through the other third-party libraries)?

[2018-08-31 21:45] chrisdembia commented on #709
This is related to the Visualizer window / JxBrowser.

Why would number of threads be an issue?

[2018-08-31 21:54] aymanhab commented on #709
I'm trying to think of system resources that different processes are competing for, we know JxBrowser spawns many threads, we can try to limit that if this is the issue or just build a stripped down app with only JxBrowser and see if it plays nicer with these applications.

[2018-08-31 22:11] #643 closed

[2018-08-31 22:11] #963 closed

[2018-08-31 22:12] #346 closed

[2018-08-31 22:13] #941 closed

[2018-08-31 22:14] #303 closed

[2018-08-31 22:15] #951 closed

[2018-08-31 22:31] scrum2a opened #986 "Add option for movie recording to start only on motion playback (not continuous)"

[2018-09-01 00:44] chrisdembia commented on #709
I emailed the Contexts developer.

[2018-09-04 15:50] aymanhab commented on #465
This issue came up again with BJ trying to load/show his Robot arm model in 4.0
https://simtk.org/tracker/?func=detail&atid=322&aid=2684&group_id=91

[2018-09-04 18:04] aymanhab commented on #465
Using the simtk/API visualizer reproduces the bad/smoothed out geometry as expected!

[2018-09-04 20:30] jenhicks commented on #949
OK to merge the PR and close this issue

[2018-09-05 17:51] aymanhab commented on #815
This has been fixed by other fixes and no artficial kinks are obaserved.

[2018-09-05 18:10] #949 closed

[2018-09-05 18:47] aymanhab commented on #816
Verfied fixed on windws

[2018-09-05 18:51] aymanhab commented on #817
@tkuchida issue has been verified fixed, restore works as expected in this scennario

[2018-09-05 18:58] chrisdembia commented on #815
Verified on Windows 4.0-2018-09-04-a2736979

[2018-09-05 18:58] #815 closed

[2018-09-05 20:44] chrisdembia commented on #816
Verified.

[2018-09-05 21:52] nickbianco commented on #736
I'm working on testing on Windows. However, the Leg39 model is not in the opensim-models branch currently on master. @aymanhab could you update to the correct commit so the Leg39 model is included in the master builds of the GUI?

[2018-09-05 22:01] aymanhab commented on #736
https://github.com/opensim-org/opensim-gui/pull/988

[2018-09-06 16:07] jenhicks opened #989 "Update FAQ Page"
https://simtk-confluence.stanford.edu:8443/display/OpenSim/Frequently+Asked+Questions

[2018-09-06 16:12] jenhicks opened #990 "Update sections on preparing and previewing data"
https://simtk-confluence.stanford.edu:8443/display/OpenSim/Preparing+Your+Data This section should be updated and the last couple pages are missing navigation. May want to make a separate issue for this one.

https://simtk-confluence.stanford.edu:8443/display/OpenSim/Previewing+Motion+Capture+%28Mocap%29+Data

[2018-09-06 17:59] jenhicks commented on #989
I took a pass and made a few updates and deleted a few questions that were no longer relevant. @aymanhab It would be helpful if you could take a pass, as well.

[2018-09-06 19:36] aymanhab commented on #989
@jenhicks I updated the sections related to installation, visualization. Not sure Scripting is up-todate and import/export data still has TODOs Let me know how you want to handle the remaining sections.

[2018-09-06 19:43] aymanhab commented on #979
I fixed this last week in PR #980

[2018-09-06 19:46] aymanhab commented on #907
Fixed last week.

[2018-09-06 19:52] #907 closed

[2018-09-06 22:31] chrisdembia commented on #979
I just tested locally and indeed the start menu items are gone. However, the desktop shortcut remains.

It would also be nice to give users an option about whether or not to create a desktop shortcut.

[2018-09-06 23:35] chrisdembia commented on #483
This should now be under Needs Verifying, correct?

[2018-09-07 01:56] aymanhab opened #992 "Slow refresh of Path display upon structural edits or Restore"
### Steps to reproduce
Add, remove or change type of a PathPoint then do Restore, the path takes up to few seconds to redraw.

### Expected result
instant redraw
### Actual result
takes up to few seconds to redraw
(include screen grabs where appropriate)

### Environment and GUI version

[2018-09-07 22:45] aymanhab commented on #992
I'm investigating a fix, if it turns out to be limited scope fix then I'd make it into 4.0, otherwise post 4.0. I understand and support that we don't make far reaching changes at this point.

[2018-09-10 17:53] carmichaelong opened #994 "Crashes occur while changing a Joint's sockets for parent/child frame"
### Steps to reproduce
**Case 1**
1. Open arm26.osim
2. Navigate to r_shoulder
3. Change PhysicalFrame:parent_frame to r_ulna_radius_hand (then click in visualizer window to accept)
4. Hit OK for all error messages.
5. Change PhysicalFrame:parent_frame to any other frame (e.g., ground) (then click in visualizer window to accept)
6. See crash log below

[hs_err_pid18932.log](https://github.com/open

[2018-09-10 19:38] aymanhab commented on #994
Possible solutions that don't require significant API change/work:

1. Disable editing Frames specifically for Joints (this is unintended new functionality anyway)
2. Disable creating invalid Trees by filtering out upstream Frames.
3. Introduce API methods to call/check before making destructive changes.

Any other suggestions/ideas?
Other than option 1, we'll need to write custom code to handle J

[2018-09-11 00:51] aseth1 commented on #994
I believe this is the same/related issues as #529 and #587.

[2018-09-11 01:16] aseth1 commented on #994
I disagree with it being unintended functionality. In fact the point of introducing Connectors back in 2014 was to facilitate some form of model editing/building beyond property editing.

If we knew for sure what would lead to an invalid tree we would make  `MultibodyGraphMaker` more robust to begin with.

The API does not claim to provide a valid tree and does not return an invalid model. It thro

[2018-09-11 17:49] carmichaelong commented on #994
Another related but more tangential issue is #850. This makes editing a Joint's socket more error prone.

[2018-09-11 23:13] nickbianco commented on #736
I've tested the scripts with recent fixes on Windows 10, AppVeyor build 1.0.1834, artifact 4.0-2018-09-10-be111ccc. Everything worked fine except for `runMultipleIKTrials.py`, where one of the MOT files wasn't being printed to the results directory.

I went ahead and created PR #997 to address the issue, which was related to not creating the results directory prior to running the IK tool.

[2018-09-12 00:36] carmichaelong commented on #817
Tested both scenarios on W10 OpenSim 4.0-2018-09-10-be111ccc. Verified that both scenarios work as expected (no crash in first case, restore via to fix in second case).

[2018-09-12 17:05] aymanhab commented on #994
@aseth1 I did more investigation into this, and I suspect the issue is that
MultibodyGraphMaker::bodies is not cleared on subsequent calls to initSystem(), causing the model to be in "limbo" state and initSystem to fail. Can you clarify when is this supposed to be cleared/created so I can dig a bit deeper? Thanks

[2018-09-12 17:41] nickbianco commented on #736
Retested with the fix from #997 on AppVeyor build 1.0.1843, Windows 10. `runMultipleIKTrials.py` is working fine now.

Now that all scripts are tested, I'm moving this issue to Verified on Windows and Mac.

[2018-09-12 18:16] aseth1 commented on #994
Thanks @aymanhab I'll look into this.

[2018-09-13 22:32] chrisdembia opened #998 "In Plotter file selector, cannot select C3D files by default"
### Steps to reproduce

1. Tools > Plot.
2. Right-click "Y-Quantity".
3. Navigate to a folder containing a C3D file.

### Expected result

I can select a C3D file.

### Actual result

I cannot select a C3D file by default.
<img width="662" alt="image" src="https://user-images.githubusercontent.com/846001/45519497-27fb5800-b76a-11e8-888f-5f541fe5a343.png">

If I click the "File Format" dropdown and

[2018-09-14 01:13] chrisdembia commented on #989
I took a first pass at updating the Scripting section and addressing the TODOs.

![image.png](https://images.zenhubusercontent.com/549329337c6ccc6277a6ab20/a90ddefb-81df-4166-8f65-96566b13bb22)

I'll move this to Needs Verifying.

[2018-09-14 01:18] tkuchida commented on #989
IIRC, the Plotter was able to access only the first table in the C3D file; if still the case, perhaps mention here or direct the reader to more information (e.g., where known limitations and plans for future development are listed)?

[2018-09-14 01:32] chrisdembia commented on #989
Updated.

[2018-09-14 22:03] #816 closed

[2018-09-14 22:04] #736 closed

[2018-09-14 22:05] #817 closed

[2018-09-17 21:34] chrisdembia commented on #989
This is ready for verifying.

[2018-09-18 05:27] aymanhab commented on #998
@chrisdembia Is default .c3d, or .C3D will likely allow both but wanted to know if there's standard conevtion

[2018-09-18 06:48] chrisdembia commented on #998
I'd say .c3d.

[2018-09-18 06:48] chrisdembia commented on #998
I don't know if there is a convention specific to C3D files, just that file extensions are usually lowercase.

[2018-09-19 16:55] jenhicks commented on #989
Looks good ... moving to verified. Thanks!

[2018-09-19 20:00] aymanhab opened #1001 "Create CustomJoint from Scripting"
Current scripts do not support CustomJoint or EllipsoidalJoint, some users may prefer to create these over supported types. Need to create such function as described in PR #999 if needed.

[2018-09-20 01:38] carmichaelong opened #1002 "Files with .py extensions are described as "Unrecognized File" in GUI"
### Steps to reproduce
1. Open a GUI script (Scripts --> Open...: Code/GUI)
2. Look at bottom right pane

### Expected result
Some description that makes it seem like a .py file isn't weird to the GUI.

### Actual result
![py_unrecognized](https://user-images.githubusercontent.com/7455790/45790722-1bc83c80-bc3b-11e8-96cd-fa8ebdba41e2.JPG)

### Environment and GUI version
W10, OpenSim 4.0-2018-09-1

[2018-09-21 18:26] carmichaelong opened #1003 "Possible improvements for ModelBuilder scripts"
#999 does a good job of simplifying the interface for model building via GUI scripting. Some suggestions for further improvement:

1. Add other methods to wrap current ones to remove the need to pass in a `model`.
- I think users with less coding experience may have trouble with thinking about getting a model object and passing it in correctly.
2. Make it less error prone to invoke `loadModel()`.

[2018-09-22 01:45] aseth1 commented on #994
@aymanhab if you were initializing an object by calling an initialization routine and it threw an exception, during that process would you continue to use that object as if nothing happened? What guarantees would you have that its internals were even defined at all? This is what is happening in your test context examples. You are asking the model to initialize internal members (system and state) a

[2018-09-24 17:58] aymanhab commented on #994
@aseth1 Thanks for the investigation. Things that you need to keep in mind:
1. Model is used by the GUI and can't be thrown away as any non-toy API program would do. Practically there're references to the model in other places, we can't just throw it away!
2. Assigning values from cachedModel (which I tried by the way) doesn't help either since it just copies properties, restoring the value of the

[2018-09-24 18:11] aseth1 commented on #994
This is not correct. This assumes that only one property or internal member was affected. You do not know what has to happen internally to build a valid topology. Yes connectToModel does change the model. Reverting to the previous will work. I tried it.

[2018-09-24 18:15] aymanhab commented on #994
If by reverting you mean assign the values using the = operator, then please update the test case and it will pass and we're done. Thank you!

[2018-09-24 18:36] aseth1 commented on #994
It will work. Test only fails because you are holding onto to sockets and other internals that are on old model. Why would expect these to persist if the model is reverted?

[2018-09-24 18:53] aymanhab commented on #994
So, let me clarify, the sockets are created anew when initSystem is called so we shouldn't hold on to a reference to a socket?

[2018-09-24 18:56] aseth1 commented on #994
A socket belongs to a Component. The socket will persist as long as the Component does.

[2018-09-24 19:21] aseth1 commented on #994
The is non persistence issue a consequence of the operation: Set A = Set B.  Set A does not point to the objects in B, they are cloned. So the shoulder reference in your test case is now "dead" even if I use the = operator. If you get a reference to the component or its socket in A, you are fine.

[2018-09-24 20:28] aymanhab commented on #994
That was informative @aseth1 👍  Thank you. I'll look into it again with your comments in mind. I'm not sure how we documented that users shouldn't hold on to a State across initSystems in the past but it seems API users (including the GUI) should be aware of more of these objects. It would be great if that's documented somewhere.

[2018-09-26 21:22] carmichaelong opened #1004 "Attempting to run IK on a model without markers, then trying to open the Plotter crashes GUI"
### Steps to reproduce
1. Open gait2392_simbody.osim
2. Open IK tool
3. Load subject01_Setup_IK.xml
4. Click "Run", then close the dialog box.
5. Click on Tools --> Plot

### Expected result
Plotter window shows up

### Actual result
GUI crashes, window disappears and no error log is generated.

### Environment and GUI version
W10 OpenSim 4.0-2018-09-19-14410c3d, originally found while testing #98

[2018-10-01 16:19] jimmyDunne commented on #990
Updated Sections and fixe navigation

[2018-10-01 17:35] jenhicks commented on #990
Thanks @jimmyDunne  . I reopened so that someone could give the updates a quick review. I can take a look. Unless someone else already did?

[2018-10-01 18:34] scrum2a opened #1008 "Test common GUI workflows"
We have made a bunch of changes to core and GUI since the last time we did user testing of the GUI. We should use the GUI artifact for the sets change. Download it by clicking "Details" next to "appveyor/pr" here: https://github.com/opensim-org/opensim-gui/pull/1005

- [x] tutorials (5 pts, Carmichael successfully tested Tug of War with OpenSim 4.0-2018-10-01-76939822)
- [x] tools that use Externa

[2018-10-01 18:47] scrum2a opened #1009 "Fix visualization of path points in the change to sets"
@aymanhab raised this in the sprint review.

[2018-10-01 19:12] jenhicks commented on #990
Thanks for working on this James. Here is some feedback:

- Update overview page to clarify compatibility with C3D.
- Update "Next" link on the overview page (should point to "Collecting Experimental Data"
- Maybe call the page "C3D Files" to better match naming of other pages in this section.
- Move C3D page to follow .sto page in the tree
- Would it be possible to make the page a little bit more

[2018-10-01 20:28] aymanhab commented on #1008
Trying to load leg6dof9musc model included with build, got message about knee_angle_pat_r wrong coordinate type. Not sure if this is specific to this build or master version of model is out of date as well.

[2018-10-01 20:30] aymanhab commented on #1008
@aseth1 @jimmyDunne I'm looking into MarkerSet issues now

[2018-10-01 20:36] aseth1 commented on #1008
leg6dof9musc from models repo loads without error, but the one distributed with the build does.  Seems specific to the build.

[2018-10-01 20:38] aymanhab commented on #1008
Saving works fine but loading saved markers fails and throws exception

[2018-10-01 20:40] aseth1 commented on #1008
I would not use `ModelComponentSets` for the display purposes in the GUI. If you just need a collection use `Set`s.  `ModelComponentsSet`  is an integral part of a Model not just a bag of pointers.

[2018-10-01 20:57] aseth1 commented on #1008
Previewing marker data fails. Seems to be the same failure for `BodySet`, `ForceSet`, etc... likely related to `MarkerSet`.

[2018-10-01 21:08] aymanhab commented on #1008
Thanks @aseth1 I tried calling connectToModel on these sets and that seemed to resolve the problem, what would be the downside? Remember that templates do not pass through SWIG so if we want a different typed container we'll have to instantiate it for every type or get a generic container safedowncast downstream.

[2018-10-01 21:53] aymanhab commented on #1008
@aseth1 The nodes in the Navigator are all backed exclusively by OpenSimObject so a generic Java container will not do the trick without major rework. Before this change all Sets and Groups derived from OpenSim::Object and changing this now would be quite disruptive.

[2018-10-01 21:57] aseth1 commented on #1008
I see. Thanks for clarifying. I think it is OK to SWIG wrap the specific `Set` instances that you need.

[2018-10-01 22:54] jimmyDunne commented on #990
Thanks, @jenhicks. I have made edits form your suggestions. Let me know if there is anything else I can add/change.

https://simtk-confluence.stanford.edu/display/OpenSim/Preparing+Your+Data

[2018-10-01 23:08] jenhicks commented on #990
Thanks @jimmyDunne . These updates look good. Moving to verified ...

[2018-10-02 17:57] aymanhab commented on #1008
Looking further into the MarkerSet issues:
- Removal from the Set uses the generic Set operation (since there's no ModelComponentSet remove), resulting in removal being broken, downstream effects of trying to load Marker with same name fails.

[2018-10-02 18:08] aymanhab commented on #1008
Trying to make PathPointSet into a plain Set to avoid extra 'pathpointset' on every pathpoint's path 😄 which leads to longer path and extra level of ../ still in progress.

[2018-10-03 18:07] scrum2a commented on #1008
@carmichaelong Muscle Tug of War

[2018-10-03 21:09] aymanhab commented on #1008
The change to PathPointSet appears to be working (since ownership was restored to previous state). Change was committed to branch.

[2018-10-03 22:55] carmichaelong opened #1010 "In Foward Dynamics, "Time range to process" changes to "0 to 1" when changing a file in the Input section"
### Steps to reproduce
1. Navigate to Tools --> Forward Dynamics
2. Change "Time range to process" to something other than "0 to 1"
3. Load either a) Tug_Of_War/Tug_of_War_Millard_controls.xml into "Controls" or b) Tug_Of_War/TugOfWar_Milliard_initial_states.sto into "Initial State"

### Expected result
"Time range to process" does not change

### Actual result
"Time range to process" changes to "

[2018-10-03 23:04] tkuchida commented on #510
I also recommend changing the default duration to something less than 1000 seconds. An extremely long duration might make sense if the simulation/animation were being computed/displayed in real time, but they are not.

[2018-10-04 17:36] aymanhab commented on #1009
I believe this has been fixed by my commit to revert PathPointSet to a Set of Objects

[2018-10-04 17:40] aymanhab commented on #1008
MarkerSet issue exposes a bigger hole that's outside the scope of this issue/PR. Sets have built in methods to add/remove which are accessible as properties but the changes don't propagate to the component-tree.
The GUI uses the sets exclusively to access Markers, same for the tools so changes to component-tree is irrelevant. I strongly recommend we document the caveat rather than try to significa

[2018-10-04 23:51] carmichaelong commented on #1008
Finished muscle tug of war successfully. Added note in the first post that it's completed.

[2018-10-05 17:48] aymanhab opened #1011 "Preview trc files specified in meters is incorrect"
### Steps to reproduce
Reported by BJ Fregly student, converted file to mm and it worked.

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2018-10-05 17:50] aymanhab commented on #523
Also reported by BJ Fregly

[2018-10-05 17:53] jenhicks commented on #1011
Should we put this on the 4.0 path?

[2018-10-05 18:02] aymanhab commented on #1011
Definitely

[2018-10-05 18:07] jenhicks commented on #1008
@jimmyDunne Do you have updates on tutorials testing? Which ones are you testing?

@aseth1 Have you tested the tutorials? Any updates to report?

[2018-10-05 18:58] aymanhab commented on #523
@jenhicks

[2018-10-05 20:29] jenhicks commented on #523
I'm leaning towards waiting on this one, though welcome to hear what others think.

[2018-10-05 20:36] chrisdembia commented on #523
I agree with waiting.

[2018-10-06 00:36] aseth1 commented on #1008
I tested creating and using external Tools and ran into only one issue that I reported in #1005:

[2018-10-06 00:38] aseth1 commented on #1011
Can you post the .trc file that revealed the issue?

[2018-10-06 00:41] aseth1 commented on #523
Any thoughts, preferences?

If you can note it to message the user could you not refresh the window at that time so it is not even noticeable to the user?

[2018-10-06 16:44] aymanhab commented on #1011
[drive_kick1_fixed_reordered_scaled.txt](https://github.com/opensim-org/opensim-gui/files/2452621/drive_kick1_fixed_reordered_scaled.txt)

[2018-10-08 17:00] jimmyDunne commented on #1008
I have tested all the introductory examples and they seem to be working. There are some minor issues, but they are things that have either previously existed (Choppy motion from dragging the motion scroller) or don't hinder the example (Messages that MuscleAnalysis() is unable to evaluate muscle dynamics when plotting muscle forces or generated moments)

Tutorial SImulation-Based Design to Prevent

[2018-10-08 21:08] aymanhab commented on #1008
@jimmyDunne can you attach or link to the file that you have problem editing so we can try in different builds? Thanks

[2018-10-08 21:47] aseth1 commented on #1011
I was able to verify that this is a marker preview (associate motion) issue, by running IK with the data and the Rajagopal model.
![opensim_kick_video](https://user-images.githubusercontent.com/6494122/46635352-f8413500-cb08-11e8-87b9-edf149f71ff9.gif)

[2018-10-10 13:19] jimmyDunne commented on #1008
I have gone through the examples and now move back to working on the master branch. Thanks.

[2018-10-12 17:42] aymanhab commented on #994
@carmichaelong when we have a build please feel free to check all edits to joints, possibly using the model building utilities and related issues linnked above. Would also be good to keep track if error messages make sense. Thank you 💯

[2018-10-12 18:07] aseth1 commented on #1011
As of PR #1012 (artifact OpenSim-4.0-2018-10-12-ba06a01b) we are able to preview both markers in *m* (red) and in *mm* (blue) below and seems to have no effect on GRFs (green) even though all conversion is now multiplicative (as a conversion factor should be).
![image](https://user-images.githubusercontent.com/6494122/46885974-55413180-ce0e-11e8-9f17-328b4aa547f3.png)

[2018-10-12 18:17] #990 closed

[2018-10-12 18:21] #483 closed

[2018-10-12 18:28] #1009 closed

[2018-10-12 18:34] scrum2a opened #1013 "Mac app icon is gone, and name of app is lowercase "opensim""
@aymanhab may have inadvertently edited an Ant/Netbeans config file.

[2018-10-12 18:35] scrum2a opened #1014 "Allow users to change port number for Visualizer"
Rather than force users to use port 8002, allow users to change the port number.

Can use a flag in opensim.conf.

[2018-10-12 18:56] scrum2a opened #1015 "Plan/brainstorm 4.0 webinar"

[2018-10-12 18:57] scrum2a opened #1016 "Update Upgrade notes for redefining joint definitions for motion_type"
https://simtk-confluence.stanford.edu:8443/display/OpenSim/Upgrade+Notes+for+OpenSim+4.0

This page has a TODO for redefining joint definition motion_type.

[2018-10-12 21:31] #1013 closed

[2018-10-12 22:56] aymanhab commented on #1013
Thanks @chrisdembia I didn't download the artifact and run on osx, I assume you did and it worked. Thanks again 🥇

[2018-10-12 22:59] chrisdembia commented on #1013
Yes I did.

[2018-10-15 18:14] scrum2a commented on #1008
@aseth1  can you make separate issues?

[2018-10-15 18:33] carmichaelong opened #1018 "Child/parent frame sockets cannot disambiguate between two frames with the same name"
Testing was done using arm26.osim on W10 Pro with OpenSim 4.0-2018-10-12-3071a2d5:

Now with the Joint upgrade code always adding two offset frames, the pull-down for child/parent frame for Sockets has two frames with the same name (note both `base_offset` and `r_humerus_offset` below):
![socket-same-names](https://user-images.githubusercontent.com/7455790/46970126-0f35d900-d06d-11e8-9248-2c6019c6

[2018-10-15 18:36] carmichaelong opened #1019 "Parent/child frame of a joint can be edited in two locations"
![image](https://user-images.githubusercontent.com/7455790/46970603-6be5c380-d06e-11e8-9b4b-3ae4e96691ba.png)

With arm26 on W10 Pro with OpenSim 4.0-2018-10-12-3071a2d5. Both the Property and Socket stay in sync and seem to behave as expected, but having both may confuse some users.

[2018-10-15 18:39] carmichaelong opened #1020 "Confusing error message for certain invalid joint parent/child frame configurations"
1. Open arm26
2. Navigate to Joints --> offset
3. Change `PhysicalFrame:child_frame` to `r_ulna_radius_hand_offset`
4. Message of "Reason: Assigned an invalid SimTK::MobilizedBodyIndex" may be unclear to users
![image](https://user-images.githubusercontent.com/7455790/46970741-d860c280-d06e-11e8-9354-4d0cce5cfd5c.png)

W10 Pro, OpenSim 4.0-2018-10-12-3071a2d5

[2018-10-15 18:41] aymanhab commented on #1019
Thanks for reporting @carmichaelong In the past we actively filtered these out to avoid duplication but the change to socket property names apparently broke that filter and caused them to slip through.

[2018-10-15 18:42] carmichaelong commented on #994
W10 Pro with OpenSim 4.0-2018-10-12-3071a2d5:

I used arm26 and tried many combinations of `child_frame` and `parent_frame` for the three Joints using the Sockets pull-down menu. In all cases, either the model respected the change or an exception was thrown, and the GUI did not crash. I opened other issues that were observed during testing, but I think this issue and other linked issues have been

[2018-10-15 18:44] aseth1 opened #1021 "RRA produces adjusted model with ExternalLoads that crashes upon loading and RRA tool is crashing on launch"
### Steps to reproduce
- load `subject01_simbody.osim` from OutputReference of gait2354 tutorial
- run RRATool with provided setup file and select input motion from OutputReference
- load the adjusted model, *subject01_simbody_adjusted.osim*, generated by RRA (fails)

### Expected result
- `ExternalLoads` does not appear in the RRA adjusted model file and model loads in GUI without issue

### Actu

[2018-10-15 20:34] aymanhab commented on #1020
@carmichaelong thanks for reporting. I will look into that once other changes to ComponentPath are done since AbsolutePath may get shorter and become usable or a mechanism to disambiguate may be more applicable then. Just a heads up.

[2018-10-15 20:37] aseth1 commented on #1021
related to #1008

[2018-10-15 21:58] aymanhab commented on #1008
Deletion of Markers should be fixed due to PR #1023

[2018-10-15 22:38] aymanhab commented on #1021
@aseth1 Thanks for the fix, is there work to be done on the GUI side as well? My understanding is that the RRA adjusted model now doesn't have ExternalLoads but the GUI should still not crash if the user creates a valid model with ExternalLoads, has this been addressed? Thanks.

[2018-10-16 00:28] aseth1 commented on #1021
@aymanhab I verified with OpeSnim4.0-2018-10-12-ba06a01b on Windows that the model with ExternalLoads does not crash the GUI and correctly appear in the navigator. In https://github.com/opensim-org/opensim-core/pull/2314 I fix the issue of RRA producing an adjusted model containing the `ExternalLoads` added by the Tool.

[2018-10-16 14:41] jimmyDunne commented on #1016
I added some information (details from @aseth1, from a previous thread) to the documentation.

[2018-10-16 17:54] aymanhab commented on #1021
Thanks @aseth1 so I think this can be moved to need verifying

[2018-10-16 18:34] aymanhab opened #1024 "Analyze tool should disable or warn users on invalid/incomplete inputs"
### Steps to reproduce
Running IAA analysis and BodyKinematics analyses (at least) on "motion" input rather than full states results in wrong or meaningless answers, users are not informed.

### Expected result
If analyses expect full state input, this should be communicated to the users clearly rather than give bogus answers based on implicit assumptions

### Actual result
Analyses run and give m

[2018-10-16 18:44] aseth1 commented on #1024
I would make  the case that we should ONLY have a *states* file as input for all our adhoc Analyses and throw/popup if the state trajectory provided is incomplete. Users can provide partial states, e.g. motion files, in which case, we let users know what assumptions will be made (use default values, compute equilibrium for muscles, etc...).

[2018-10-16 23:14] carmichaelong opened #1025 "Cannot change a Marker's parent_frame using Socket drop-down menu"
1. Open leg39
2. Navigate to any marker
3. Try to change the `PhysicalFrame:parent_frame` Socket to anything else
4. Exception is thrown that the Component can't be found:
![image](https://user-images.githubusercontent.com/7455790/47052730-813a1b00-d15e-11e8-9020-019d03cc324a.png)

W10 Pro, OpenSim 4.0-2018-10-16-6011b19b

[2018-10-16 23:18] carmichaelong opened #1026 "Drop-down menu for a Marker's parent_frame is populated with the current Model's Frames rather than its own Frames"
1. Open leg39
2. Open arm26
3. Navigate to leg39 -> R.ASIS
4. Open drop-down menu for Socket --> `PhysicalFrame:parent_frame` and note that the `Frame`s for arm26 are shown rather than leg39
![image](https://user-images.githubusercontent.com/7455790/47052828-f3aafb00-d15e-11e8-878f-04a74d4dfedd.png)

W10 Pro OpenSim 4.0-2018-10-16-6011b19b

[2018-10-17 22:16] aymanhab commented on #1018
This should address issues #1018, #1025, leftover of #825

[2018-10-18 16:51] nickbianco commented on #1021
Testing this on Windows 10, [AppVeyor build 1.0.1899](https://ci.appveyor.com/project/opensim-org/opensim-gui/builds/19593779/artifacts).

After loading the model, clicking `Reduce Residuals...` in the drop down crashes the GUI. This is true for any model that I try in the Models folder, not just `subject01_simbody.osim`.

[2018-10-18 18:44] aymanhab commented on #1026
This actually occurs in 3.3 as well, still a bad bug 🔥

[2018-10-18 19:02] jenhicks commented on #1021
@aymanhab The same happens for me. CMC + SO + Forward + Analyze also crash when trying to launch. Scale, IK, ID are ok.

OpenSim 4.0-2018-10-17-f9ad640

[2018-10-18 19:11] aymanhab commented on #1021
Thanks for reporting @jenhicks
The stack trace points to ExternalLoads_getExternalLoadsModelKinematicsFileName()
Any clue why that would crash now @aseth1 based on the recent updates to ExternalLoads?
I'll build a debuggable environment to get to the bottom of it anyway.

[2018-10-18 21:55] aymanhab commented on #1021
@jenhicks I got to the bottom of this.

The issue boils down to the following: in the past AbstractTool (used as base class for all tools that crash now but not ID) used to have a member  _externalLoads that the GUI used to query to populate the form/dialog. This member was removed in https://github.com/opensim-org/opensim-core/pull/2285 and replaced with a reference initialized to nullptr (Dynami

[2018-10-19 02:05] aymanhab commented on #1021
@chrisdembia I changed the estimate based on what I know now since testing the variety of tools that use ExternalLoads is a signficant undertaking, that is after I investigate and find a fix.

[2018-10-19 19:54] aseth1 commented on #1021
There is no use of the pointer in the API or test cases. If it is vital for GUI operation there should be uses cases in testOpenSimContext or in the java related scripts so I know to update or to let you know.

[2018-10-19 20:05] aymanhab commented on #1021
@aseth1 I was referring to the tests we made on the integrated GUI and API build with the change to sets that didn't show the issue, you actually tested that yourself.

On further investigation, the change in PR #2285 is not what's causing the crash but rather the change in PR #2315 which absolutely has no business changing tools based on the PR title (Fix bug in inducedAccelerationSolver). I'm te

[2018-10-19 21:05] #994 closed

[2018-10-19 21:07] #1008 closed

[2018-10-19 21:15] #1019 closed

[2018-10-19 21:15] #1018 closed

[2018-10-19 21:16] #1025 closed

[2018-10-19 21:30] aseth1 commented on #1021
The change was made in https://github.com/opensim-org/opensim-core/pull/2314 and was just merged into #2315.

[2018-10-19 22:01] aseth1 commented on #1021
@aymanhab thanks for explaining the reasoning for having a live data member instead of a reference. I did not know that it was there as scratch space to support building ExternalLoads in the GUI. Let's restore the data member for that purpose, and also leave the reference pointer so that I can keep track of the ExternalLoads that gets added to the model, so it can be removed so that this issue doe

[2018-10-22 16:17] aymanhab commented on #1021
Rolling back the change in  https://github.com/opensim-org/opensim-core/pull/2314 allows the tools to open but restores the crash at the end of RRA as expected, also exposes another problem with external loads described in https://github.com/opensim-org/opensim-core/issues/2324
Not sure this is the only other side effect of refactoring ExternalLoads, still exploring/testing

[2018-10-22 16:47] jenhicks opened #1028 "Write abstract to advertise webinar"
Due October 30

[2018-10-22 16:54] jenhicks opened #1029 "Create intro slides"

[2018-10-22 16:55] jenhicks opened #1030 "Visualizer demo: develop and test workflow"

[2018-10-22 16:55] jenhicks opened #1031 "C3D and Outputs Demo: Develop and test workflow"

[2018-10-22 16:56] jenhicks opened #1032 "Pendulum Model: develop and test workflow"

[2018-10-22 16:57] jenhicks opened #1033 "Create Closing Slides"

[2018-10-22 18:10] scrum2a commented on #1032
Include didactic parts about Frames and Sockets.

[2018-10-22 18:44] scrum2a opened #1034 "Update Matlab scripting documentation for osimList2MatlabCell()"

[2018-10-22 18:48] scrum2a commented on #1031
@jenhicks can use the following build to avoid issues with ExternalLoads: https://sourceforge.net/projects/myosin/files/opensim-gui/OpenSim-make_set_as_component.pkg/download

[2018-10-22 18:52] scrum2a opened #1035 "Test fallout from ExternalLoads"
- Read in 3.3 version and 4.0 version.
- Create ExternalLoads from scratch.
- Test with and without data_source that exist.
- With and without the kinematics_for_external_loads.
- Use tools.
  - InverseDynamics.
  - CMC, RRA, Analyze (Static Optimization).
- Filtering for kinematics_for_external_loads.

[2018-10-23 01:10] chrisdembia opened #1036 "Update ModelBuilder.py for sets being components"
This line in ModelBuilder.py should be updated so that the example still works, given that sets are now components:

https://github.com/opensim-org/opensim-gui/blob/f9ad640d243aacdf825a8c2345fb7fa5c150ce48/Gui/opensim/Scripts/ModelBuilder.py#L32

[2018-10-23 17:32] aymanhab commented on #1030
@jenhicks Are the models/data files available on dropbox or somewhere we can start trying things out? Thanks

[2018-10-23 17:41] jenhicks commented on #1030
The latest version of the files are here (from World Congress):
Dropbox/OpenSim Documentation/conference-exhibits/WCB2018

I will probably make some tweaks for the webinar, but those are a good starting point.

[2018-10-24 09:22] modenaxe commented on #355
I don't know if this is useful, but I had the same issue the other day after installing OpenSim 4 (2018-08-27 executable) in a windows 7 (ultimate, sp1) virtual machine (VirtualBox) on my laptop running Ubuntu 18.04.

[2018-10-24 18:29] jimmyDunne commented on #785
This issue has re-appeared on the current Master build. I will demonstrate at the scrum tomorrow.

[2018-10-25 02:06] aymanhab commented on #1021
Verified the dialogs open and the tools run as expected (except for editing old ExternalLoads files #2324). Spot check results look ok.

[2018-10-26 21:38] jenhicks commented on #1028
I drafted an abstract here:
https://docs.google.com/document/d/1ET_qzyjsO1BK_7YT_4nTdU_cqyLTx3yz398WA1MKKBM/edit#

We should finalize by Tuesday (Oct 30) morning to allow us to start advertising the webinar.

@aymanhab @aseth1 @tkuchida (and anyone else who would like to provide feedback)

[2018-10-29 16:06] jenhicks commented on #1028
Thanks for the helpful suggestions @tkuchida .

[2018-10-29 19:51] jenhicks commented on #1028
Thoughts on a title?

[2018-10-29 19:51] jenhicks commented on #1028
One idea: Jumping into OpenSim 4.0

[2018-10-29 20:07] tkuchida commented on #1028
"Jumping (and swinging)…" to include the pendulum example? 🐸 🐒

[2018-10-29 20:13] aymanhab commented on #1028
Swinging (as in trying to hit) may not give the right connotation ;)

[2018-10-29 20:41] tkuchida commented on #1028
It would be swinging *into* (https://idioms.thefreedictionary.com/swing+into+action).

[2018-10-29 21:10] #1026 closed

[2018-10-29 21:11] #1029 closed

[2018-10-29 21:11] #1033 closed

[2018-10-29 21:14] scrum2a commented on #1028
@aseth1 will prepare a model building demo for tomorrow (may present on his own laptop).
title: Jumping into OpenSim 4.0

@aymanhab will do the visualizer demo on Jen's machine.

[2018-10-29 23:17] aymanhab commented on #1035
As of now the jumper's static optimization setup fails dereferencing the null forceData because getDocument() returns false. Need more investigation. (@chrisdembia that's the reason behind the so crash)

[2018-10-30 18:21] jimmyDunne commented on #1034
@carmichaelong @chrisdembia, if you can review and edit [my edits](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Scripting+with+Matlab#ScriptingwithMatlab-Usingamodel's%22Lists%22throughiterators)?

[2018-10-30 23:31] jimmyDunne commented on #1034
Yep, I am a dumb-dumb that forgot already that we changed it. Thanks!!

I have updated accordingly, sorry for the time waste.

[2018-10-31 17:13] carmichaelong commented on #1034
No worries at all. Thanks for updating. I also added a mention of the file into the Utilities table above to highlight it more.

[2018-10-31 17:56] chrisdembia commented on #1021
The workflow above now causes the following error:

[code]

Mac 4.0-2018-10-31-f21f17f

[2018-10-31 17:57] chrisdembia commented on #1021
Nevermind; I just needed to run IK first.

[2018-10-31 18:00] chrisdembia commented on #1021
Verified on Mac.

[2018-11-01 01:19] chrisdembia commented on #1035
RRA runs fine if I remove the `external_loads_model_kinematics_file` option, even if a filtering frequency is still specified.

**BUG**: The GUI crashes if the `datafile` field is empty. I'm investigating a fix.

[2018-11-01 02:48] chrisdembia commented on #1035
I tested the following GUI scripts and they ran without error:

- alterTendonSlackLength
- editProperties
- plotMuscleFiberLengthAgainstFile
- runMultipleIKTrials
- runScaling

I ran the following and it had an error (not a big deal):

- [ ] plotMuscleMomentArmAgainstMotion
<img width="981" alt="image" src="https://user-images.githubusercontent.com/846001/47829687-e50b3900-dd45-11e8-8867-c192f34bc

[2018-11-01 02:54] chrisdembia commented on #1035
I tested creating an ExternalLoads from scratch in the GUI and had no issue.

[2018-11-01 15:48] jimmyDunne commented on #1035
runTuTorialThree crashes the GUI out entirely. Am investigating now....

[2018-11-01 17:56] aymanhab commented on #1035
Thanks @jimmyDunne since crashes can only happen on core, I'm guessing it's the same issue that @chrisdembia fixed already in PR https://github.com/opensim-org/opensim-core/pull/2350
Will test after merging.

[2018-11-01 21:40] aymanhab commented on #1035
@jimmyDunne @aseth1 @chrisdembia The fundamental problem, looking at this script is that it does initSystem on the the model loaded in the GUI. This creates a new State object that backs the current model and makes the state that the GUI relies on for display corrupt/dissociated. All problems are  downstream effects, that's why in all other cases we clone the model first to begin.

[2018-11-01 22:58] aymanhab commented on #1035
@chrisdembia Did you update the setup file not to include a model file?

[2018-11-01 23:10] chrisdembia commented on #1035
@aymanhab no

[2018-11-01 23:15] aymanhab commented on #1035
Thanks, would be good to have @aseth1 do that in his environment so there are no confounding factors.

[2018-11-02 00:01] aseth1 opened #1044 "Crashes due to Tools modifying models, their system or state"
### Steps to reproduce
See #1035 where running *runTutorialThree.py* causes the GUI to crash because the Tool mangles the model that the GUI has a handle to and its underlying system (or state) is invalid.

### Expected result
Running Tools in the scripting shell has not impact on models in the GUI.

### Actual result
GUI crashes.
(include screen grabs where appropriate)

### Environment and GUI v

[2018-11-02 17:53] aymanhab commented on #1036
@aseth1 are you modifying the script while making the pendulum model? If not I can take this over. Please let me know.

[2018-11-02 18:33] #1034 closed

[2018-11-02 18:35] #1021 closed

[2018-11-02 18:39] aymanhab commented on #1014
@chrisdembia if we merge this on both repos, GUI first then opensim-visualizer then it should be no op to application, then we can test changes port number afterwards. Thoughts?

[2018-11-02 19:07] aymanhab commented on #1004
This boils down to InverseKinematicsSolver adding a Kinematics analysis to the model that lives on the stack that goes out of scope but is not deleted when the exception is thrown, leaving the model stuck with a stale pointer.

[2018-11-02 19:38] aseth1 commented on #1036
Yes, I'v been modifying it.

[2018-11-02 19:49] chrisdembia commented on #1014
Sounds good. Go ahead.

[2018-11-02 22:46] aseth1 commented on #1044
I have tested a fix where `Tool::setModel(model)` makes a copy of the model so that the Tool and the GUI do not have a handle to the same model. This seems to work in the API and Scripting just fine, but as @aymanhab mentioned in the scrum today, some Tools like IK can no longer animate since the Analyses the GUI adds are not accessible eventhough IK runs generates and a motion file, no results ar

[2018-11-02 23:21] chrisdembia commented on #1044
I support taking runTutorialThree.py out of our 4.0 release.

[2018-11-03 01:05] aymanhab commented on #1044
I'm ok with removing  runTutorialThree.py though my preference would be to fix it/document it particularly if it was included in earlier versions (3.3) and as it sounds per @jimmyDunne it is actually useful, so users can actually do it correctly.

I agree it looks bad indeed when a user can crash the application but scripting is assumed to be for advanced users so we need to weigh the flexibility

[2018-11-05 17:08] aymanhab commented on #1004
Fixed on opensim-core side, PR https://github.com/opensim-org/opensim-core/pull/2354

[2018-11-05 17:11] aymanhab commented on #1014
PR to opensim-gui has been merged. usage by opensim-visualizer is in PR https://github.com/opensim-org/opensim-gui/pull/1047

[2018-11-05 18:19] carmichaelong commented on #1004
Still have the same behavior on W10 Pro using OpenSim 4.0-2018-11-05-7253fe33. Is forcing an update on AppVeyor not working as intended?

[2018-11-05 18:35] carmichaelong commented on #1004
Ah, that makes sense. Definitely forgot to check if core built correctly. Thanks @chrisdembia

[2018-11-05 19:11] scrum2a opened #1048 "Re-re-re-test everything"
@jimmyDunne can you copy in our previous checklist? 697?

[2018-11-05 19:12] jimmyDunne commented on #1048
## API Examples (from #1297)
- [x] Script to build a template actuators (see PR #541 (Shrinidhi)
- [ ] Convert dynamic walker example (C++ @chrisdembia,  MATLAB @jimmyDunne)
- [x] Convert hopper example (Chris)
- [ ] Convert between Millard and Thelen muscle models  (Ayman)
- [x] Pendulum with markers; output marker locations (James)
- [x] Plot muscle curves (James)
- [x] Show how to use the DataT

[2018-11-05 19:13] scrum2a commented on #1048
@jenhicks we'd like to have a small testing party with local users (Scott U., Rachel Jackson, Apoorva, Jenny, etc.). What do you think? When would be a good time? Wednesday?

[2018-11-05 19:19] #1035 closed

[2018-11-05 19:31] scrum2a commented on #1014
@chrisdembia will send out instructions for testing.

[2018-11-05 20:28] chrisdembia commented on #1014
To test:

1. Place the following in <opensim-install>/etc
[OpenSim.conf.txt](https://github.com/opensim-org/opensim-gui/files/2550468/OpenSim.conf.txt) (rename to `OpenSim.conf`).
2. Ensure the visualizer still works (load a model, make sure it shows up in the GUI).
3. Open a web browser and navigate to `http://localhost:8999/threejs/editor/index.html` and ensure the visualizer shows up here. Make

[2018-11-05 20:37] chrisdembia commented on #1044
I submitted #1049.

We should not close this issue when #1049 is merged, because #1049 is just a temporary workaround. We can simply move this issue out of the sprint.

[2018-11-05 21:56] chrisdembia commented on #1014
I performed the steps above on Mac and everything worked as expected.

[2018-11-06 01:03] nickbianco opened #1050 "Arm26 CMC example: missing files"
### Steps to reproduce
Ran the [CMC example on confluence](https://simtk-confluence.stanford.edu/display/OpenSim/Example+-+Computed+Muscle+Control
) with the arm26 model.

### Expected result
Normal coordinate tracking behavior.

### Actual result
#### Weird tracking result
In the second main section labeled "Changing the Desired Kinematics", the tutorial asks you to modify the inverse kinematics

[2018-11-06 03:53] aseth1 commented on #1050
@nickbianco can you run the example in 3.3 and verify that the same behavior is occurring. I saw similar behavior just running forward in 4.0 the muscle points seem default to origin when the state is NaN and that is a bug! But, it was also returning NaN in 3.3 so the result may not be a bug although not a great example to be putting out there.

[2018-11-06 10:18] clnsmith commented on #892
I'm also missing this feature. Would be great if you could have the view track a body during playback (ie watch the knee up close during walking).

[2018-11-06 16:56] jimmyDunne commented on #1048
I have adjusted the Structure (Beginner, Intermediate, Advanced) based on suggestions from the team.

Dynamic walker Example has been moved to Advanced but is currently hidden since we will do significant refactor after release.

[2018-11-06 17:11] nickbianco commented on #1050
@aseth1 just tested on 3.3 and I get a similar error. Towards the end of the simulation the disappears, and the whole model disappears if you try to rotate it.

[2018-11-06 17:16] aymanhab commented on #1050
Thanks Nick, these are different ways to handle NaNs. In 3.3 we were
allowed to set garbage transforms causing model to disappear, now we're
limited to sensible rigid body transforms for bodies but path points are
computed as difference between 2 Nans which end up as 0 🤗 the fix should
be upstream rather than handling garbage and NaNs in state but that's not
on the table for 4.0.

On Tue, Nov 6, 2

[2018-11-06 17:33] nickbianco commented on #1050
Alright. For now we could remove the section from the confluence example where the user edits the kinematics by hand.

[2018-11-06 18:31] aymanhab commented on #1014
@carmichaelong Thanks for testing. Browsers are nasty in caching URLs, so if that worked once I'd assume we're good. we're not publicly supporting using the browser anyway. Can you use a different browser (Chrome, Firefox,etc...)?

[2018-11-06 18:35] carmichaelong commented on #1014
I just did a few steps that seem to agree with the caching issue:
1. Went to port 8999 again. It opened up the visualizer.
2. Hit Shift+F5 to force a full refresh. Visualizer doesn't show up.

[2018-11-06 19:22] #1028 closed

[2018-11-06 19:30] jenhicks commented on #1050
Make sure the issue of drawing paths with NaNs is still open

[2018-11-06 19:37] aymanhab commented on #1050
File is also missing in 3.3 distribution

[2018-11-06 19:38] aymanhab commented on #1050
https://github.com/opensim-org/opensim-gui/issues/762

[2018-11-06 19:56] chrisdembia commented on #1050
Should we move this issue out of the sprint then?

[2018-11-06 20:05] chrisdembia commented on #1048
Some of the items in the list seem like examples to create or that we've been working on that are not yet in the release (not just testing). I've put a strikethrough through some of these.

[2018-11-07 00:20] aseth1 commented on #843
Ran into this issue again during model building demo for webinar practice.

[2018-11-07 07:58] chrisdembia opened #1051 "Tools > Forward Dynamics... > Save... saves an empty ("default") setup file"
### Steps to reproduce

1. Open Tools > Forward Dynamics...
2. Set the "Initial State field to "blah".
3. Click Save... and save the setup file somewhere.
4. Open the saved setup file in a text editor.

### Expected result

- Setup file contains the text "blah" somewhere.

### Actual result

- Setup file is "empty"

[code]

### Environment and GUI version

Mac 4.0-2018-11-06-f854814

[2018-11-07 07:59] chrisdembia commented on #1048
I encountered https://github.com/opensim-org/opensim-gui/issues/1051 while testing Tug-of-War.

[2018-11-07 08:07] chrisdembia commented on #1051
Weird...I cannot reproduce this.

[2018-11-07 08:07] #1051 closed

[2018-11-07 10:01] sebastianskejoe commented on #960
+1

I believe this was also the behaviour in 3.3. If a marker was disabled in Static Pose Weights, it would not by included when calculating the RMS. In 4.0 all markers are included even if they are disabled.

[2018-11-07 18:30] nickbianco commented on #1050
The actuator constraints are missing in 3.3, but it would be nice to include in the 4.0 distribution. The confluence tutorial would benefit from having the actuator constraints section.

[2018-11-07 18:58] nickbianco commented on #1050
I created the control constraints file if someone with a GUI environment wants to create a PR:
[arm26_ControlConstraints.txt](https://github.com/opensim-org/opensim-gui/files/2558762/arm26_ControlConstraints.txt)

[2018-11-07 19:16] jenhicks opened #1052 "Plotting can change position of the model"
### Steps to reproduce
Load the wrist model
Plot the flexion moment arm as a function of flexion for the pre/post ECU
Close the plot and change the elbow flexion angle.

### Expected result
Wrist flexion does not change

### Actual result
Wrist flexes

(include screen grabs where appropriate)

### Environment and GUI version
Mac OpenSim 4.0-2018-11-06-f854814

[2018-11-07 19:16] jenhicks opened #1053 "Sync up tutorials 1,2,3 we distribute with any final changes on confluence"
For example, I changed tutorial 2 so that we don't tell people to give the model an invalid name.

[2018-11-07 19:18] jenhicks opened #1054 "You can rename a model with invalid characters"
### Steps to reproduce
Load wrist model
Change name to Wrist Model - Tendon Surgery

### Expected result
Error or warning and name doesn't change to something invalid

### Actual result
Invalid name shows up in the navigator and error (red stop sign) doesn't occur until later (e.g., when editing a muscle path).

(include screen grabs where appropriate)

### Environment and GUI version
OpenSim 4.0-

[2018-11-07 20:05] jenhicks opened #1055 "Tutorial 3 includes a kinematics file in external loads set-up"
We should remove for this tutorial and any other examples we distribute

[2018-11-07 20:07] jenhicks opened #1056 "Null pointer exception when saving external loads file and then cancelling"
### Steps to reproduce
Load Gait2354
Launch Inverse Dynamics tool
Load included set-up file
Click button to edit external loads specification
Click Save
When dialog box appears click cancel

### Expected result
No error

### Actual result
Red stop sign shows up, indicating a null pointer exception

(include screen grabs where appropriate)

### Environment and GUI version

[2018-11-07 20:41] carmichaelong opened #1057 "Commas appear in "Static Pose Weights" in Scale Tool"
### Steps to reproduce
1. Open 2354
2. Load scale setup file
3. Go to Static Pose Weights --> R.ASIS (under markers)
4. Note that "Weight" has a comma in it: "1,000"
5. Try to change it to "8,000": doesn't work
6. Try to change it to "8000": works

### Expected result
Either the "Weight" box doesn't give the user a comma in the box OR commas can be accepted

[2018-11-07 21:23] carmichaelong opened #1058 "IK: When using "folder icon" to specify output file, a file that does not exist is not accepted"
### Steps to reproduce
1. Open IK tool
2. Click the "folder icon" to specify output file name
3. Try any name of a file (that doesn't exist)

### Expected result
The box fills correctly with the file specified.

### Actual result
The file is not accepted because it does not exist
![image](https://user-images.githubusercontent.com/7455790/48161780-44aa9c80-e290-11e8-8b75-75f45e1dc98e.png)

### Envi

[2018-11-07 21:34] jimmyDunne commented on #1055
Changes will be made on opensim-models repo

[2018-11-07 21:38] nickbianco commented on #1050
@jimmyDunne do yo thang

[2018-11-07 21:48] chrisdembia opened #1059 "Plotting can change the position of the model"
https://docs.google.com/spreadsheets/d/1E9Em79S5Y52hfAePmK-XcvTcPYwFWQBSchYemuWYTfE/edit#gid=1519816561

[2018-11-07 21:48] #1059 closed

[2018-11-07 21:49] chrisdembia opened #1060 "Using GUI to change marker positions: new positions are not saved"
https://docs.google.com/spreadsheets/d/1E9Em79S5Y52hfAePmK-XcvTcPYwFWQBSchYemuWYTfE/edit#gid=1519816561

[2018-11-07 21:52] chrisdembia opened #1061 "SO: tool fails the first time in the Static Optimization Example"
SO example: Static Optimization tool crashes the first time it is run (followed steps, saved settings file, then ran -> "tool execution failed or canceled by user"). Then when you close static optimization and reopen it, and load the saved settings file, the tool works.

https://docs.google.com/spreadsheets/d/1E9Em79S5Y52hfAePmK-XcvTcPYwFWQBSchYemuWYTfE/edit#gid=1519816561

[2018-11-07 21:53] chrisdembia opened #1062 "Geometry is not always shown"
Cara ran into this during the testing session today.

https://docs.google.com/spreadsheets/d/1E9Em79S5Y52hfAePmK-XcvTcPYwFWQBSchYemuWYTfE/edit#gid=1519816561

Chris also saw similar issues when using Arnold's model from SimTK.

[2018-11-07 21:53] chrisdembia commented on #1062
I don't think the issue is simply binary VTPs.

[2018-11-07 21:54] chrisdembia commented on #1062
Should get warnings about not finding geometry.

[2018-11-07 21:58] nickbianco commented on #1061
Confluence example: https://simtk-confluence.stanford.edu/display/OpenSim/Working+with+Static+Optimization

[2018-11-07 21:59] nickbianco commented on #1061
@carmichaelong will narrow down the issue in the SO confluence example

[2018-11-07 22:09] aymanhab commented on #1062
Trying to load vtp file produces
Visualizer couldn't open hat_ribs_scap.vtp because:
SimTK Exception thrown at PolygonalMesh.cpp:411:
  Error detected by Simbody method PolygonalMesh::loadVtpFile(): Attempt to load a VTK PolyData (.vtp) file from file name 'c:\Users\Ayman-NMBL\Downloads\FullBodyModel\FullBodyModel\Geometry\hat_ribs_scap.vtp' failed with message:
  SimTK Exception thrown at Polygon

[2018-11-07 23:13] carmichaelong opened #1063 "On Windows, for ID, Forward, RRA, CMC, Analyze, the default output directory uses "\"s"
### Steps to reproduce
1. Open any model
2. Open ID, Forward, RRA, CMC, or Analyze tool
3. Look at the default name given for the output folder

### Expected result
A path with "/"s

### Actual result
A path with "\"s

### Environment and GUI version
Windows ONLY. Mac correctly has "/"s in path.

[2018-11-08 00:16] chrisdembia commented on #1062
Why should we ensure it happens only once?

I had issues with getting femur geometry to show up for Arnold's model (from SimTK), which didn't come with a Geometry folder, and I didn't get any error messages.

[2018-11-08 00:19] aseth1 opened #1064 "Able to run ScaleTool without model markers which leads to downstream Exception"
### Steps to reproduce
Use any model with markers and setup ScaleTool without measurements but selecting a markers file where necessary.  Run.

### Expected result
Expect the Run button to remain disabled until there are model markers that can match specified measurements OR manual scale factors are supplied without input marker data.

### Actual result
Free to hit Run, which produces:
(include sc

[2018-11-08 02:54] chrisdembia opened #1065 "Consider placing shared libraries within org-opensim-modeling.jar"
We can place all our DLLs/SOs in Gui/opoensim/modeling/release/modules/lib and then not have to set java.library.path, and then Matlab users would not need to set PATH (unless they want to use the simbody-visualizer).

[2018-11-08 04:50] chrisdembia commented on #1062
[subject02_scaled_AHv3_FV1D_Vx15_ad0104_pf10_2F.osim.zip](https://github.com/opensim-org/opensim-gui/files/2560356/subject02_scaled_AHv3_FV1D_Vx15_ad0104_pf10_2F.osim.zip)

[2018-11-08 08:59] aymanhab commented on #1062
@chrisdembia Early in 4.0 we were issuing warnings of bad or missing files on every frame, I'm just saying the warning should be issued one per missing file and only on model loading.

Change is minimal to this line/block depending on how much detail to provide
https://github.com/opensim-org/opensim-core/blob/3f55e1334ea3063604a7b3d924fd993f955021d6/OpenSim/Simulation/Model/Geometry.cpp#L264

[2018-11-08 09:17] aymanhab commented on #1057
This is in the upper left corner of the panel and not in the table? Can you confirm? Thanks

[2018-11-08 16:43] jenhicks commented on #1064
Is this a new bug to 4.0?

[2018-11-08 16:51] jimmyDunne opened #1066 "External Loads file needs full path to file otherwise exception"
### Steps to reproduce
Use an External loads setup file that has a relative path to a force file where the path requires traversing up in the directory structure

### Expected result
Tool runs

### Actual result
Tool reports that the force file cannot be found

User Report-

### Environment and GUI version
MAC and Windows

[2018-11-08 17:20] chrisdembia commented on #1057
Upper right corner of the panel, not in the table.

[2018-11-08 17:21] chrisdembia commented on #1062
I think we've already fixed that; the warning is only issued once as far as I know.

[2018-11-08 18:08] aymanhab commented on #1064
@jenhicks The comparison is hard because there are multiple scenarios that disable run button which basically does high level check on consistency of options (you could have no markers and manual scale all segments). Interestingly the exception is thrown by InveseKinematicsSolver and IK in 3.3 and 4.0 both allow the user to run and throw the same exception, except it's handled differently and show

[2018-11-08 19:22] aymanhab commented on #1066
@jimmyDunne Find out what version the user is trying since this has changed significantly since the last publicly posted beta

[2018-11-08 19:41] aymanhab commented on #1060
@chrisdembia I just loaded arm26, saved it in 4.0, changed the location of a marker and saved and the changes were saved. There must be a specific scenario to reproduce. Any details? @carmichaelong can you reproduce? Thank you

[2018-11-08 20:36] aymanhab commented on #1063
@carmichaelong @chrisdembia is this an issue because we try to use the same files cross platform? We use paths returned by file browsers as is but maybe we need to store in unix only form so that they are cross platform, or just use Mac 😄

[2018-11-08 21:35] carmichaelong commented on #1063
Exactly, we thought that this might be an issue depending on how they are saved in setup files so that they could be used cross platform. I haven't done any testing to specifically check how these paths are stored in files from a Windows machines yet, though.

[2018-11-08 21:50] chrisdembia opened #1073 "Update GUI License on Confluence"
Our GUI license has changed and we should update https://simtk-confluence.stanford.edu:8443/display/OpenSim/License+for+OpenSim+3.0+and+Later to reflect that.

Perhaps the fact that the GUI is now open source should be mentioned in the release notes?

[2018-11-08 21:52] chrisdembia commented on #1063
Fixing this would be fantastic, because it's very common for users to send around non-portable setup files. However, I think this can be addressed after the 4.0 release.

[2018-11-08 21:52] chrisdembia commented on #1060
@carmichaelong let me know if you want to work together on reproducing this.

[2018-11-08 22:02] aymanhab commented on #1060
For the record, I tested only editing the numbers in the Properties panel and not other ways (e.g. Graphically dragging or changing the Frame the marker is attached to, or loading Markers from file and editing or creating a new Marker and edit 😸 ) Would be good if a witness can help us narrow the search path.

[2018-11-08 22:02] chrisdembia commented on #1060
The issue was specifically moving the marker graphically. Sorry that wasn't clera.

[2018-11-08 22:40] carmichaelong opened #1074 "IK Tool allows "Motion File" with any (or no) file extension"
Fall out from #1058.

The "correct" behavior is debatable. One possible behavior:
- Throw an error if a file with an extension not ".mot" or ".sto" is given. If no file extension, assume either ".mot" or ".sto"

I don't think this is critical for 4.0.

[2018-11-08 22:46] aymanhab commented on #1061
There're two issues at play here:
1. Loading the data file for external loads, this has been moved to opensim-core and boils down to trying to load the file while in the wrong folder.
2. GUI not accounting for SO failing and it tries to load activations to color muscles regardless!

Issue 2 is fixed by PR https://github.com/opensim-org/opensim-gui/pull/1075

[2018-11-09 00:57] chrisdembia commented on #1060
I am having some difficulty reproducing the situation.

Rachel was also saying the issue is sporadic; it doesn't always happen.

Whether or not a marker is fixed can also complicate the matter.

@rwj1 could I come by the HPL to observe the bug?

[2018-11-09 00:59] carmichaelong commented on #1060
@chrisdembia FYI I also haven't been able to reproduce yet.

[2018-11-09 06:08] chrisdembia commented on #1061
I am starting to look into the opensim-core fix. Feel free to take it over for me though; I'm not sure hwo far I'll get.

[2018-11-09 17:31] aseth1 commented on #1061
In 1. the data is loaded the second time around by the API, so why does it fail the first time?

It seems like there might be a difference between the working directory when editing the Setup in the GUI (failure) versus expecting the Tool (ExternalLoads) to load the data (which works). My sense is that when editing, the GUI either checks for existence and/or changes the working directory. When run

[2018-11-09 18:13] chrisdembia commented on #1061
I think that the pathway, below, of changing the working directory to the location of the ExternalLoads XML file is never exercised, because we are always operating on a copy of ExternalLoads (in the model) that no longer has a document.

https://github.com/opensim-org/opensim-core/blob/2c60796f4ebd4ad50cdee23d0ff99cd73ec67d2a/OpenSim/Simulation/Model/ExternalLoads.cpp#L184-L199

[2018-11-09 18:30] aseth1 commented on #1061
Yes we clone the ExternalLoads because we cannot have the same ExternalLoads live be part of two models. We need a secondary model to perform the transformation using kinematics for external loads.

I am not sure how this explains how we are correctly applying ExternalLoads in the Tools (or at least tests are passing), in cases where the path is specified relative to the setup file.  Is it that al

[2018-11-09 18:31] aymanhab commented on #1060
@chrisdembia @carmichaelong @jenhicks I'm woking on a fix to refresh the text faster and allow undo, but it is not clear if related or if it should be in this last sprint. Let me know your thoughts.

[2018-11-09 18:44] chrisdembia commented on #1061
I'm working on a fix. I think it will be easier to discuss during the daily scrum.

[2018-11-09 18:45] carmichaelong commented on #1052
Replicated issue with arm26 and then tested that this was fixed in OpenSim 4.0-2018-11-08-ca20f56c.

@chrisdembia you mentioned this before, should there be another issue made for this (for after 4.0)?

[2018-11-09 18:53] chrisdembia opened #1077 "Opening a tool window changes the pose of a model (if a motion is loaded)"
If I have loaded a motion with my model and then I put the model in some random pose and then open any of the tools or the plotter window, the model goes to the initial pose in the motion.

Raised in https://github.com/opensim-org/opensim-gui/pull/1072

[2018-11-09 18:54] chrisdembia commented on #1052
Done https://github.com/opensim-org/opensim-gui/issues/1077

[2018-11-09 19:15] #1014 closed

[2018-11-09 19:18] #1058 closed

[2018-11-09 19:18] #1052 closed

[2018-11-09 19:19] #1004 closed

[2018-11-09 19:22] scrum2a commented on #1062
In particular, ensure the  message appears only once.

[2018-11-09 19:24] scrum2a commented on #1031
@aymanhab look at @jenhicks ' changes.

[2018-11-09 19:26] carmichaelong opened #1078 "Geometry is incorrectly displayed after using Scale Tool when using a model that has its own Geometry folder"

[2018-11-09 19:48] chrisdembia commented on #1061
I want this functionality to be built into a Path property that we can use on Object.

[2018-11-09 19:53] chrisdembia commented on #1057
Verified on Mac.

[2018-11-09 21:12] chrisdembia commented on #1062
The message does not appear throughout simulation but does appear every time the model is finalized. Perhaps there should be a member variable that is saved across copies etc. to track if the warning has been given.

[2018-11-09 21:12] chrisdembia commented on #1062
We can refine after the release.

[2018-11-09 21:20] carmichaelong commented on #1078
@chrisdembia @aymanhab @jimmyDunne

Although the files in the email are not compatible with 3.3, I was able to reproduce with the files from the Rajagopal model SimTK page:
![image](https://user-images.githubusercontent.com/7455790/48288653-bbc36a80-e421-11e8-8294-442b4554adc8.png)

Note that in order to reproduce, I deleted the `r_tibia.vtp` file from the OpenSim 3.3 Geometry folder (apparently i

[2018-11-09 21:31] carmichaelong commented on #1078
In 4.0 using the files from the email, I got a similar effect as 3.3. Maybe I can't reproduce the same exact issue but a similar one?
![image](https://user-images.githubusercontent.com/7455790/48289264-b1a26b80-e423-11e8-85af-05a3f2c9249e.png)

[2018-11-09 21:32] chrisdembia commented on #1078
@rwj1 how do these fibulas compare to those in the output of your scaling?

[2018-11-09 21:33] aymanhab commented on #1078
At some point I think @jimmyDunne renamed bones since differnet models had different convention e.g. boneWhatever.vtp was meant as boneWhatever_r.vtp

[2018-11-09 21:39] carmichaelong commented on #1078
Since clearly 4.0 could also find my 3.3 folder, I deleted 3.3 and tried it again in 4.0 and get something closer to what was reported:
![image](https://user-images.githubusercontent.com/7455790/48289451-68065080-e424-11e8-8bff-f25c477be63b.png)

Saving out the scaled model and loading it again yields some bones back:
![image](https://user-images.githubusercontent.com/7455790/48289537-b3b8fa00-e42

[2018-11-09 21:49] aymanhab commented on #1078
Yes, @carmichaelong that was the conjecture. If you save to the same folder as the model you started from then this whole issue goes away on reloading.

[2018-11-09 23:14] chrisdembia commented on #1078
I just chatted with @rwj1 and Lauren about this. Their issue is not that geometry doesn't show up; they have addressed this by changing the Geometry Path. The issue is that the fibula seems to end up in the incorrect location after scaling. The marker on the malleolus is no longer lined up with the fibula anymore.

[2018-11-09 23:17] carmichaelong commented on #1062
Verified On W10 Pro, OpenSim 4.0-2018-11-09-7a1ec88b:
![image](https://user-images.githubusercontent.com/7455790/48293121-6774b680-e432-11e8-937f-89aded651eb2.png)

[2018-11-09 23:34] chrisdembia commented on #1078
Here's what the fibula looks like from the attached model.

[scaled_model.osim.zip](https://github.com/opensim-org/opensim-gui/files/2567806/scaled_model.osim.zip)

<img width="1521" alt="image" src="https://user-images.githubusercontent.com/846001/48293592-c5a29900-e434-11e8-8ff4-49affccc47e9.png">

The malleolus marker seems to be in the correct place.

[2018-11-09 23:43] aymanhab commented on #1060
Nice investigative work @chrisdembia
Loading markers from a file has changed a few times including last time when we moved MarkerSet to be component, every Marker addition likely goes through the expensive initialization sequence (though 20 seconds is too much and I'm sure we can optimize).
In step 5, do they get different behavior if they click in the Navigator or elsewhere in the application?
Is

[2018-11-09 23:44] chrisdembia commented on #1060
Lauren sent me her own files and I still could not reproduce the issue. The markers did take a long time to load on my computer.

Could the issue be related to the speed of the computer? Or Windows vs Mac?

[2018-11-09 23:47] aymanhab commented on #1060
I don't think it's the speed of the computer, or Mac vs. Window,  I'd suspect it's model having lots of muscles and wrapping objects that take forever to render/initialize. We could try to add all Merkers at once I just want to make sure we understand the scope.

[2018-11-09 23:49] chrisdembia commented on #1060
Yes, all 3 markers move if they first click in the Properties area.

Correct.

[2018-11-09 23:50] chrisdembia commented on #1060
Thanks for reviewing.

[2018-11-09 23:52] aymanhab commented on #1060
Then I think I have a fix for this (other than perfomance) to make the properties window update as soon as the user is done dragging. I just need to get my environment up again.

[2018-11-09 23:58] chrisdembia commented on #1078
The attached model exhibits the issue better.

<img width="325" alt="image" src="https://user-images.githubusercontent.com/846001/48294308-50d15e00-e438-11e8-95c5-772b6d66c4ea.png">

[2018-11-10 00:01] chrisdembia commented on #1060
Sounds good.

I could not reproduce on Windows.

[2018-11-10 00:04] chrisdembia commented on #1050
This is in progress only because we need to update the opensim-models submodule in opensim-gui.

[2018-11-10 04:32] aymanhab commented on #1030
@jenhicks is the most recent version of the demo files on Dropbox? Thanks

[2018-11-10 23:19] aymanhab commented on #1060
If we can pass the Mac build to Lauren or Rachel to confirm that would be awesome since we couldn't reproduce on our machines. Thanks @chrisdembia 👍

[2018-11-11 19:08] #812 closed

[2018-11-11 19:09] chrisdembia commented on #711
This is still an issue when using NSIS. We could see if making an MSI using WiX would be faster.

https://github.com/Kitware/CMake/blob/master/CMakeCPackOptions.cmake.in
https://github.com/ngladitz/cmake-wix-testsuite

[2018-11-11 20:56] carmichaelong commented on #1061
Verified on W10 Pro using OpenSim 4.0-2018-11-10-a9277c5d

[2018-11-12 07:16] aymanhab commented on #628
@jenhicks do yo think this is worth fixing 4 4.0?

[2018-11-12 17:07] jenhicks commented on #1030
Sorry for the delayed response ... yes, latest version should be on dropbox. I will make sure everything is synced as soon as I get into the office (about 15 minutes).

[2018-11-12 17:10] jenhicks commented on #628
If you mean that the logo coming out of the box is the old-style one, no I don't think this should hold up the release.

[2018-11-12 19:29] #1061 closed

[2018-11-12 19:42] aymanhab opened #1084 "Remove stale files from threejs repo"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2018-11-12 19:42] aymanhab opened #1085 "change update center URL to 4.0"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2018-11-13 04:53] carmichaelong commented on #1050
Looks like the file is correctly placed into <Resources>/Models/Arm26/ComputedMuscleControl, and the example can be done.

It also looks like it is not in the reference folder (<Resources>/Models/Arm26/OutputReference/ComputedMuscleControl), but all the other files for setup are in there. Should this file also be added to the corresponding CMC OutputReference folder?

[2018-11-13 04:55] chrisdembia commented on #1050
Interesting... I don't think we should have a duplicate in the repo but maybe CMake should put a copy in OutputReference.

[2018-11-14 00:39] chrisdembia opened #1090 "Windows Antimalware slows down download of installer"
@aseth1 mentioned that certifying our app may help: https://docs.microsoft.com/en-us/windows/desktop/win_cert/windows-certification-portal

[2018-11-14 04:38] carmichaelong opened #1091 "Arm26 CMC example improvements"
- The actuator constraints file appears in /Models/Arm26/ComputedMuscleControl but not in the output reference folder (/Models/Arm26/OutputReference/ComputedMuscleControl), but the other files related to setup are in both folders. @chrisdembia suggested updating CMake to do this for us without duplication.
- [Confluence page](https://simtk-confluence.stanford.edu/display/OpenSim/Example+-+Computed

[2018-11-14 04:39] carmichaelong commented on #1050
Moving this to verified on windows and started a new issue with things to do beyond 4.0.

[2018-11-14 13:39] jimmyDunne commented on #1091
@chrisdembia, could you move this issue to opensim-models (I don't have admin priv to move it)

[2018-11-15 23:45] chrisdembia commented on #709
_BlockUntilNextEventMatchingListInModeWithFilter  may be the culprit

https://github.com/kenorb-contrib/SEGV/issues/18

https://github.com/coteditor/CotEditor/issues/558

[Sample of Contexts.txt](https://github.com/opensim-org/opensim-gui/files/2587436/Sample.of.Contexts.txt)
[Sample of OpenSim.txt](https://github.com/opensim-org/opensim-gui/files/2587437/Sample.of.OpenSim.txt)
Log from OpenSim an

[2018-11-16 00:14] aymanhab commented on #709
Some scope would help, what machines and/or applications cause this? Is it osx version specific?

[2018-11-16 00:17] chrisdembia commented on #709
Only on Mac. Not specific to 10.14 (Had the issue on 10.13 also). The conflict is only with my Contexts app.

[2018-11-16 06:05] chrisdembia commented on #709
- https://jxbrowser.support.teamdev.com/support/discussions/topics/9000041632
- https://stackoverflow.com/questions/41557279/jxbrowser-java-ipc-external-true-vm-argument
- https://www.teamdev.com/downloads/jxbrowser/javadoc/com/teamdev/jxbrowser/chromium/BrowserCore.htm
- https://stackoverflow.com/questions/39899103/jxbrowser-on-macosx-using-swt-deadlockl

[2018-11-16 18:39] jenhicks opened #1092 "Webinar Follow-up"
- [x] Prepare response to questions and post
- [x] Compile a set of follow-up links
- [x] Post pdf of slides

[2018-11-16 19:39] chrisdembia opened #1093 "GUI should only write forward slashes to setup files"
@jimmyDunne and I just chatted and we think that on Windows, the GUI often writes backslashes to setup files. This causes setup files to not be portable to Mac/Linux. @jimmyDunne suggested that even on Windows, the GUI should use forward slashes.

[2018-11-16 19:44] aymanhab commented on #1093
A file or path property should take care of that and other issues including drive name, absolute/relative paths etc.

[2018-11-16 22:04] #1031 closed

[2018-11-16 22:04] #1030 closed

[2018-11-16 22:04] #1032 closed

[2018-11-16 22:06] #1050 closed

[2018-11-16 22:14] #1036 closed

[2018-11-19 20:36] jenhicks commented on #1092
I think the Q and A is in pretty good shape now. If someone could start to compile a list of links we may want to send out (the 4.0 paper, where to download, etc.), that would be helpful. (Jackson is sick, so I'll probably be out for most of the rest of today)

[2018-11-20 16:53] jenhicks commented on #1092
@tkuchida @chrisdembia @aymanhab @jimmyDunne Below is a list of links. Let me know if anything is missing. Thanks!

Watch a recording of the webinar: JOY/JACQUELINE TO ADD

Download the slides from the webinar: JOY/JACQUELINE TO ADD

Review the Q&A from the webinar: JOY/JACQUELINE TO ADD

Download the OpenSim 4.0 software: https://simtk.org/frs/?group_id=91

Learn more about new features and how t

[2018-11-20 16:57] jimmyDunne commented on #1092
Perhaps the forum announcement thread where I am making daily updates; https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=9760&p=0&start=0&view=&sid=ae0d9c9d804de7bace0dcd335beaf824

[2018-11-20 19:32] jenhicks commented on #1092
I sent everything over to Joy and Jackie. Let me know if there is any final feedback before we send out the email on Wednesday morning.

[2018-11-20 21:51] tkuchida commented on #1092
@jenhicks I made a couple minor edits to the Google Doc which can be ignored.

[2018-11-21 00:20] jimmyDunne opened #1094 "Add User instructions to build the GUI linux to README.md"
A User had pretty comprehensive build instructions on the forum;
https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=9784&p=26847

[2018-11-21 16:55] idhamari commented on #1094
In Linux, it is much simpler to run a script. [I made one for Ubuntu that we still use](https://github.com/opensim-org/opensim-gui/issues/939)

[2018-11-21 17:39] idhamari opened #1095 "Modifying jython.jar Path"
After building the GUI from source, I tried simple python script but it does not work. It seems jython can not find the location of opensim even it is already added to the system pythonpath.

     import opensim

produces

    ImportError: No module named opensim

when I use the python from the terminal, everything is OK. Is there something I should do to make opensim jython find the opensim pytho

[2018-11-21 17:52] idhamari commented on #1095
I found out that  jython uses JYTHONPATH instead so add it to the system now I get a new error.

      Traceback (most recent call last):
        File "<stdin>", line 1, in <module>
               File "~/openSim-dev/installOpenSimCore/lib/python2.7/site-
                     packages/opensim/__init__.py", line 1
                       SyntaxError: 'import *' not allowed with 'from .'

[2018-11-21 17:59] tkuchida opened #1096 "Change to capitalization of filename must be propagated"
leg39.osim -> Leg39.osim (PR https://github.com/opensim-org/opensim-models/pull/111)
Must be changed here as well: https://github.com/opensim-org/opensim-gui/blob/3354c2472ce00d7883b86b7c2570f36145cda41a/Gui/opensim/Scripts/runMultipleIKTrials.py#L77
and possibly elsewhere.

[2018-11-21 18:06] jenhicks commented on #1096
I'm still not 100% following why the lowercase filename created an issue. Do the other lowercase model filenames also create an issue? I'd like to understand the issue better before we make any additional changes.

[2018-11-21 18:31] idhamari opened #1097 "NameError: name 'addBodyToModel' is not defined"
I am trying to run the script createRodForPendulum.py from the webinar but I got the error in the title.

[2018-11-21 18:32] chrisdembia commented on #1096
Linux is case-sensitive, while Mac and Windows are case-insensitive (but case-preserving), so the issue only occurs on Linux.

[2018-11-21 18:38] chrisdembia commented on #1097
Make sure to run the ModelBuildingFunctions.py file first.

[2018-11-21 19:57] idhamari opened #1100 "Upgrade vtk and jython jar files"
It seems jython and vtk are too old from 7 years ago. What should I do to upgrade them? the new [jython 2.7](http://www.jython.org/downloads.html) has code completion and should provide more features. Also [vtk 8](https://www.vtk.org/download) is already available.  I renamed the new vtk jar file to vtk50.jar and replaced the old one. The GUI seems to work.  I remove the file and the GUI still wor

[2018-11-21 20:05] aymanhab commented on #1100
vtk has been dropped completely and is not used by OpenSim 4.0 GUI at all AFAICT.

[2018-11-21 22:13] jenhicks commented on #1096
I'd lean towards reverting until we have more details about what's happening. @jimmyDunne do you have more details?

[2018-11-28 18:16] tkuchida commented on #1096
https://github.com/opensim-org/opensim-models/pull/112 was reverted; propagating that change here by closing this Issue.

[2018-11-28 18:16] #1096 closed

[2018-11-28 20:05] aymanhab commented on #843
Can this be closed as verified?

[2018-11-29 00:38] aseth1 commented on #1100
Sounds like a good idea to update Jython to get code completion. @idhamari does the new version also include context highlighting? Thanks!

[2018-11-29 07:43] idhamari commented on #1100
Why the file is still there? I am surprised as VTK is getting more and more popular and used in many stable tools.

Updating is important (of course after enough testing) as many things keep changing. It would be nice to have a GUI devloper guide to explain the tools involved and how they interact, this helps the community to get involved.

Not sure, what do you mean by this. You may check this in

[2018-12-08 14:32] tkuchida opened #1101 "GUI is misinformed about size of resources"
### Steps to reproduce
Install and run 4.0. GUI prompts user to copy 60 MB of resources.

### Expected result
60 MB of resources are copied.

### Actual result
84 MB of resources are copied. If stating a size, the size should be correct.

### Environment and GUI version
Windows 10, OpenSim-4.0-win64.exe Nov 13, 2018 from SimTK.

[2018-12-08 19:08] chrisdembia commented on #1101
We should maybe say "approximately 100 MB" to account for future growth.

[2018-12-08 19:58] aymanhab commented on #1101
Well, not sure if same size on all platforms either so a ball park number may be good enough if close.

[2018-12-10 21:17] aseth1 opened #1102 "Transforming marker previewed marker data (.trc) results in invalid TRC format file"
### Steps to reproduce
- Use Preview Experimental Data... to view marker data in a .trc file.
- use the Transform option (right click on previewed trc file in navigator) to rotate data -90degs about X (now Y is up).
- save the data to a new transformed file
- attempt to perform IK with the new transformed .trc file

### Expected result
- IK runs normally with new .trc file

### Actual result
- inv

[2018-12-11 18:20] #1092 closed

[2019-02-11 06:52] aseth1 opened #1104 "Bones fail to colorize even though property has changed"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2019-02-22 14:11] jimmyDunne opened #1105 "GUI is adding offset to experimental data (it shouldn't be)"
### Steps to reproduce
(1) Preview experimental marker data in GUI.
(2) Preview corresponding force data in GUi.
(3) Sync motions.

### Expected result
Marker and force data are displayed in the exact, global, location that they are defined in the experimental data files.

![image](https://user-images.githubusercontent.com/5296507/53247177-b57b9600-3680-11e9-8523-835ca9d27294.png)

### Actual resu

[2019-02-27 23:48] #853 closed

[2019-02-27 23:49] #844 closed

[2019-02-27 23:50] #843 closed

[2019-02-27 23:50] #839 closed

[2019-02-27 23:53] #803 closed

[2019-02-27 23:53] #799 closed

[2019-02-27 23:54] #789 closed

[2019-02-27 23:55] #788 closed

[2019-02-27 23:55] #787 closed

[2019-02-27 23:58] #752 closed

[2019-02-28 00:04] jenhicks commented on #683
Closing this issue since it is a duplicate of #688

[2019-02-28 00:04] #683 closed

[2019-02-28 00:05] #660 closed

[2019-02-28 00:05] #642 closed

[2019-02-28 00:06] #628 closed

[2019-02-28 00:06] #622 closed

[2019-02-28 00:07] #587 closed

[2019-02-28 00:08] #581 closed

[2019-02-28 00:08] #578 closed

[2019-02-28 00:09] #563 closed

[2019-02-28 00:10] #551 closed

[2019-02-28 00:11] #543 closed

[2019-02-28 00:11] #537 closed

[2019-02-28 00:12] #529 closed

[2019-02-28 17:35] #450 closed

[2019-02-28 17:37] #440 closed

[2019-02-28 21:44] #405 closed

[2019-02-28 21:44] #383 closed

[2019-02-28 21:50] #366 closed

[2019-02-28 21:53] #345 closed

[2019-02-28 21:54] #308 closed

[2019-02-28 21:54] #299 closed

[2019-02-28 21:55] #290 closed

[2019-02-28 21:56] #265 closed

[2019-02-28 21:56] aymanhab commented on #357
While plugins can be loaded using scripting shell, a better solution may be needed. I'd lean to keep this open for now.

[2019-02-28 21:57] #164 closed

[2019-02-28 21:57] #74 closed

[2019-02-28 21:58] #685 closed

[2019-02-28 21:59] #785 closed

[2019-02-28 22:05] #955 closed

[2019-02-28 22:08] #973 closed

[2019-02-28 22:09] #975 closed

[2019-02-28 22:09] #979 closed

[2019-02-28 22:10] jenhicks commented on #986
This is a duplicate, so closing.

[2019-02-28 22:10] #986 closed

[2019-02-28 22:12] #1053 closed

[2019-02-28 22:14] #1066 closed

[2019-02-28 22:25] jenhicks commented on #1104
@aseth1 I am only able to reproduce this behavior when I have had OpenSim open for a long time and my computer has gone to sleep, woken up. I think this could be related to #523 and not an issue on its own.

[2019-02-28 23:12] aseth1 opened #1106 "Wireframe box outline/highlighting is ambiguous compared to object color highlighting"
In 3.3 if a bone/body was selected it was highlighted yellow, but in 4.0 a yellow wireframe box encompasses the body and it is unclear what inside the box was selected (e.g. a muscle or the bone?)

### Steps to reproduce

Load any model (e.g. Rajahopal 2015.osim) and select a bone in 4.0 and in 3.3 by double-clicking on the geometry in the 3D view.

### Expected result
Body (bone) selected is clea

[2019-02-28 23:27] aseth1 opened #1107 "Marker shading is inconsistent with the shading of all other geometry in the 3D view"
### Steps to reproduce
Load any model with markers and look at it.

### Expected result
Spheres are shaded with light source in common with all other objects.

### Actual result
Spheres appear to be magically illuminated from below (that is from the floor up).

![image](https://user-images.githubusercontent.com/6494122/53605727-4a90fa00-3b6d-11e9-824a-a9d51459dad6.png)

### Environment and GUI ver

[2019-02-28 23:34] tkuchida commented on #1107
There was an old issue about this. IIRC, the issue was that the back faces were being drawn rather than the front faces. It looks like an open hemisphere is being drawn, and the light from above the model is reflecting off the inside of the hollow bottom.

[2019-03-04 18:48] jenhicks commented on #1105
This has come up a couple times on the forum (two users).

[2019-03-04 23:30] aseth1 commented on #1104
I cannot edit the color of all or multiple bones even after restarting OpenSim and loading a model. I am having the same issue on my Mac. Even though the color property appears to be set correctly, for the color to appear I must edit the color of the individual geometry to some other color and then set the value back to the bone color for it to take effect.

[2019-03-05 00:01] jenhicks commented on #1104
I am testing with my Mac and the jumper model we used for the webinar. I can change the color of a body or the individual geometry (one at a time or via a multi-select) via the navigator Display -> Color dropdowns. Color gets updated immediately. I can also edit colors of geometry individually or multi-select via the Property Editor.

@aymanhab Any ideas on what could cause differences between wha

[2019-03-05 00:17] aymanhab commented on #1104
My guess is that he's not doing GUI editing, instead he's modifying the file. It's possible the initialization sequence is different so bones show up first time in default colors. If you can save and load model with non default colors of bones that would prove one way or the other.

[2019-03-05 00:30] jenhicks commented on #1104
I can save a load a model with non default bone colors.

[2019-03-05 00:37] aymanhab commented on #1104
Could be typo or format of edited colors then. Can we diff the files?

On Mon, Mar 4, 2019, 4:30 PM Jen Hicks <notifications@github.com> wrote:

[2019-03-05 00:51] aseth1 commented on #1104
Please look at the image in this issue. I use the GUI and the color picker to change colors. You can see that the values for "boney" bone color is correct but the bones remain white. I can change  Geometry individually and even multiselect Geometry under a Body, it turns out, but I cannot  change color via **bodies->Display->Color** although the properties do update. Has nothing to do with files.

[2019-03-05 16:51] jenhicks commented on #1104
Thanks for the additional detail @aseth1 . Confirming, as noted above that I don't see this behavior on my machine with the jumper model. Might there be differences due to the model used? Maybe it is easier to take a look in person.

[2019-03-05 17:37] aymanhab commented on #1104
Since this doesn't reproduce for me or @jenhicks on arbitrary models, I assume this is model specific (@aseth1 can you check a different model).
Bodies do not have Geometry of their own, the GUI instead collects Geometry attached to the body and applies the color/preference/etc. to them. This process apparently breaks for this specific model. Will need to have the model in hand to investigate, but

[2019-03-07 20:01] aseth1 commented on #1104
The issue occurst when there is a missing geometry file anywhere in the model. In the case of the upper-extremity model, I didn't care about the hand geometry visualizing so I was ignoring the missing vtp file warnings. Apparently we cannot do that anymore.

[2019-03-19 18:40] aseth1 opened #1108 "Plugin loading option to "Always load this library on entry" does not work"
### Steps to reproduce
1. Load a plugin.  Tools->User Plugins->
2. Check "_Always load this library on entry_"
3. Load model requiring plugin.
4. Quit OpenSim
5. relaunch OpenSim and load model requiring plugin.

### Expected result
- Model loads since plugin library is always loaded according to option.

### Actual result
- model fails to load
- plugin must be loaded again

### Environment and GU

[2019-03-26 20:19] aymanhab commented on #1108
This came up while working with Colin Smith. Boils down to using the same file to save/restore models and plugins. If you set  the preference Application: Restore Models on Startup to On then the restore/load on startup will work as expected. This is just a workaround until we either separate the models and plugins or make default behavior to restore all on entry.

[2019-03-28 16:53] carmichaelong opened #1109 "Defend against users making changes after using getCurrentModel() (without cloning)"
### Steps to reproduce
1. Load gait2354 (or any model with `femur_r`)
2. Run GUI script `ModelBuildingFunctions.py`
3. Run the following short script:
[code]

### Expected result
Two models are seen in the GUI, one of the two models is denoted as the Current Model.

### Actual result
GUI does not show the new model. Also, both models in the Navigator pane are the "Current Model".

However, you can

[2019-03-28 16:57] aymanhab commented on #1109
@carmichaelong The main problem here is that you didn't clone the model first, which means the model with and without the additional body have the same handle and thus are both current 🚑 🚒

[2019-03-28 17:00] carmichaelong commented on #1109
Ah, that makes sense. Adding `.clone()` on the end of the first line works. Should we be defending against this type of user input?

[2019-03-28 17:02] aymanhab commented on #1109
@carmichaelong you know where the "bodies" are buried.
Yes we should defend against it. I can make getCurrentModel() in GUI return a subclass of Model where all non const methods throw exceptions but this deviates the GUI from API documentation. I'm open to ideas though..

[2019-05-02 21:24] tkuchida opened #1111 "Muscle wrapping visualization is incorrect when muscle loses contact with WrapCylinder"
### Steps to reproduce
- open Rajagopal2015 model
- change knee_angle_r to 30 degrees

### Expected result
Gastroc path looks reasonable.

### Actual result
![](https://user-images.githubusercontent.com/4203505/57107787-f5a16980-6cfe-11e9-984e-f3ce0921e1c2.png)

Path seems to be computed correctly:
![](https://user-images.githubusercontent.com/4203505/57107802-0651df80-6cff-11e9-96d2-fd8f2831ee3b.

[2019-05-28 07:00] tkuchida opened #1112 "TRC file written by GUI cannot be read by TRCFileAdapter"
### Steps to reproduce
- File > Preview Experimental Data…
- Open walking2_markers.trc (extracted from [walking2.c3d](https://github.com/opensim-org/opensim-core/blob/master/OpenSim/Tests/shared/walking2.c3d)) and attached in this .zip file: [walking2_markers.zip](https://github.com/opensim-org/opensim-gui/files/3226010/walking2_markers.zip)
- In Navigator, expand "ExperimentalData_0", right-click

[2019-05-28 17:43] tkuchida commented on #1112
@aymanhab See [L409 and L410 here](https://github.com/opensim-org/opensim-gui/blob/ca20f56c3e3216a857b22a111e67a5390f8f9510/Gui/opensim/view/src/org/opensim/view/experimentaldata/AnnotatedMotion.java#L409): spaces should be `\t` as elsewhere.

[2019-05-28 19:30] aymanhab commented on #1112
Perfect, now that you did the hard part and found it @tkuchida do you mind submitting a PR ;) or I can do it later. Thanks 👍

[2019-05-28 19:42] tkuchida commented on #1112
Unfortunately, I've never been able to build the GUI 😢 so I have no way of testing.

[2019-06-06 20:35] aymanhab commented on #1112
A build/artifact inluding the fix successfully opened the trc file from the scripting shell.

[2019-06-08 00:40] aseth1 opened #1115 "Geometry Path has default appended upon launch despite what user had set"
Likely related to #745

### Steps to reproduce
1. launch OpenSim4.0 GUI and  set `Paths: Geometry Search Path` to something, say <My_Prefered_Path>
2. Open a model that uses geometry in said path. All good.
3. Quit and relaunch OpenSim4.0 GUI and reload your model
4. Model looks janky because it is reading default geometry that it finds in the default path for Geometry

### Expected result
![image

[2019-06-10 19:45] aymanhab commented on #1112
If somebody can verify fix in artifact that would be great. Use scripting shell easier than python environment

[2019-06-11 17:19] jimmyDunne commented on #1112
I downloaded and installed the latest GUI artifact on a Windows VM, performed the transform in the GUI, and use Python to read the transformed trc. It seemed to work without issue-- no exceptions or oddities. I think we should still test again when before doing the next minor release.

[2019-06-11 18:58] aymanhab commented on #1115
Good find @aseth1 👍

[2019-06-14 00:59] jimmyDunne commented on #1105
Fixed in #1118

[2019-06-17 17:06] #9 closed

[2019-06-17 21:13] #1105 closed

[2019-06-24 19:44] aymanhab commented on #1112
Any reason this is not closed @jimmyDunne

[2019-06-24 19:50] #1112 closed

[2019-06-25 00:43] aseth1 commented on #1115
closed by #1119?

[2019-07-05 19:48] aymanhab commented on #1115
Thanks @aseth1 and @jimmyDunne

[2019-07-05 19:48] #1115 closed

[2019-07-05 19:51] aymanhab opened #1123 "Disabled muscles show in red when playing back SO results"
### Steps to reproduce
Load Arm26 and static optimization default setup, run analysis, disabled muscles show in red

### Expected result
disabled muscles show a different color outside the blue--to-red spectrum
### Actual result

(include screen grabs where appropriate)

### Environment and GUI version
4.0

[2019-07-05 23:51] aymanhab commented on #1123
Some confounding factors worth discussion before a solution is implemented:
- GUI has 2 modes: mode 1 does not color based on state at all as in load/edit, mode 2 muscle color is based on state as in motion playback.
- SO uses a mechanism that overrides the color from state to color by activation from a file/storage (due to the fact that SO produces no consistent state to use).

[2019-07-06 00:01] tkuchida commented on #1123
@aymanhab Perhaps "user stories" would be helpful here. There are countably many scenarios in which muscles are drawn, and presumably one could determine what the user would want to see in each case. IIRC there are several GUI "modes" (model building vs. simulating vs. playback of results). Perhaps these modes should be communicated to the user (e.g., by changing the color/look of the interface)?

[2019-07-06 02:43] aymanhab commented on #1123
@tkuchida Good point. I thought about that during 4.0 but decided against it because there were only 2 modes (simulation and playback are intended to produce the same visuals). When we introduce model building it could help make it clear when a model is under-construction vs. ready vs. simulating at that point, but I'd like to hear your rationale for doing it now as well.

[2019-07-06 03:17] tkuchida commented on #1123
![](https://user-images.githubusercontent.com/4203505/60750677-442ae880-9f7a-11e9-85c0-aafe71be27a4.png)

Perhaps the GUI should be communicating some sort of "metadata" (mode/condition/state) to the user. For example, how would a user visually distinguish between an IK solution (all muscles always red) vs. a dynamic simulation with maximally activated muscles (all muscles always red)?

[2019-07-08 21:33] aymanhab commented on #1123
@tkuchida I agree we should communicate more info to the user, the trick is to do it without overwhelming the user with unnecessary or repeated details. ColorBy can be displayed in the status bar or messages window when it changes, but some are implicit as when you run FD or playback. IK is a bit more difficult since we use formStateStorage which treats all motions the same regardless of contents.

[2019-07-08 21:37] aymanhab commented on #1123
I made a change so that if we color by activation from file (as in SO) then muscles that are not found (e.g. disabled) are colored Yellow (a color outside the spectrum of blue-red). Some hanging issues to discuss though:

1. FD doesn't use this pathway so we can't tell if muscles were activated minimally or disabled.
2. Many examples produce arbitrarily large (i.e. small :smiley) negative activati

[2019-07-15 21:00] aymanhab commented on #786
On my Macbook Pro I have no issue following the workflow you described. You can only select/deselect the checkboxes, when an entry is selected the values are changeable in the top panel. Maybe confusing but not a bug AFAICT.

[2019-07-16 18:37] jenhicks commented on #1123
@aymanhab Will make muscle gray instead of yellow

[2019-07-22 13:14] jimmyDunne opened #1126 "Deal with Nans in force (.mot) files when visualizing"
Related to opensim-org/opensim-core#2505 & opensim-org/opensim-core#2256

We need to check to see what happens to visualize force vectors in the GUI if there is a NaN in the file. We suspect that the visualization only goes up to the point of the (first) NaN in a file.

[2019-07-22 15:29] jimmyDunne opened #1127 "Set Default simulation time to 5-10 seconds"
The Default end time for the simulation tool in the toolbar is 1000 seconds, which is probably a bit much 🤣
![Screen Shot 2019-07-22 at 11 25 37 AM](https://user-images.githubusercontent.com/5296507/61644863-82f7b880-ac73-11e9-8bdf-bdfca3bb7779.png)

Could we change this to 5 seconds? 10 second?

My guess is the default value is set [here](https://github.com/opensim-org/opensim-gui/blob/9c84113658

[2019-07-22 15:45] aymanhab commented on #1127
Great,  please do.

On Mon, Jul 22, 2019, 8:29 AM jimmyDunne <notifications@github.com> wrote:

[2019-07-24 17:47] aymanhab commented on #1123
Done, and tested by @jimmyDunne and myself, Changelog updated.

[2019-08-08 16:04] jimmyDunne commented on #1102
@aymanhab. [Seen in the wild](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=10755&p=0&start=0&view=&sid=ea5bcebac660287e646017fd77f41d05)

[2019-08-08 17:34] jimmyDunne commented on #1102
Test #1113

[2019-08-08 18:32] #1123 closed

[2019-08-08 21:15] aymanhab commented on #1126
@jimmyDunne I can fake up a file with NaNs but if you have one around that would be useful since these are not randomly generated files. Thank you

[2019-08-12 16:30] jimmyDunne commented on #1126
Attached is a force file with numerous nan's for each of three force plates. I did a quick check of viewing the forces in the GUI and it seems like the forces play all the way to the end without any observable issue.

[Running_GRF_cop_nans.mot.zip](https://github.com/opensim-org/opensim-gui/files/3493426/Running_GRF_cop_nans.mot.zip)

[2019-08-12 22:01] jenhicks commented on #1126
@jimmyDunne Well look into whether plotting leads to issues.

[2019-08-14 20:58] jimmyDunne commented on #1126
Seems like the Plotter deals with NaNs as missing values, as hoped. Below is zoomed in section of a COP plot-- the Plotter plots the entire length of the trial and, when there are nans, it skips those values. 👍

![image](https://user-images.githubusercontent.com/5296507/63055695-794d2380-beb4-11e9-9605-e480c74a3e51.png)

[2019-08-24 21:37] yurivict opened #1130 "Install fails due to the case mismatch: Leg39.osim vs leg39.osim"
[code]

[2019-08-24 21:40] aymanhab commented on #1130
Good find, please submit PR to fix. Thank you.

[2019-08-24 21:47] yurivict commented on #1130
I don't know which case there should be.

[2019-08-24 21:51] yurivict opened #1131 "Build fails: models_install/Geometry does not exist."
[code]

[2019-08-24 21:52] yurivict commented on #1130
Case mismatch is due to the development done on Windows.

[2019-08-24 22:03] aymanhab commented on #1130
We build and distribute on osx as well, so it's surprising this slipped. Typically model file names are all lowercase, while folders are CamelCase.

[2019-08-24 22:15] yurivict commented on #1131
The installation scrips installs wrong files.
For example, search for one file shows:
[code]

It re-creates the build directory hierarchy under the stage directory ```./work/stage``` which is clearly wrong. This caused the original problem in this issue, because the directories that it expects have already been moved to under the stage directory.

[2019-08-24 22:27] yurivict commented on #1130
You need to set up CI builds on various systems, including linux.
It's free for open source projects, just requires some efforts to set up.
Or alternatively you can use Jenkins server in-house, which is also free but requires efforts to set up.

[2019-08-28 12:22] jimmyDunne opened #1132 "GUI Pathpoint pane doesn't seem to display all digits"
### Steps to reproduce
Open attached model, go to ligament force aACL_r, click on the Geometry Path property.

### Expected result
The Y value for the second path point should be -0.4004.

### Actual result
The Y value is displayed as -0.4.

It seems that no numbers are displayed after the first occurrence of a non-zero number
(Y Value)  0.4004 -> 0.4
(Z Value)  0.0041 -> 0.004

(include screen gr

[2019-09-04 18:29] jenhicks commented on #1111
@aymanhab will investigate, given recent discussion on forum.

[2019-09-10 19:03] aymanhab commented on #1111
I'm working on a fix now,

[2019-09-19 18:04] aymanhab commented on #1111
Let me clarify the scope of the issue:
- This has no effect whatsoever on computation or correctness of results, pure visualization issue.
- All models display correctly on loading regardless of wrapping. If wrong display happens save the model in this bad configuration and load it and it will be fine.
- Only models/muscles that could be affected are those with multiple wrap objects when an object

[2019-09-26 18:18] aymanhab opened #1137 "Visualizer custom settings"
The following changes to default visualization lead to better visuals (annotated for ease of implementation, impact smaller is better)

1. Adjust the camera's field of view (particularly helpful for images in sagittal plane) (1, 1)
2. Adjust the near and far clipping planes so model is rendered at maximum resolution (ideally, use separate rendering pass for environment) (3, 1)
3. Change the color/

[2019-09-26 21:13] aymanhab commented on #1137
@tkuchida I don't think there's a single place that's a good fit for all items on this list:
- Object specific changes (e.g. Bone-texture) belong to model files
- Some settings e.g. related to lighting, floor, and Camera belong to the View Controls or the Toolbar
- Other settings (e.g. those that don't take effect immediately and require a restart) belong to a more permanent storage medium (e.g. f

[2019-09-26 23:07] tkuchida commented on #1137
Not sure that would be the best way to split up settings. For example, if the user can specify in the model file that a mesh is metal or bone, then the GUI could provide an interface to adjust the visualization parameters for all meshes of a given material. So the "object-specific changes" would be implemented partly in the model file and partly in the GUI. Also, there are settings that currently

[2019-09-27 23:12] tkuchida opened #1139 "Sphere color doesn't change when path actuator color is changed"
### Steps to reproduce
- open a model containing a path actuator (e.g., [gait2354_simbody_withPathActuator.osim.txt](https://github.com/opensim-org/opensim-gui/files/3664791/gait2354_simbody_withPathActuator.osim.txt))
- in Navigator, right-click on "my_path_actuator" -> Display -> Color…
- change color

### Expected result
Color of all associated geometry changes.

### Actual result
Cylinders cha

[2019-09-30 17:12] aymanhab opened #1141 "Visualizer does not display correctly first point of a muscle GeometryPath when using MovingPathPoint"
@modenaxe commented on [Fri Sep 20 2019](https://github.com/opensim-org/opensim-core/issues/2569)

Hello, the visualiser does not seem to display correctly the first point of a muscle GeometryPath when the first point is defined using a MovingPathPoint (see image below). You can find here ([a model and motion file](https://github.com/opensim-org/opensim-core/files/3636998/bug_visualizer.zip)) to r

[2019-09-30 17:56] jenhicks commented on #1111
@jimmyDunne Can you test this one?

[2019-10-02 18:18] chrisdembia commented on #194
This would be terrific.

[2019-10-02 19:14] aymanhab commented on #1127
@jimmyDunne this can be closed I think.

[2019-10-02 19:15] aymanhab commented on #1130
This has been fixed so the issue can be closed.

[2019-10-02 19:15] #1130 closed

[2019-10-03 13:15] #1127 closed

[2019-10-03 13:50] jimmyDunne commented on #1111
Placing the model in the affected pose, saving, and reloading;

![image](https://user-images.githubusercontent.com/5296507/66132578-46c1cc00-e5c3-11e9-84f0-0651e4ace733.png)

[2019-10-03 16:53] aymanhab commented on #1111
The behavior you described is exactly how it was before the fix, that's not
what I see using the branch with the PR that has not been merged into
master yet. Can you report what environment did you use? Thank you

On Thu, Oct 3, 2019, 6:51 AM jimmyDunne <notifications@github.com> wrote:

[2019-10-03 17:51] jimmyDunne commented on #1111
I am on Mac. I used the OpenSim-fix_visualization_multiple_wraps artifact

[2019-10-07 23:12] chrisdembia opened #1143 "Mac App must be notarized for macOS Catalina"
macOS Catalina requires apps to be "notarized" before a user can install them (if GateKeeper is enabled?).

Here are instructions:

https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

https://developer.apple.com/documentation/xcode/notarizing_your_app_before_distribution/customizing_the_notarization_workflow

[2019-10-08 16:25] aymanhab commented on #1143
Thanks for the pointer @chrisdembia have you tried using Xcode 10?

[2019-10-08 17:20] chrisdembia commented on #1143
Xcode 10 has been out for a year. Xcode 11 is out now and I’ve used both.

[2019-11-06 13:19] sebastianskejoe opened #1146 "Issues encountered when teaching OpenSim 4.0"
Hi!

Every fall I'm teaching a course, where we use the OpenSim GUI to perform inverse dynamics of running. Until this year, we used OpenSim 3.3, but now we have switched to 4.0. 4.0 is a great improvement in some areas (for instance allowing Mac users to participate) but we have also encountered some issues that make the workflow feel clunky and confusing at times. I believe these issues are most

[2019-11-06 16:47] aymanhab commented on #1146
Thanks @sebastianskejoe for reporting. It would be good to create separate issues so we can address them separately as some belong in GUI, some in API (opensim-core), and some could be platform dependent as well. We can do that for you. In the meantime:

- Were you using Mac or Windows?
- Are you using US Locale? (This forces numbers to use . rather than , for floating point). We always used that

[2019-11-06 19:10] sebastianskejoe commented on #1146
Thank you for the quick reply! I intentionally avoided splitting the issues into separate issues as I'm not entirely sure, which issues belongs to which repos, so if you can split it up, it would be great. To answer your questions:

1) The students are a 50/50 mix of Mac and Windows. However, I think all of the issues listed are independent of platform.
2) No, most students are using Danish locale

[2019-11-06 23:02] aymanhab commented on #1146
No worries, we'll do the split up, then we can discuss for each issue how to reproduce, troubleshoot.

[2019-11-07 21:19] jenhicks commented on #1126
Based on the discussion, I am closing this issue, but please re-open if I am missing something.

[2019-11-07 21:19] #1126 closed

[2019-11-07 21:56] chrisdembia opened #1147 "Visualizer perspective buttons do nothing"
### Steps to reproduce

1. Open GUI.
2. Open any model.
2. Click one of the cube buttons to change perspective.

### Expected result

perspective changes

### Actual result

nothing

### Environment and GUI version

OpenSim 4.1-2019-10-17-7704209

[2019-11-07 23:10] jenhicks opened #1148 "Tools to detect gait events"

[2019-11-07 23:11] jenhicks opened #1149 "Tools to calculate hip joint centers"
Users often do this on their own ... could be helpful to include as part OpenSim

[2019-11-07 23:15] jenhicks opened #1150 "Glitches in video creation"
As of OpenSim 4.0, when playing back motions, the video recorded can be "jumpy" (e.g., when playing back at slow speeds). Would be helpful to be able to set a certain frame rate for creating a video and not worry about how it plays back on the screen. A work around in the meantime could be to output still frames as we did in previous versions.

[2019-11-07 23:29] jenhicks opened #1151 "Make it easier to sync motions, perhaps by syncing motions automatically, when possible"
It was suggested by HPL users to sync motions automatically if syncing is possible, rather than requiring users to do it manually.

[2019-11-11 18:43] aymanhab commented on #1141
This has been fixed in the latest dev build, please verify @modenaxe usiing latets master builds.

[2019-11-11 18:47] aymanhab commented on #1131
Will keep this open, however this is not generic error and we do not build the GUI on any variant of linux. we don't have build machines with linux varieties except on ci. Feel free to open a PR and we'll review.

[2019-11-11 21:07] jenhicks commented on #1143
@jimmyDunne Can you test whether you can install one of the recent artifacts on Catalina?

[2019-11-11 21:31] #1111 closed

[2019-11-11 21:34] #1107 closed

[2019-11-11 21:36] #1139 closed

[2019-11-12 03:08] chrisdembia commented on #1143
I installed a recent artifact on Catalina and had no issue.

[2019-11-12 12:04] jimmyDunne commented on #1143
I also downloaded an artifact on Catalina and went smoothly. 👍

[2019-11-12 12:05] jimmyDunne commented on #1143
I went to close but realized that we should still investigate notarizing for the long term.

[2019-11-12 16:48] jenhicks commented on #1143
OK ... I am moving this out of the sprint backlog and 4.1 milestone, but, yes, we should keep this open.

[2019-11-12 17:42] aymanhab commented on #1147
@carmichaelong or @jimmyDunne can you verify in the PR build of the GUI? Thanks

[2019-11-13 19:57] jenhicks opened #1153 "External Loads Applies Force Checkbox: Unchecking the box from the user interface is not saved"
### Steps to reproduce
Load gait2354 model, launch ID tool, and edit external loads by unchecking the "applies force" box
Click Save and then edit again -> applies force box is still checked
Click Save and then save the external loads file -> applies force box is still not checked when inspecting later.

### Environment and GUI version
OpenSim 4.0, Mac
Also reported by user in #1146

[2019-11-13 20:02] jenhicks opened #1154 "Using files with comma as the decimal separator will crash the scale tool"
We may not be able to add support for the comma as decimal separator in the upcoming release, but we should at least fail more gracefully.

@sebastianskejoe  Can you provide a file that produces this behavior for testing? Thanks!

[2019-11-13 20:12] jenhicks commented on #1146
@sebastianskejoe

Thanks again for reporting these issues. I tried to reproduce the issues on my Mac build of OpenSim 4.0. I had a couple follow-up questions about a few of them:

I was not able to reproduce this one. For example, using the files distributed for the gait2354 workflow, if I uncheck the "enabled" box for the pelvis markers I get different results (with a poor match to the pelvis, as

[2019-11-13 20:14] jenhicks opened #1155 "TRC files using UTF-8 byte order mark will result in error"
.trc-files using UTF-8 with a byte order mark (BOM; https://en.wikipedia.org/wiki/Byte_order_mark) will result in "[path] does not appear to be a valid TRC".
@ssebastianskejoe

Can you provide a file that produces this problem? Thanks!

[2019-11-14 01:02] jimmyDunne commented on #1143
Seems like it is working now because Apple extended the deadline to Jan 2020;
https://developer.apple.com/news/?id=09032019a

[2019-11-14 01:08] chrisdembia commented on #1143
@jimmyDunne the workaround you used for Moco should also work for the GUI.

This blog might help: https://scriptingosx.com/2019/09/notarize-a-command-line-tool/

[2019-11-14 01:18] chrisdembia commented on #1143
We will need to enable "hardened runtime" bu won't be able to do it through Xcode. Here's how we will do it: https://apple.stackexchange.com/questions/357411/enabling-hardened-runtime-from-outside-of-xcode

[2019-11-14 10:31] sebastianskejoe commented on #1155
Attached file should produce the problem. Otherwise saving files in Windows Notepad automatically converts the file to UTF-8 BOM.

[Langsom.zip](https://github.com/opensim-org/opensim-gui/files/3845958/Langsom.zip)

[2019-11-14 12:18] sebastianskejoe commented on #1146
Using the gait2354 files, I placed the model in a "weird" default pose and ran the provided scale setup. As expected I got (model in the front is the scaled model):
![scale_weightenabled](https://user-images.githubusercontent.com/726504/68851147-9ec91380-06d5-11ea-920e-c7852c451fda.PNG)
Keeping checkboxes enabled, but setting the weights to 0 of all markers (except Sternum), I also get the expecte

[2019-11-14 12:22] sebastianskejoe commented on #1154
[static_comma.zip](https://github.com/opensim-org/opensim-gui/files/3846424/static_comma.zip)
I get crashes when I use this file for "Marker data for measurements" and try to add a new measurement set.

[2019-11-14 14:58] modenaxe commented on #1141
@aymanhab sure I can verify...where can I find the master builds?

[2019-11-14 17:13] aymanhab commented on #1141
https://ci.appveyor.com/project/opensim-org/opensim-gui/branch/master/artifacts

On Thu, Nov 14, 2019, 6:58 AM Luca Modenese <notifications@github.com>
wrote:

[2019-11-14 17:53] modenaxe commented on #1141
@aymanhab I have tested multiple models that presented this issue and can confirm the bug has been fixed. Thank you!

[2019-11-14 19:44] aymanhab commented on #1155
@sebastianskejoe While we can fix this for the trc file reader to not throw an error due to leading BOM, I don't know if other files may have similar parsing issues or if you have the option to not write BOM altogether. Some context regarding prevalence would definitely help. Also keep in mind that while the tools will use the new TRC parsing, the GUI uses a different parser at the moment.

[2019-11-18 08:33] sebastianskejoe commented on #1155
We encountered the problem because some markers were wrongly named in one file and thus students manually changed them in Notepad. So this problem could be avoided if:
- We had used a proper tracking workflow instead of the "student workflow" we used due to time constraints.
- We had changed the marker names in the tracking software rather than manually.
- We did not use Notepad to change the file

[2019-11-18 19:52] aymanhab commented on #1153
This boils down to the following: ExternalForce uses two different/conflicting ways to indicate whether it applies_force. a custom method that checks for force_identifier and a base class method that checks for the property applies_force. Switching to using the property always will make the setting persistent and the GUI works fine but may have other side effects downstream if the API uses the cus

[2019-11-18 19:59] jenhicks commented on #1153
Could we remove this checkbox from the GUI? If we did that, what would be the pathway for users to change the setting?

[2019-11-18 20:12] aymanhab commented on #1153
We can remove it, users will have to remove all the labels in force columns by selecting blank. which is inconvenient Another option is to keep it and make un-selection wipes out the columns for the user.  It remains the case that the API users have 2 methods appliesForce and get_applies_force() that  look identical but have different semantics/meaning.

[2019-11-18 20:35] #1141 closed

[2019-11-18 20:42] #1147 closed

[2019-11-18 20:47] jenhicks commented on #1155
We should update the GUI to use the TRCFileAdapter (it uses an older pathway) and make it support reading these files. We have a 4.1 release coming up soon, but we're too close to the release to include it. We will look at this issue in a subsequent release, though. Thanks again for reporting!

[2019-11-18 20:48] chrisdembia commented on #1155
@sebastianskejoe it seems taht Notepad++ allows using a UTF-8 encoding *without* the byte order mark; https://stackoverflow.com/questions/32986445/remove-a-bom-character-in-a-file.

Can you check whether you're using the `UTF-8` or `UTF-8-BOM` encoding in Notepad++?

[2019-11-18 20:59] jenhicks commented on #1153
We will remove the checkboxes. We should make sure to note in the documentation and changelog that users should zero out the columns to prevent the forces from being applied.

[2019-11-19 06:13] sebastianskejoe commented on #1155
@chrisdembia yes, that was how I found out what the problem was, so as a workaround I converted the affected students' files to UTF8 using Notepad++. Again, for technical users this probably isn't a problem, but for users who haven't ever heard about UTF8 it might be a quite frustrating problem.

[2019-11-19 19:09] aymanhab commented on #1153
One complication is that since the radio button options (Body Force, Point Force) are not guarded by a checkbox, now users can't specify torque only, so I implemented the most surgical solution that blanks the Force columns if you uncheck the box.

[2019-11-22 19:12] jenhicks commented on #1146
@aymanhab Can you take a look at the information provided in @sebastianskejoe latest comment?

[2019-11-22 20:47] aymanhab commented on #1146
The two offending markers are specified as Fixed in the markerset file, not sure what was the intention here.

[2019-11-26 09:16] sebastianskejoe commented on #1146
Ah, yes, not sure how that happened, but I the markerset was used previously, so maybe the handling of "fixed" changed from 3.3 to 4.0 and that was why I hadn't encountered that before? Anyway, not a problem and totally my fault.

The checkbox issues in scaling and inverse kinematics also seem to have been fixed somewhere between 4.0 and the current git, so I'll go ahead and close this issue.

[2019-11-26 09:16] #1146 closed

[2019-12-05 17:46] chrisdembia commented on #1094
@mitkof6, please see @idhamari 's script.

We need to add an Ant `build` target for Linux. We have Ant targets only for Windows and Mac, currently.

[2019-12-05 18:19] aymanhab commented on #1094
This also fits in nicely with integrating github actions so that the build is automated and tested on regular basis. Will tag here when windows builds for GUI are working.

[2019-12-05 18:56] idhamari commented on #1094
I used a windows script as well last year to build opensim-gui. I will test it next week and if everything works I will share it with everyone.

I suggest to use the same approach as  [3D Slicer](https://www.slicer.org/). It would be nice to have something similar in opensim. They already automated many tasks and there are many similarities and stuff that you can use.

[2019-12-05 19:38] chrisdembia commented on #1094
@idhamari we would love for you to contribute such a script. It would be great for you to test it but we can also work with what you already have.

By the way, we already script the building of the GUI, through AppVeyor and Travis-CI.

Thanks for the link to 3D Slicer. Their website is very nice.

[2019-12-10 19:10] chrisdembia commented on #356
I prefer option (2) above.

[2019-12-10 19:19] aymanhab commented on #356
I prefer option 2 but have some concerns:

- Will this be available on Mac/osx only?
- What permissions does the user running OpenSim have? This may open a can of worms if they can't  create the links and the uninstall becomes more involved.

[2019-12-10 19:32] jimmyDunne commented on #356
Why can't Mac users add the bin folder to their bash/zshrc file? I have this setup for my local build

[code]

[2019-12-10 19:36] chrisdembia commented on #356
That is another option, though then the command-line tools are only available on the PATH when using the shell that's configured. Also, users may use different shells.

Mostly, I am just trying to follow the example of other software. CMake and the Jetbrains IDEs use symlinks.

The issue about permissions is valid; we can use `sudo` if the command fails without `sudo`, and the system will simply p

[2019-12-10 19:36] chrisdembia commented on #356
Perhaps we should just add instructions to Confluence and not automate anything.

[2019-12-10 20:17] aymanhab commented on #356
Prefer improving documentation for the few users needing command line access over making broad changes to application used by a lot more users.

[2019-12-11 20:43] jenhicks commented on #356
Here's the page where we should improve documentation:
https://simtk-confluence.stanford.edu/display/OpenSim/Command+Line+Utilities

@aymanhab You might take a look at this if you have time. There is some material on this page that could be helpful:
https://simtk-confluence.stanford.edu/display/OpenSim/OpenSense+-+Kinematics+with+IMU+Data#OpenSense-KinematicswithIMUData-InstallingOpenSense

[2019-12-12 21:09] aymanhab commented on #356
@jenhicks Updated here
https://simtk-confluence.stanford.edu/display/OpenSim/Command+Line+Utilities
Let me know what you think. Thanks

[2019-12-12 22:35] chrisdembia commented on #356
I made some changes.

Note that macOS Catalina changes the default shell to `zsh`, not `bash`. I wonder if the instructions must be different for zsh. @jimmyDunne

[2019-12-18 00:37] jenhicks commented on #1153
From @carmichaelong during beta testing (and I confirmed) ...
Tried with grf file from 2354 using the Static Optimization tool GUI. Unchecked the applies force box for 'right', and saved to file. Two issues: 1) xml file output still has applies force as true; 2) file no longer can be editted/opened from OpenSim GUI (by hitting the edit button again in the SO GUI)