[2019-12-18 22:32] aymanhab commented on #1153
1) appliesForce in the file has a different meaning (used to be isDisabled before we made it 'clearer 💣 in 4.0) so it should be true even if the check-box is off as long as it applies Torque. Sad but true.
2) File fails to open because the datasource is deleted/removed while making a copy, may require fix on opensim-core. Still under investigation.

[2019-12-19 01:08] carmichaelong commented on #1153
I forgot a piece of info that's like part 2b) in above: when I close the SO dialog and open it again and try to use the file, it still says it can't be opened.

[2020-01-08 17:01] idhamari commented on #357
How can we do this? I tired LoadOpenSimLibrary but it is not defined.

[2020-01-08 17:04] chrisdembia commented on #357
If you are using the ScriptingShell, try `modeling.Model.LoadOpenSimLibrary()`.

[2020-01-08 17:05] idhamari commented on #357
I think it would be useful if the user add the path to the plugin, e.g. as in Edit>Preferences>Paths: Plugin search path, then restart Opensim to make use of it.

[2020-01-08 17:24] idhamari commented on #357
@chrisdembia thanks for the info. It works in terms of no error message :
modeling.Model.LoadOpenSimLibrary("/somePath/libBodyDragForce.so")

but when I try to load ThreeMasses model example from the GUI interface  in BodyDragForce, I get:

      Object::newInstanceOfType(): object type 'BodyDragForce' is not a registered Object!
      Object type BodyDragForce not recognized

[2020-01-08 17:31] idhamari commented on #357
ok I solved the above problem by using this in python as well

      loadModel("/someath/ThreeMasses.osim")

[2020-01-08 18:01] chrisdembia commented on #357
Thanks for the update.

[2020-01-15 19:07] #1153 closed

[2020-01-15 19:19] jenhicks opened #1164 "Provide users with the option to download documentation for offline viewing"

[2020-01-16 20:06] aymanhab opened #1165 "cancelling a save file action with external loads leads to NullPointerException"
@carmichaelong commented on [Tue Jan 14 2020](https://github.com/opensim-org/opensim-core/issues/2662)

With 4.1-2020-01-11-db0fa3e8

Steps:
- Load 2354
- Open ID tool
- Go to external loads, check external loads, load subject01_walk1_grf.xml
- Click edit button, then hit save, then hit cancel in save dialog box
- Red error icon shows up in bottom left

[code]

[2020-01-16 20:18] aymanhab opened #1167 "Geometry Search Path Preference is not shown"
### Steps to reproduce
On a fresh windows machine that never had 4.0 installed or a Mac osx where preferences are cleared, bones/meshes are not shown in 3D window and users have no way to specify the Geometry Search Path since there's no entry for it.

### Expected result
Bones/meshes show, and users can modify the geometry search path

### Actual result
Meshes will not show and users can't fix se

[2020-01-16 20:19] aymanhab commented on #1167
This has been fixed by PR #1163 just needs review/testing.

[2020-01-16 20:20] aymanhab commented on #1167
Reported by 281 teaching team

[2020-01-19 23:03] tkuchida opened #1168 "Previewed experimental markers disappear when model pose is changed"
### Steps to reproduce
- open arm26.osim
- File -> Preview Experimental Data…; select `Resources\Models\Arm26\InverseKinematics\arm26_elbow_flex.trc`
- in Navigator panel, double-click "arm26" to re-select model
- in Coordinates panel, click Poses -> Default

### Expected result
Nothing should change in the visualizer.

### Actual result
Experimental markers disappear.

### Environment and GUI ver

[2020-01-22 19:33] jenhicks commented on #1165
This is fixed in latest master on sourceforge.

[2020-01-22 19:34] jenhicks commented on #356
Can you guys provide me with detailed instructions on how exactly I should test the new version? Thanks!

[2020-01-22 19:35] jenhicks commented on #356
(In particular what I should delete from any previous set-ups and how I should run the script).

[2020-01-22 19:54] aymanhab commented on #356
You should
1. remove all references/links to opensim-cmd or opensense from /usr/local/bin, make sure opensim-install-dir/bin is not on your Path
2. Run the shell script from <opensim-install-dir>/bin
3. Check that links are created in /usr/local/bin for opensense and opensim-cmd
4. Run opensense from any arbitrary directory on your machine

[2020-01-22 19:56] jenhicks commented on #356
Can you remind me how to do this one?

[2020-01-22 20:17] chrisdembia commented on #356
In a terminal, you could type `echo $PATH`, which lists the directories on your PATH.

[2020-01-22 20:24] jenhicks commented on #356
Thanks. I can confirm that the new shell script worked for me. We need to add the directions back to the confluence page. I updated the instructions on confluence and would appreciate if someone gave them a quick review:
https://simtk-confluence.stanford.edu/display/OpenSim/Command+Line+Utilities

[2020-01-22 20:31] chrisdembia commented on #356
Looks good to me! I made one minor change (fixed the file extension).

[2020-02-05 20:59] chrisdembia commented on #1150
I know this isn't the best place to provide this comment, but by far my biggest pain point with the GUI now is creating and saving movies. My requests are:

- Saving the movie to MP4 format.
- Recording starts and stops when the motion starts and stops, not when the user clicks record (or for this to at least be a default mode).
- Smoother playback (same as this issue).

[2020-02-05 21:59] jenhicks commented on #1150
Thanks for reporting and sorry for the pain! @aymanhab Would upgrading help with any of these issues?

[2020-02-05 22:47] jenhicks opened #1172 "Point Doxygen link to OpenSim 4.1 doxygen"
Need to update link

[2020-02-06 21:07] aymanhab commented on #1150
Thanks for the feedback @chrisdembia
1. Not sure if saving into MP4 is now built into a library that we can use, worth revisiting indeed.
2. It is straightforward to start recording on first animation frame, but having two buttons (play motion and record video) ties together can have other side effects, will try to come up with a reasonable proposal,
3. Smoother playback and claims about frame-rat

[2020-02-19 19:02] #356 closed

[2020-02-19 19:02] #1165 closed

[2020-02-19 19:02] #1172 closed

[2020-02-19 19:03] #1167 closed

[2020-02-24 22:01] SphenopalatineGanglioneuralgia opened #1176 "Cannot see Model in OpenSim"
### Steps to reproduce
Open OpenSim, open model 'gait2392_simbody.osim'
### Expected result
I'm a brand new user, just downloaded OpenSim (using Mac) But from the tutorial, it says the model should load, and it suggests you should be able to see the model in the viewer.
### Actual result
The parameters load, but I cannot see the model in the viewer. Haven't found anything that I've tried to click

[2020-03-06 00:12] tkuchida opened #1178 "Cyan ellipsoid drawn to visualize EllipsoidJoint doesn't move when the model moves"
### Steps to reproduce
- add a body to the arm26 model and attach it to the "r_ulna_radius_hand" body via an EllipsoidJoint (see .osim file here: [arm26_withEllipsoidJoint.txt](https://github.com/opensim-org/opensim-gui/files/4295775/arm26_withEllipsoidJoint.txt))
- open the model in the GUI
- flex the elbow

### Expected result
Cyan ellipsoid remains fixed to arm.

### Actual result
When model is

[2020-03-09 12:40] dasmehdix opened #1179 "TypeError at "ModelbuildingFunctions.py" file"
Hi, I was trying to debug the codes with scriptshell windows from [this](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Scripting+in+the+GUI#ScriptingintheGUI-AvailableExampleScripts) guide.I wanted to use "ModelBuildingFunctions.py" file, I changed the comment line like below, but an error occurs.

**The part of uncommented lines:**

`modelCopy = getCurrentModel().clone()`

`ball = ad

[2020-03-09 16:48] aymanhab commented on #1179
@carmichaelong Can you reproduce?

[2020-03-09 17:43] aymanhab commented on #1179
add the lines
pelvis = modelCopy.get_BodySet().get('pelvis')
handle = connectBodyWithJoint(modelCopy, pelvis, ball, 'handle', 'SliderJoint')

[2020-03-09 17:46] carmichaelong commented on #1179
@aymanhab Thanks, I was just looking at this too. To be clear, what's being added in the code above is that you're adding a "parent frame", and the ball is the child frame. Typically for these models, when you add a new body, you add the new body as a child frame and then provide the parent frame to which it's connected.

Separately, there's another issue that needs to be fixed with `ModelBuilding

[2020-03-09 17:57] aymanhab commented on #1179
Thanks @carmichaelong Agreed on both, but since editing same file you can make one PR to address both issues with this out of date script

[2020-03-10 00:51] aymanhab commented on #1179
Thanks for pointing this out @tkuchida otherwise looks good. Thanks @carmichaelong

[2020-03-10 08:43] dasmehdix commented on #1179
The issue fixed, much thanks to @aymanhab @carmichaelong 😍

[2020-03-10 08:43] #1179 closed

[2020-03-29 19:10] aymanhab opened #1182 "Scaling a model loses custom geometry/meshes"
@aymanhab commented on [Thu Feb 20 2020](https://github.com/opensim-org/opensim-core/issues/2681)

Reported on forum and by many local users in the past
https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=11542&p=32299&start=0&view=

---

@aymanhab commented on [Fri Feb 21 2020](https://github.com/opensim-org/opensim-core/issues/2681#issuecomment-589772167)

One easy fix that works is to cre

[2020-03-30 13:01] jenhicks commented on #1176
@aymanhab Did you see this issue?

[2020-03-30 16:24] aymanhab commented on #1176
No, and I don't think it belongs here since this is very much unique to machine/OS/Card/...

[2020-03-31 14:18] jenhicks commented on #1176
Where would you put it? @aymanhab

[2020-03-31 17:16] aymanhab commented on #1176
This belongs to a forum post where we can help troubleshoot, others may pitch in if ran into similar issue.

[2020-03-31 22:42] jenhicks commented on #1176
@SphenopalatineGanglioneuralgia Thanks for reporting and sorry you ran into this issue. As @aymanhab mentioned, if you are still experiencing this issue, could you create a post on our user forum. We can help you and others troubleshoot there.

https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB

[2020-04-06 21:11] nickbianco commented on #669
I've encountered this issue while testing the "Simulation-Based Design to Prevent Ankle Injuries" lab for this year's ME/BIO485 class. Selected the menu dropdown labeled "Results(Deg.)..." actually loads results in radians; users must load the data from file to plot in degrees. This is relevant to this lab since they compare subtalar angles from their drop-landing simulations to a literature value

[2020-04-06 21:43] aymanhab commented on #669
I agree @nickbianco Will take a look to see the rationale in the GUI code and if we can show it selectively vs. remove altogether.

[2020-04-06 21:46] nickbianco commented on #669
I like Tom's suggestion to allow users to select radians vs. degrees. Not sure how difficult that would be though.

[2020-04-06 21:55] kernalnet commented on #669
Dear Experts,
It would be great if you let the users save the "_pErr.sto" (both RRA and CMC results) in degrees too.

[2020-04-06 22:15] aymanhab commented on #669
As of now, when loading .mot file (Deg.) is always appended to the display name, when loading .sto file (Deg. or Rad.) is appended depending on whether the inDegrees flag is true or false regardless of contents. The plotter is rather low level and has no understanding of rotational/translational coordinates or in most cases if the files are related to a specific model.

[2020-04-06 22:19] aymanhab commented on #669
My proposal for fix:
Short term remove the Deg., Rad. annotation altogether, maybe show a line in the message window if conversion is going to occur.
Long term: Annotate the file with units/labels (as part of Table MetaData) so that there's an interface to get/convert/annotate data when plotting or using data files downstream but this is wider in scope than this specific issue.

[2020-04-06 23:19] jenhicks commented on #669
We should at least remove the Deg/Rad annotation if they are correct in some cases. Let's discuss the longer-term fixes, as well.

[2020-04-09 15:14] jenhicks opened #1188 "Provide access to IMU-Based IK in the GUI"
@jenhicks commented on [Thu Apr 09 2020](https://github.com/opensim-org/opensim-core/issues/2720)

[2020-04-09 15:15] jenhicks opened #1189 "GUI Tool to Visualize IMU Data"
Display orientations as frames and tools to move or associate with specific bodies (so IMU frames are not all on top of each other)

[2020-04-11 21:18] carmichaelong commented on #1150
I dove into this a little more, and am happy to check some other cases too if they're needed to help isolate the problem or test more possible common use cases (I don't think what is below is exhaustive by any means).

I think there are two cases with reasonable expectations:
1. Recording videos should always have smooth frame rates in the output. I also think that, as a user, it's reasonable for

[2020-04-11 21:46] aymanhab commented on #1150
Thanks for the investigation @carmichaelong definitely very helpful. I'd also suggest you try simple model (e.g. DoublePendulum, bouncing_block or Leg39) and do some subset of the scenarios and see if the issues do reproduce. My conjecture is that all these issues are due to rendering taking too long so we're dealing with workarounds to "challenged" hardware, but I could be wrong. Note that a powe

[2020-04-12 17:44] carmichaelong commented on #1150
Thanks for the feedback. As a note, for the tests in part 2 it was run clean without other programs using the CPU and GPU (and I do think that my setup should be considered more powerful than what we expect our users to have too). For part 1, I think it's important for any user to have consistent video frames regardless of setup (e.g., in cases where part 2 doesn't work smoothly on their setup), e

[2020-04-16 16:51] marnunez commented on #1094
Hi! I've been working on a script that builds core and GUI from master sources, locally, in Linux (https://github.com/marnunez/opensim-build). It's just intended to get it up and running on a Linux machine, it's far from the desired solution.
OpenSIM seems to work just fine in Linux, from what I see the remaining work is just some substantial build.xml magic to create an installer, right?

[2020-04-16 17:05] aymanhab commented on #1094
Perfect timing @marnunez, we're about to merge a PR #1181 that does the build.xml magic and dependencies installation, you can try it out locally now or wait for it to be merged shortly to see how it works for you. Thank you 👍

[2020-04-21 20:47] aymanhab opened #1191 "Use opensim-core master build (cache) for Github Actions of this repo"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-04-21 20:51] aymanhab commented on #1191
As of now we use a cached version of opensim-core (on myosin) dating back to 1/2020, need to update opensim-core action to upload the latest build of master instead.

[2020-04-21 20:52] aymanhab commented on #1191
@chrisdembia Do you know what's involved on the opensim-core side? Is there a better way to do it without using myosin to upload? Thanks

[2020-04-21 21:40] chrisdembia commented on #1191
I suggest that this repo does what Moco does in GitHub Actions, which is build opensim-core without using Sourceforge/Myosin, and cache the opensim-core build using GitHub Actions.

https://github.com/opensim-org/opensim-moco/blob/4f25baf0096fee0c1288747e8f17abe866f8ef05/.github/workflows/continuous_integration.yml#L39-L67

[2020-04-22 14:28] aseth1 commented on #348
I wish this had been removed in 4.1! Every student has been confused by it.

[2020-04-22 14:31] aseth1 commented on #348
Also it is not clear that Filter kinematics box is only associated with these kinematics. You do not have to provide Kinematics to click the check box and set a value.  The filtering option should also be removed.

[2020-04-23 16:13] chrisdembia opened #1192 "Excitation Editor UI text is cut off on Mac"
### Steps to reproduce

Open Excitation Editor on Mac.

### Expected result

UI text is not cut off

### Actual result

(include screen grabs where appropriate)
<img width="930" alt="image" src="https://user-images.githubusercontent.com/846001/80122647-ade4a500-8542-11ea-9481-326f0b162ef5.png">

### Environment and GUI version

Mac, 4.1.

[2020-04-23 18:00] aymanhab commented on #348
Absolutely, sorry this fell thru the cracks. Will move to backlog at the next dev meeting. Thank you for the reminder @aseth1  👀

[2020-04-28 21:18] jenhicks commented on #1182
@aymanhab Can you make sure there is an update in the changelog?

[2020-04-28 21:18] #669 closed

[2020-04-29 18:03] aymanhab commented on #1182
@jenhicks Yes, changelog has been updated. Feel free to close.

[2020-04-29 18:58] #1182 closed

[2020-04-30 17:27] aseth1 opened #1194 "Default Coordinate Speeds cannot be updated through Coordinate Viewer"
### Steps to reproduce
1. load any model with at least one coordinate
2. update its coordinate and speed values in the Coordinate viewer
3. (optionally run a simulation to prove the coordinate value and speed was updated and then rewind)
4. Use Coordinate viewer Poses->Set Default
5. Jiggle coordinates (or play motion to random point)
6. Return to default pose, Poses->Default

### Expected result

[2020-04-30 23:01] carmichaelong opened #1195 "ConditionalPathPoint visualization issue"
Email from a user:

I can plan to test and confirm if this is true on multiple models.

[2020-05-12 21:01] aymanhab commented on #348
Removing from the dialog is straightforward, easily done, how does the API handle old files, or do we leave a back-door vs. remove completely?

[2020-05-12 21:20] jenhicks commented on #348
Will remove completely and give users a warning.

[2020-05-13 15:24] aymanhab commented on #348
Removing the option/properties from API/core results in the following failures, associated with the warning that kineamtics_for_external_loads are unsupported:
75:testInducedAccelerations
77:testStaticOptimization
90:testCMCWithControlConstraintsGait2354

[2020-05-14 17:02] Linardos opened #1198 "NetBeans related error - at Linux build step "make CopyOpenSimCore""
I am following the Linux (beta) instructions step by step but was presented with the following error at step ""make CopyOpenSimCore"".

![image](https://user-images.githubusercontent.com/26694607/81963209-763abb80-961d-11ea-9a3e-fac1f1c7a902.png)

The error message is not really clear to me
"Check that nbplatform.default.netbeans.dest.dir and nbplatform.default.harness.dir are defined.
On a develo

[2020-05-14 17:21] aymanhab commented on #1198
You may find the discussion here https://github.com/opensim-org/opensim-gui/pull/1181#issuecomment-628734989 useful, keep in mind though that they use Ubuntu 18 AFAIK.

[2020-05-14 17:26] marnunez commented on #1198
Hi! Try ` /home/mondestrasz/netbeans-8.2` instead of `~/netbeans-8.2` in the cmake arguments

[2020-05-14 18:00] Linardos commented on #1198
Hey thanks Marcos, that actually worked. I am now on another issue but I think it pertains to the opensim-visualizer cloning that you already mentioned in the #1181 thread. We can close this one.

[2020-05-14 18:00] #1198 closed

[2020-05-14 20:37] Linardos opened #1199 "Ubuntu 16.04 error at final step: INSTALL"
It seems the final script is not compatible with my distribution of Linux.
![image](https://user-images.githubusercontent.com/26694607/81983281-cc1e5c00-963b-11ea-949c-9c0bd5fb44d6.png)
How do I go about installing it in this case?

[2020-05-18 09:21] Linardos commented on #1199
I simply extended the if statement to include 16.04 version.

The software seems to be functional so far.

[2020-05-18 09:21] #1199 closed

[2020-05-18 21:13] jenhicks commented on #348
@aymanhab Did you resolve this? It sounds like we need to update the set-up files for these tests. Other than the warnings do the tests pass (i.e., produce the reference values)?

[2020-05-18 21:22] aymanhab commented on #348
@jenhicks not yet, the files are actually used (one of them is Sam Hamner's running model). I'm looking into the failures to see what's involved.
If these are hard/impossible to reproduce we can go to a plan B where the options are shown but disabled in the GUI and stay as is for API.

[2020-05-18 21:26] jenhicks commented on #348
What do you mean by "the files are actually used"?

[2020-05-19 21:02] aymanhab commented on #348
Example: testStaticOptimization has externalForces file that used to specify kinematics for externalLoads. By removing this reference and treating forces as in ground, the force point of application is different and the results are different more than the test tolerance.

[2020-05-20 19:41] aymanhab commented on #348
Diffs in SO test case testModelWithPassiveForces:
![SOPassiveDiffs](https://user-images.githubusercontent.com/3972208/82489809-16b63300-9a97-11ea-8e8e-90288f04b3e4.png)
I wouldn't consider this functionally different since the residuals (FX) are meant to absorb any small changes in force application.

[2020-05-20 19:57] jenhicks commented on #348
Thanks for the update @aymanhab . It would be helpful to see all of the results for all of the affected test cases. @nickbianco or @chrisdembia do you have any scripts that would help with generating these kind of summary plots for us to look at?

[2020-05-20 20:28] aymanhab commented on #348
testInducedAcceleration fails due to a bug where it looks for "ground" in the BodySet and fails because ground is not a Body in 4.0+

[2020-05-20 20:43] aymanhab commented on #348
After a fix, results are generally similar but test fails, e.g.
![IAADiffsCOM](https://user-images.githubusercontent.com/3972208/82495386-e030e600-9a9f-11ea-99ea-11eeda7b62fd.png)

[2020-05-20 22:00] jenhicks commented on #348
I looked into the IAA set-up. In Sam's published simulations shared on simtk, he does not specify a separate kinematics file for the external loads when running IAA. So I'm not sure why it is specified here. https://simtk.org/projects/nmbl_running

[2020-05-20 22:21] aymanhab commented on #348
@jenhicks I had the impression that our testInducedAcceleration was based on Sam's analysis/work because it uses a model called subject02_running_RRA_cycle02_sim02_07_v232 but I can't confirm if/where this is used in Sam's published data. I don't actually know for sure if any of his files would run as is out of the box in version 4.0+. Sorry about the confusion.

[2020-05-20 22:37] jenhicks commented on #348
@aymanhab I was looking into the published results, because I was wondering if there was a scientific reason for including the kinematics for external loads. It seems since Sam didn't include them, that there is not. The files in the test are named a little differently, so I'm not sure of their exact provenance.

[2020-05-20 22:42] chrisdembia commented on #348
The test failing due to "ground" makes more sense than the test failing due to different results, because IAA shoud not alter kinematics (or, perhaps I do not know enough about IAA; perhaps adding the foot-ground constraints results in different kinematics).

What does this graph compare? The new results should be nearly identical to the results on master, because IAA does not allow kinematics to

[2020-05-20 22:51] jenhicks commented on #348
@chrisdembia The kinematics are not different when posing the model for to run the IAA. But how the ground reaction forces are applied is different. @aymanhab Are you plotting the sum of accelerations induced by all actuators (per unit force)? Or what exactly?

[2020-05-20 23:07] aymanhab commented on #348
@chrisdembia as @jenhicks explained it's the ExternalLoad application that is different.

@jenhicks the plot is for the first quantity that the test compares against standard and fails (center of mass induced acceleration total_X, _Y,_Z). I assume if the totals are different then the decomposition due to different muscles will be different as well. There are more comparisons downstream in the test

[2020-05-21 21:19] chrisdembia commented on #348
@jenhicks https://github.com/opensim-org/opensim-moco/blob/master/Moco/plot_trajectory.py This script can plot any Storage file. Must have the OpenSim Python package available.

[2020-05-21 21:24] jenhicks commented on #348
@chrisdembia @carmichaelong and I discussed this today. We are leaning towards changing the reference. But first, we should plot all the results for reference vs. running with current master vs. running with the proposed PR.

[2020-05-22 00:37] aymanhab commented on #348
Thanks @jenhicks will do and follow up.

[2020-05-22 19:22] aymanhab commented on #1198
@marnunez and @halleysfifthinc considering the nice work you've done on building the GUI on Ubuntu and the recent surge in interest in running OpenSim (GUI, Bindings) on Linux, would you be willing to upload a package to our https://github.com/opensim-org/opensim-gui/releases page so that other users don't need to redo the same exercise? Or you can share the installer with us and we post it to sim

[2020-05-25 19:53] aymanhab opened #1200 "GUI build script on linux and osx assumes non default layout of opensim-core"
Need to set OPENSIM_INSTALL_UNIX_FHS=OFF in opensim-core build to have GUI build successfully for now. Need to make the process more robust for the long term by either changing CMake defaults in opensim-core, change build.xml or at minimum check the flags used to build opensim-core.
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Enviro

[2020-05-25 21:52] marnunez opened #1201 "deb package for OpenSIM?"
Hi! I'm leaving this issue here just to test weather there's some interest in packaging opensim-core and opensim-gui as an apt package for use in Debian, Ubuntu and their derivatives. After all the work @halleysfifthinc did in #1181, the final cherry to the ice cream would be to create separate packages, perhaps opensim-core, python3-opensim and opensim-gui.
The packages could be built in Github a

[2020-05-25 22:16] marnunez commented on #1200
Could this be set as a CMake flag for the GUI? Say, just like the core is build for "Release" and afterwards one expects the GUI to be built for "Release", just add the remainder to build both "for FHS" and have the build.xml change accordingly?

[2020-06-04 23:59] chrisdembia opened #1204 "Mac: GUI does not start"
### Steps to reproduce

Launch the GUI

### Expected result

GUI launches

### Actual result

<img width="532" alt="image" src="https://user-images.githubusercontent.com/846001/83821928-8c6bf280-a684-11ea-954f-fc0e7c4a509b.png">

I think the issue is that an exception is thrown if the logging file `opensim.log` can't opened, because Macs use `/` as the working directory for applications.

### Envi

[2020-06-05 17:23] aymanhab commented on #1204
@chrisdembia if you sudo launch do you get the file and no exception?  How do you think that worked in the past with out.log or err.log?

[2020-06-05 17:44] chrisdembia commented on #1204
I'm not willing to try that on my machine; I could try it in a virtual machine. I imagine we just were more lenient about logging to a file.

Maybe, if we cannot log to the current directory, we should log to a file like `~/.opensim/opensim.log`.

[2020-06-05 18:05] aymanhab commented on #1204
I understand @chrisdembia but where do the err.log and out.log file get written in the curren GUI that you locally build, or the published 4.1? I can try that myself as well but thought you have this info already. Let me know either way to proceed. Thank you

[2020-06-05 18:10] chrisdembia commented on #1204
As far as I know, they are not written (because we try to write them to `/` and we can't).

[2020-06-08 17:00] aymanhab commented on #1204
@chrisdembia when I try to launch the GUI on osx by browsing to the bin folder it actually launches without an issue, is that consistent with your conjecture? Do you know where the messages.log file are typically stored on osx as I couldn't locate them. Thank you

[2020-06-08 17:03] chrisdembia commented on #1204
The `opensim.log` file is written to your current working directory.

If you installed the GUI in a user-writable directory, then yes. If not, then no.

[2020-06-08 18:28] aymanhab commented on #1204
Installing for all users, the error comes from permissions of the file etc/OpenSim.conf which used to be -rw-r--r-- and instead are now -rw-------. Were we doing something special to this file when building installer on travis?

[2020-06-08 23:03] chrisdembia commented on #1201
This would be fantastic.

Another option is to package the GUI as a Snap, so it is available on all Linux variants.

We should do both! It would be fantastic if community members were interested in starting this. I can provide some guidelines based on the packaging of Simbody for Debian.

I might have time for making the Snap but not the Debian package.

https://snapcraft.io/first-snap#

[2020-06-08 23:47] chrisdembia commented on #1204
Woah how did you figure that out? On my machine, I have the same permissions issue.

When I build the GUI locally, the permissions are `-rw-r--r--`.

[2020-06-08 23:50] chrisdembia commented on #1204
Fixing the permissions of `OpenSim.conf` did not allow the GUI to start for me.

[2020-06-09 17:24] aymanhab commented on #1204
@chrisdembia I found this by trying to lunch from a shell rather than the finder. After I changed permissions, the next error was due to opensim.log. If I launch from a different folder then it works fine the file is written to whatever current working directory. I think we should handle the case of permissions not allowing creation of the file more gracefully. Thakns for your help.

[2020-06-09 18:03] chrisdembia commented on #1204
Yes, I think we should wrap the creation of the file sink in a try-catch.

[2020-06-12 15:16] aseth1 commented on #348
A fixed was proposed in #2691 that seems acceptable.

[2020-06-15 17:09] aymanhab commented on #1204
The latest GUI on osx fails to launch because of permissions on opensim.conf, changing the permissions allows the GUI to launch successfully. Another issue observed is that the shortcut is not created, likely due to permissions as well. Just to keep the status of this issue current.

[2020-06-16 18:54] aymanhab commented on #1204
Info.plist also had wrong permissions, changing this manually fixes the icon and launch.

[2020-06-16 21:29] jenhicks commented on #348
https://github.com/opensim-org/opensim-core/issues/2334#issuecomment-643417537

[2020-06-18 17:25] aymanhab commented on #1204
This can be closed if somebody on a mac tries the build from github Actions (@jenhicks or @chrisdembia ) and it functions properly (top pick on https://github.com/opensim-org/opensim-gui/actions/), mac artifact.

[2020-06-18 17:34] aymanhab opened #1209 "Verify artifacts from github actions contain all relevant parts"
### Steps to reproduce
Download corresponding artifact from https://github.com/opensim-org/opensim-gui/actions/ according to your platform

### Expected result
GUI launches
Examples, and tutorials are distributed
Documentation is included
Tutorials are included locally
Links in doxygen are pointing to proper simbody/confluence versions

### Actual result

(include screen grabs where appropriate)

[2020-06-18 18:50] chrisdembia commented on #1204
The GUI launches just fine for me on Mac now.

[2020-06-18 18:50] chrisdembia commented on #1204
I would prefer to not close this issue, because we should find a better fix.

[2020-06-19 18:51] aymanhab commented on #1204
@chrisdembia I'm trying your conjecture regarding sudo in PR #1210, if that doesn't work not sure what better fixes you have in mind. Also I will open a separate issue for caching so these experiments aren't expensive since we don't know if/why the commented out caching didn't work

[2020-06-26 19:56] aymanhab commented on #1191
close via #1211

[2020-06-26 19:56] #1191 closed

[2020-08-21 15:24] antoinefalisse opened #1216 "Directional views do not work in visualizer window"
@aymanhab Since installing OpenSim 4.2-2020-07-14-92d0686 to test #1145, the icons on the visualizer window to view the model from different directions do not work anymore. Clicking on them has no effect.

I mean those icons:

![Picture1](https://user-images.githubusercontent.com/19328993/90907258-09308200-e3d3-11ea-82aa-5a86edeea9bc.png)

Is that expected?

[2020-08-26 17:17] aymanhab opened #1218 "setObjectColor and Opacity from scripting shell do not work"
### Steps to reproduce
https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=12381&p=35171&start=0&view=
### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-09-03 21:24] aymanhab opened #1221 "test examples/tutorials that exercise ExternalLoads with latest code base/GUI"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-09-04 21:31] aymanhab commented on #1188
Here's a mock UI for IMU based IK. Main issues to address/discuss:

1. Whether have separate Calibration Tool (opens door for custom algorithms/options) or fold into IK, or make optional.
2. What options to expose: Example weights? Error Reporting?
![CaptureIMU_IKv1](https://user-images.githubusercontent.com/3972208/92286187-25e0b580-eebb-11ea-8d00-915cbb9b6978.JPG)

[2020-09-04 21:32] aymanhab commented on #1188
Thoughts? @jenhicks @carmichaelong @nickbianco

[2020-09-04 22:05] carmichaelong commented on #1188
Thanks for mocking this up. Some responses below:
1. Seems like a separate calibration tool would be good (though even just a separate "Calibration" section even if it's on the same tab could be good)? I don't feel strongly about this until I see some other users work with it.
2. Error reporting would be good. A similar weighting menu to markers would be good so that current users would find it in

[2020-09-04 22:22] nickbianco commented on #1188
Does the calibration step only need to happen once before running several IK trials? If so, then being separate might make sense for most workflows..

[2020-09-04 22:37] aymanhab commented on #1188
Thanks for the great feedback.
I draw the parallel to MarkerPlacer use in scaling which is used once or is optional but is shown on same dialog. To have separate dialogs and hope users specify same transform is error prone. Definitely need popup help to clarify usage.  Hoping to minimize custom ui for weights without sacrificing convenience.

[2020-09-08 16:15] aymanhab commented on #1221
@jenhicks This is what we discussed in the meeting with @aseth1

[2020-09-08 16:25] aymanhab commented on #1188
@aseth1 This is the starting point for the IMU based IK user interface. I look forward to your feedback.

[2020-09-10 19:13] jenhicks commented on #1188
Thanks for the update @aymanhab . I agree with @carmichaelong 's comments.

You might add some more text in the interface to separate the different parts of the process. For example:
(1) Transform data from IMU world frame to OpenSim's reference frame

(2) Place IMU sensors on the OpenSim model
File with orientations of the IMUs while the subject is in the OpenSim model's default pose:
etc.
(Side

[2020-09-16 06:59] carmichaelong opened #1222 "Changing model marker size was removed between OpenSim 3.3 and 4.1"
According to forum post: https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=12463&p=0&start=0&view=&sid=4ae2fe9f4c9e12a879ca580693b62750

@aymanhab Let me know if I missed a way to do this or if indeed this currently can't be done in the GUI

[2020-09-16 07:14] aymanhab commented on #1222
@carmichaelong As we moved geometry creation/management to the API, this is handled entirely by the API and cannot be changed in the GUI. User can modify the appearance show/hide/transparency/wireframe but not the size. I have ideas to fix that (e.g keep the shape and size in ModelDisplayHints, or keep an overall indication of model size and scale non-meshes by it) but none is in place at the mome

[2020-09-20 11:44] tkuchida commented on #1222
It would be very helpful to be able to change the size and particularly the color of each marker individually, whether model marker or experimental marker.

[2020-09-24 17:26] aymanhab commented on #1188
![CaptureIMU_IKv2](https://user-images.githubusercontent.com/3972208/94178292-c2a9c980-fe4f-11ea-9149-b35d24369ab5.JPG)
![CaptureIMU_IKWeights](https://user-images.githubusercontent.com/3972208/94178781-67c4a200-fe50-11ea-9531-81b243624b15.JPG)

[2020-09-24 19:07] carmichaelong commented on #1188
Maybe to help me understand the user experience better: what are the possible output files from this tool? Seems like if there are a lot of files, could be good just to have a single output directory?

That's a good point. I feel like the `Weights...` button is clear enough for users to hit that I don't think it's necessary to indicate default or not, but I'm open to discussion on this.

Is this a

[2020-09-24 19:39] aymanhab commented on #1188
As of now there are 2 files .mot output and errors but potentially more for debugging

[2020-09-24 19:40] #1176 closed

[2020-09-24 21:12] jenhicks commented on #1221
@carmichaelong Started looking at this.

[2020-09-29 20:18] carmichaelong commented on #1221
Searching "external_loads_model_kinematics_file" in XML files in all 3 repos:

opensim-core
- [ ] Applications/Analyze/test/subject01_Setup_InverseDynamics.xml
- [ ] Applications/Forward/test/pendulum_external_load_point_in_ground.xml
- [ ] Applications/Analyze/test/subject01_Setup_StaticOptimization.xml
- [ ] Applications/ID/test/subject01_walk1_grf.xml
- [ ] Applications/Analyze/test/subject02_g

[2020-09-29 22:14] jenhicks commented on #1178
@aymanhab Can you look at this issue?

[2020-09-29 22:15] jenhicks commented on #1168
@aymanhab will take a look.

[2020-10-01 20:46] aymanhab commented on #1102
I believe this has been fixed already, just need to verify.

[2020-10-01 20:59] aymanhab commented on #1178
Very likely issue is that generateDecoration methods for EllipsoidJoint mishandles the "fixed" flag, leading to the visuals not being updated with the coordinate/state changes.  Testing a fix.

[2020-10-06 16:49] aymanhab commented on #1178
@tkuchida or @carmichaelong if you can verify the fix in latest build this can be closed. Thank you

[2020-10-06 21:05] aymanhab commented on #1188
![CaptureIMU_IKvcal](https://user-images.githubusercontent.com/3972208/95260059-f506df80-07dc-11eb-8c9a-8d368395e86b.JPG)

[2020-10-06 21:07] aymanhab commented on #1188
![CaptureIMU_IKimu](https://user-images.githubusercontent.com/3972208/95260261-47480080-07dd-11eb-850f-582a6450a680.JPG)

[2020-10-07 19:19] jenhicks commented on #1188
Thanks @aymanhab . I think there are ways we could tweak the words, but that is an easy fix.

As far as the data transformation, should this be the same as in calibration? And can you remind me of the rationale for having people do this in both places?

In the IK step, we should also note prominently somewhere that we assume the IMUs have already been placed on the model (and any other assumptions

[2020-10-07 19:35] aymanhab commented on #1188
Thanks for the feedback, happy to tweak the wording.
Same transformation should be applied in both calibration and IK since CoordinateSystem for IMU is different from OpenSim so the transformation has to be applied to both Calibration and IK orientations (I suggested long time ago to use a model in IMU CS but we decided against it). The issue is not critical for IK since it can solve for the trans

[2020-10-09 17:24] carmichaelong commented on #1178
Looks like the code upgrade fixed moving with the model, but it seems to introduce an issue with the location of the additional body. Using the model provided above, the initial placement of the sphere is different between 4.1 and the latest GUI version (see below):

OpenSim 4.1:
![image](https://user-images.githubusercontent.com/7455790/95611191-56fe5980-0a16-11eb-9a52-41763318640b.png)

OpenSim

[2020-10-11 02:20] Allwillcome opened #1224 "Opening model fails"
### Steps to reproduce
1. Open gait2392_simbody.osim
2. Try to show muscle
### Expected result
show the model and muscles

### Actual result
Didn't show anything
![image](https://user-images.githubusercontent.com/35840764/95668778-0bc97f80-0bab-11eb-82e7-b40f20a9fdcf.png)

(include screen grabs where appropriate)

### Environment and GUI version

  Product Version         = OpenSim 4.1
  Operating

[2020-10-14 17:05] aymanhab commented on #1178
A note for further testing, it is artificially made harder to troubleshoot an Ellipsoid that has equal radii since it looks like a sphere that is invariant under rotations 💀 I changed the radii to .1 .2 .3 to keep sanity and recommend testers do the same.

[2020-10-14 19:28] tkuchida commented on #1178
Sorry @aymanhab. The issue is that the ellipsoid doesn't move. This occurs regardless of the radii.

[2020-10-14 20:19] aymanhab commented on #1178
No worries @tkuchida I just had an issue where I couldn't distinguish the axes so I thought I document it for testing purposes but I agree the issue occurs regardless of radii 😃

[2020-10-15 17:02] carmichaelong commented on #1178
@aymanhab Fixes look good for ellipsoidal joint (OpenSim 4.2-2020-09-02-8bd2ec0 downloaded on 2020-10-15)
![image](https://user-images.githubusercontent.com/7455790/96162415-5dd11480-0ecd-11eb-9b57-ed3010a73551.png)

[2020-10-19 15:48] aymanhab commented on #1178
@jenhicks This can be moved to Done. Thanks for testing @carmichaelong

[2020-10-19 15:54] aymanhab opened #1226 "Document new tools to support IMUs in user guide and add version of opensense tutorial for GUI users"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-10-19 21:32] aymanhab commented on #1150
For the recorded/zipped videos, checking "Properties" of all these files show frame rate of 30 fps
![CaptureMP4Properties](https://user-images.githubusercontent.com/3972208/96514007-e7f3e280-1217-11eb-9af7-2c080ff84f3f.JPG)

[2020-10-20 23:30] carmichaelong opened #1227 "Test downstream changes to Millard muscle initialization"
Follow up from opensim-org/opensim-core#2790

[2020-10-24 05:58] aymanhab commented on #1216
This has been fixed in the build for PR https://github.com/opensim-org/opensim-gui/pull/1228

[2020-10-26 22:26] carmichaelong opened #1229 "Update distributed example setup files to correct paths"
### Steps to reproduce
Tested on `master` branch, `ik_with_imus` branch, and OpenSim 4.1 download)

**RRA "Run" button does not light up**
1. Get Strength_of_Simulation folder either from 1) opensim-models/Tutorials or 2) leg6dof9 folder distributed with GUI
2. Open leg6dof9musc_added_mass.osim (from Strength_of_Simulation/Stance/Reference)
3. Load leg69_Setup_RRA.xml
4. Expect Run button to un-gr

[2020-10-28 17:09] aymanhab commented on #1229
Thanks for reporting @carmichaelong I can confirm the following:
CMC: Actually the file doesn't exist though the name is very long but the actual file name specified does not exist, either we need to add the file or rename existing one or the tutorial describes how to generate it.

[2020-10-28 17:15] aymanhab commented on #1229
RRA validation has a bug where it's checking for control constraints file that's specified and doesn't exist, do you know if these are supposed to be available for RRA? Thank you

[2020-10-28 17:49] carmichaelong commented on #1229
Oh whoops, good catch. That'll be easy enough to update. I'm also wondering if now is the right time to update the setup file to 4.0 format if this is supposed to be a reference for a user going through the example.

Thanks again... apparently I can't read file names properly ☹️, I see the difference now (seems like a mash up between the two current control limit file names). I checked some other

[2020-10-28 18:25] andrersvieira commented on #855
I realized this is still a problem with opensim. My SSD just got full and my pc doesn't have many apps or documents so I thought it was weird. After a while I realized it was the JxBrowser folder that had 150GB. Is it safe to delete those .dmp files?

[2020-10-28 19:48] carmichaelong opened #1230 "When navigating to open a Model file, "Recent Items" takes awhile to load"
### Steps to reproduce
1. File --> Open Model...
2. Hit Recent Items (Windows)
3. Loads eventually, but takes awhile

Looks to be slow on OpenSim 4.2-2020-09-02-8bd2ec0 (master) and OpenSim 4.2-2020-10-23-c635110 (threejs update) branches. OpenSim 4.1 distribution is not slow

[2020-10-28 19:55] tkuchida commented on #855
@andrersvieira Yes, the .dmp files can be safely deleted 🗑️

[2020-10-28 20:00] andrersvieira commented on #855
@tkuchida thank you! is there a way to prevent these files from being written in the future?

[2020-10-28 20:08] tkuchida commented on #855
Not that I know of (though presumably the bug will be fixed eventually). If you want these files to be deleted automatically, you could write a .bat file to navigate to this directory and `del *.dmp` when your computer boots, for example.

[2020-10-29 16:36] aymanhab commented on #1229
Thanks @carmichaelong I agree we should update the example, the tricky part is that we don't expose the constraints file in the GUI (some legacy rationale that it's rarely used), so I'll just disable the check for it and the users will see it upon trying to run if needed rather than getting stuck with the run button disabled.

[2020-11-19 20:58] aymanhab opened #1236 "Fine tune application's dialogs for IMU Calibration and IK"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-11-19 21:00] aymanhab commented on #1236
Items per feedback from @jenhicks
1. There is not a good mapping between (1) xml file name and the properties in the xml file and (2) the names in the GUI tools (e.g., calibration vs placer ... align vs. heading correction). We should use consistent terminology where possible.

2. It's not completely clear to users from the set-up how to skip the heading correction step. ... maybe note that it is

[2020-11-20 04:52] carmichaelong commented on #1236
A few suggestions to get started (definitely feel free to work from these and refine):
- imuPlacer.xml -> Setup_IMU_Calibration.xml [so that "calibration" is clear, rather than "placer"]
- I'm not sure I would understand "default pose" in the "Orientation file at default pose". Perhaps "registration pose"? "Calibration pose" would make the "calibration" terminology consistent with the xml file, bu

[2020-11-24 22:01] aymanhab commented on #1236
I agree this would be helpful but my understanding is that the issue is not the xml file name but rather the discrepancy between the menu pick name (IMU Calibrate...)/IMU Calibration Tool on one side and the class name (IMUPlacer). The general idea is that IMUPlacer is one way to calibrate and others may come later, maybe replace Calibrate/Calibration with Place/Placement or Registration?

If we i

[2020-11-25 21:17] carmichaelong commented on #1236
@aymanhab Thanks for the notes, some responses below:
- I see now what you mean about Calibration vs. Placer. I think maybe then switch all of those to "placer":
1. Drop down: "IMU Calibrate..." -> "IMU Placer..."
2. IMU Placer window title: "IMU Model Calibration Tool" -> "IMU Placer Tool" (I think this is OK until there are more Calibration options, which would then change this tool?)
3. IMU Pla

[2020-11-25 22:37] aymanhab commented on #1236
Thanks @carmichaelong I'll go with Placer/Placement over Registration or Calibration since it parallels Marker Placement. @jenhicks please let us know if you have a different preference.

[2020-11-30 18:15] aymanhab commented on #1236
@jenhicks I'm making the changes per @carmichaelong suggestion please let me know if your preference for naming. Thank you

[2020-11-30 20:37] aymanhab commented on #1236
@carmichaelong In regards to the order of properties in the file, this is controlled by the inheritance (subclasses add properties to the end) as such results directory will appear near the top because it comes from parent class, the rest however can be arranged as needed.

[2020-11-30 20:57] aymanhab commented on #1236
The data files from the example are pretty long (600+ seconds) which doesn't add much value, will trim.

[2020-12-03 22:26] aymanhab opened #1238 "Add confluence pages for IMU based tools"
Help links from dialogs of IMU based tools have no place to land.
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2020-12-14 21:17] jenhicks opened #1241 "GUI documentation link updates"
- [ ] Update launch documentation screen
- [ ] Update link to doxygen (api_docs42)
- [ ] Any updates to tutorials 1, 2, 3?

Info on this page: https://simtk-confluence.stanford.edu/display/DevPlans/Steps+for+New+Release
(We might also move this info to Github.)

[2020-12-14 21:32] jenhicks commented on #1188
I didn't run into any errors this time ... I used the files provided with the distribution (Rajagopal_OpenSense).

Some additional comments/questions:

- On launch I get the error "Can't open file 'opensim.log' for writing. Log file will not be created. Check that you have write permissions to the specified path." Is this expected? If not, should probably be a separate issue.
- Should we use _Open

[2020-12-14 21:55] aymanhab commented on #1238
https://simtk-confluence.stanford.edu/display/OpenSim/IMU+Inverse+Kinematics
I also added
https://simtk-confluence.stanford.edu/display/OpenSim/How+to+use+the+IMU+Placer but that ended at the top level, do you know how to move it under IMU+Placer page? @carmichaelong or @jenhicks

[2020-12-14 22:04] carmichaelong commented on #1238
I don't see the "IMU+Placer" page to move the "How To use the IMU Placer" under that one. If you make the "IMU+Placer" page I think I figured out how to move it under there

[2020-12-14 22:18] aymanhab commented on #1238
Thanks @carmichaelong I think I did it, but another pair of 👀 to confirm would help

[2020-12-14 22:27] carmichaelong commented on #1238
Looking good to me! I now see both pages with the How To nested in the tree

[2020-12-14 23:11] carmichaelong commented on #1188
One other point to add to those above:
IMU IK Tool:
- How do user-selected weights get saved out to file? I didn't see them when saving out the setup file.

[2020-12-15 19:00] aymanhab commented on #1188
This is unexpected and would be due to trying to install the application in a "System" folder that you don't have permission to write to. Did you install for yourself or all-users? Please open a separate issue.

I prefer OpenSense for branding/highlighting OpenSense and also I think the generic OpenSense is more general than IMUs as we may fuse other sensors, but can change if there's a strong cas

[2020-12-15 19:36] jenhicks commented on #1188
I will file a separate issue about the permissions part.

Thanks for the follow-up. Sounds good to stick with OpenSense. We should be sure to mention OpenSense in the documentation, as well.

What kind of clarifications did you have in mind for the calibration vs. placement?

[2020-12-15 19:38] jenhicks opened #1242 "GUI can't open opensim log for writing"
On launch of the GUI, I get the error "Can't open file 'opensim.log' for writing. Log file will not be created. Check that you have write permissions to the specified path."

I installed the latest artifact of OpenSim (OpenSim 4.2-2020-12-10-c3b7dcf) for all users on Mac.

[2020-12-15 19:57] aymanhab commented on #1188
I'd leave the xml property as is, just change the wording of the comment from "Name/path to a .sto file of sensor frame orientations as quaternions to be used for calibration." to "Name/path to a .sto file of sensor frame orientations as quaternions to be used for placing IMUs on the model."

[2020-12-15 20:12] jenhicks commented on #1188
Got it ... sounds reasonable.

[2020-12-17 18:06] aymanhab commented on #1242
This has been addressed by not creating a log file by default on osx. Users can specify a log file after launch if needed. Will document after testing an artifact to verify functionality works as expected.

[2020-12-18 22:31] carmichaelong opened #1249 "java.net.BindException error upon opening GUI"
@aymanhab, found this on trying the latest build:

On Win 10, OpenSim 4.2-2020-12-18-04a2d38:

Upon ~~first opening the GUI after install~~ opening the GUI (happens every time I open the GUI), I noticed a red error bubble in the bottom right. Below is info from the error:
![image](https://user-images.githubusercontent.com/7455790/102667163-998e9180-413d-11eb-8df0-ff71ea70739a.png)

[code]

[messag

[2020-12-18 23:30] aymanhab commented on #1249
This happens if another instance of the application is running since
they'll use same port. Please close other instances first.

On Fri, Dec 18, 2020, 2:32 PM carmichaelong <notifications@github.com>
wrote:

[2020-12-18 23:38] carmichaelong commented on #1249
Bah, thanks. I missed the other open window.

[2020-12-18 23:38] #1249 closed

[2020-12-21 20:37] jenhicks commented on #1241
@aymanhab Here is a link placeholder for the Welcome to OpenSim! documentation page that shows up on GUI launch (What's new):
https://simtk-confluence.stanford.edu/pages/viewpage.action?pageId=48988768
I think the other links are OK as is.

Do we distribute the tutorials with tutorials 1, 2, 3?

Please note we also need to update the link to doxygen (it doesn't exist yet, but you could put in the

[2020-12-28 18:05] aymanhab commented on #1241
Thanks @jenhicks I made a PR to update. We distribute the tutorial pages
but these have not changed AFAIK.

-Ayman

On Mon, Dec 21, 2020 at 12:37 PM Jen Hicks <notifications@github.com> wrote:

[2021-01-07 10:49] deyvidpi opened #1254 "Blank Visualizer Window"
### Steps to reproduce
Installing Opensim 4.1 or 4.0 and launching it.

### Expected result
Displaying background + model in the visualizer window.

### Actual result
**Visualizer window is totally black at launch, and becomes white after loading a model, a motion, etc.**

No error message.
Restarting doesn't change anything.
Reinstalling idem.
Works fine with Opensim 3.3

### Environment and GUI

[2021-01-07 23:37] glisca opened #1255 "Building on Linux (beta)"
### Environment and GUI version
cloned the repository at the commit: [c3588c6b14e5bdea99dc5ff5566630ab7bec7896](https://github.com/opensim-org/opensim-gui/commit/c3588c6b14e5bdea99dc5ff5566630ab7bec7896)

### Steps to reproduce
[code]
additionaly from [.travis.xml](https://github.com/opensim-org/opensim-gui/blob/c3588c6b14e5bdea99dc5ff5566630ab7bec7896/.travis.yml#L41)
[code]

[code]

### Expected

[2021-01-08 18:30] aymanhab commented on #1188
If you can review the wording in the last build, we can close this one @jenhicks

[2021-01-08 18:34] aymanhab commented on #1236
I believe this is done too, could be checked in latest build.

[2021-01-10 21:33] aymanhab commented on #1242
Fixed in latest master artifact. Please verify and close

[2021-01-10 21:38] aymanhab commented on #1254
Considering how long these releases have been out, this is specific to your environment, likely related to gfx card issues. There should be a red stop sign error indicator on status bar to help give more info. Try install as admin. This doesn't belong here but on user forum. Thank you

[2021-01-10 21:38] #1254 closed

[2021-01-10 21:40] aymanhab commented on #1255
It's possible there's inconsistency between core and gui repositories. Use latest on both rather than specific commit in one repo and let us know.

[2021-01-11 22:59] glisca commented on #1255
Sure, first I appreciate your fast reply. Your tips helped me a lot. I used the latest commit from the master branch of each:
 [opensim-core](https://github.com/opensim-org/opensim-core/commit/84938b0e770b8c9ceba22b7475c9ab45e13e2408) and [opensim-gui](https://github.com/opensim-org/opensim-gui/commit/fc62aad5ce7ef3d9c60f108f7b0a05fb3c0dfc09) and now I get fewer errors:
[code]

[2021-01-11 23:46] aymanhab commented on #1255
That looks much better, the only thing missing is that when you build opensim-core you'd have to turn on C3D parsing and that should take care of the remaining errors. This is done by setting OPENSIM_C3D_PARSER to ezc3d instead of None which is the default (also make sure when building the dependencies that ezc3d was built). Please let us know how that works.

[2021-01-12 01:40] glisca commented on #1255
Yaaayyy  :) ... I very much appreciate your responsiveness ... it works better and better. Setting OPENSIM_C3D_PARSER to ezc3d solved most of the errors. Now I am left only with 2 errors ... hmmm:

[code]

[2021-01-12 04:42] aymanhab commented on #1255
Glad you got the opensim-core build to complete successfully. The files you reported as failing to compile are not in the source tree, so I'm not sure how you got them. It may help if you follow the sequence on our github action (under linux)
https://github.com/opensim-org/opensim-gui/blob/master/.github/workflows/continuous-integration.yml
It's possible your netbeans version/configuration is some

[2021-01-12 23:45] jenhicks commented on #1242
I think I need to trigger some sort of error to test this. How might I trigger an error. And how do I create the log file after launch? Is this documented somewhere?

[2021-01-13 00:21] aymanhab commented on #1242
You can create an additional log file from the scripting shell but typically users don't look for the file in the installation folder. I think all logging will continue to show in the messages window. If you have permissions to write to the install folder you can add an extra "sink" ,  using
`import` org.opensim.modeling as osim
osim.Logger.addFileSink('path.log')
'
This may do the trick

[2021-01-14 17:53] jenhicks commented on #1242
Thanks for the tip. Unfortunately this gives the error: "Can't open file 'path.log' for writing. Log file will not be created. Check that you have write permissions to the specified path."

I am using OpenSim as the admin in case that makes a difference.

[2021-01-14 18:05] jenhicks commented on #1188
The updated wording looks good to me ... closing this one. Thanks @aymanhab

[2021-01-14 18:05] #1188 closed

[2021-01-14 18:10] jenhicks opened #1258 "Time is cut-off in motion player on Mac"
Testing the latest build and the OpenSense example files, I see the following:
![Screen Shot 2021-01-14 at 10 06 34 AM](https://user-images.githubusercontent.com/4510959/104631123-a628db80-5650-11eb-8ca0-45640956d5e0.png)

[2021-01-14 18:12] jenhicks commented on #1216
This seems to be fixed for me, but would be great to get your verification as well, @antoinefalisse (when you have a chance).

[2021-01-14 18:17] aymanhab commented on #1242
@jenhicks Despite being an admin you probably can't write to the installation folder if you installed for all users. Try using a full path to a file in your folder e.g. '~/testopensim.log' or use full path as seen in the finder window. Unfortunately that's beyond our control

[2021-01-14 18:18] jenhicks opened #1259 "Names of "Preview" functions in the GUI"
We now have a "Preview Experimental Data ..." and "Preview Sensor Data ..."

It is not super clear what these two options do.

Perhaps:
Preview Sensor Data -> Preview Orientation Data (as I believe this is what it does)
and
Preview Experimental Data .." -> Preview Marker and GRF Data (or what would be appropriate?

@carmichaelong @aymanhab Thoughts?

[2021-01-14 18:19] jenhicks commented on #1102
This is fixed for me.

[2021-01-14 18:20] jenhicks commented on #1229
What needs to be tested here?

[2021-01-14 18:20] jenhicks commented on #1230
This doesn't seem slow for me, but would be good to have you test @carmichaelong

[2021-01-14 18:22] antoinefalisse commented on #1216
Working fine with the latest version I have. I close the issue.

[2021-01-14 18:22] #1216 closed

[2021-01-14 18:22] jenhicks commented on #1150
I believe our response to this one was to allow the generation and saving of "stills". Where is this documented so I can try it out? @aymanhab Thanks!

[2021-01-14 18:23] aymanhab commented on #1259
@jenhicks I would not change the name of the old button as it will confuse users who are not using IMUs unnecessarily. The mental picture for these users have already been drawn,  documentation/forum posts that date years back has reference to this name so i wouldn't touch it.
For the new one, I'm open to changing to clearer name, the reason I stuck with Sensor rather than orientation is to suppor

[2021-01-14 18:24] carmichaelong commented on #1229
I forgot to link the issue that should address this: https://github.com/opensim-org/opensim-models/pull/140

This could be tested by making sure that using the reference setup files in the folder `Strength_of_Simulation/Stance/Reference` for RRA and CMC work out of box

[2021-01-14 18:32] aymanhab commented on #1150
Sorry @jenhicks here's the PR https://github.com/opensim-org/opensim-gui/pull/1234
There's a line in the changelog file of the GUI about change video format but I don't think it's clear. Let me know if you have ideas to make this more accessible. Thank you

[2021-01-14 19:42] carmichaelong commented on #1230
Tested with OpenSim 4.2-2021-01-09-fc62aad, and comparing with OpenSim 4.1, the current build is still slower than OpenSim 4.1 That being said, IIRC when I wrote this issue, the problem was much much worse. It's much better now even if there's still a little delay to the point where this could get closed.

@aymanhab Have you seen this before or could this be specific to my machine?

[2021-01-14 19:58] aymanhab commented on #1230
Thanks for checking @carmichaelong I think this is specific to your machine since the whole cache of recent files is maintained by the underlying netbeans platform in some files/cache. This folder is typically cleared with a new install but the details are mostly hidden and if issues exist they's be machine specific.

[2021-01-21 22:29] aymanhab opened #1260 "Plotter dialog icon is missing in 4.2 Beta"
### Steps to reproduce
Open plotter window on Windows machine, the window should have OpenSim logo, it shows with Java/Duke icon instead

### Expected result

### Actual result
![CapturePlotter42](https://user-images.githubusercontent.com/3972208/105420373-1c9b7f80-5bf5-11eb-9649-1b6c50607da0.JPG)

(include screen grabs where appropriate)

### Environment and GUI version

[2021-01-23 15:23] glisca commented on #1255
It was my fault. The files which fail are generated files. I was unaware that I am using java-11-sdk instead of java-8-sdk. Now, that I uninstalled java-11-sdk and use only java-8-sdk I get no error more.

I noticed a few more issues after running the ```make PrepareInstaller``` command though:

1. when I run the ```/home/hacker_name/code/opensim/src/opensim-gui/Gui/opensim/dist/installer/OpenSim/

[2021-01-23 19:48] aymanhab commented on #1255
Thanks for reporting.
1. The install process should copy the libraries to the install folder so you don't need to pollute your environment with LD_LIBRARY_PATH changes. There's a PR in progress to address that here
https://github.com/opensim-org/opensim-core/pull/2930
2. Again the INSTALL process copies files from the visualizer repository to the install folder, this should have been executed as p

[2021-01-25 12:49] spahrm opened #1261 "Building on Windows following appveyor in powershell"
### Environment and GUI version
cloned the latest master version of the GUI (commit id: [fc62aad5ce7ef3d9c60f108f7b0a05fb3c0dfc09](https://github.com/opensim-org/opensim-gui/commit/fc62aad5ce7ef3d9c60f108f7b0a05fb3c0dfc09))

### Steps to reproduce

Followed the [Appveyor.yml](https://github.com/opensim-org/opensim-gui/blob/master/appveyor.yml) steps within powershell:

`$env:JAVA_HOME = "C:\Progra

[2021-01-25 19:25] carmichaelong opened #1262 "Loading and saving over an "empty" scale file leads to another "empty" file"
### Steps to reproduce
1. Load ThoracoscapularShoulderModel.osim (attached)
2. Open Scale tool and load setup_scaling.xml (attached)
3. Choose static_upper.trc (attached)
4. Save setup file over setup_scaling.xml

### Expected result
The setup_scaling.xml file is not "empty"

### Actual result
File is "empty" (and unchanged)
![image](https://user-images.githubusercontent.com/7455790/105755121-b918

[2021-01-26 09:02] mrrezaie opened #1263 "suggestion for file browser"
Hi,

The file browser in OpenSim (all versions) is not user-friendly enough. Some functionalities like pasting the path, searching for files, right-clicking on the files for previewing, deleting, copying and etc. are missed when compared to e.g Notepad++ file browser or other windows applications

It would be great if the OpenSim developer team would change the file browser in the new version (4.2

[2021-02-04 21:35] aymanhab opened #1266 "Model changes not saved for a specific model"
https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=12993&p=0&start=0&view=&sid=5894524de1810f276f98b7fc804ad91f

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-02-09 19:55] aymanhab opened #1268 "Random exception while editing scale tool setup"
Reported by user testing and by  Antoine during testing 4.2 Beta

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-02-09 22:55] carmichaelong commented on #1227
From testing gait1018 CMC, seems like minimal changes:
![image](https://user-images.githubusercontent.com/7455790/107439164-80bfae00-6ae6-11eb-8d25-1c9c2d5a50e3.png)
![image](https://user-images.githubusercontent.com/7455790/107439401-d7c58300-6ae6-11eb-8bb5-1b948901bf89.png)

[2021-02-09 23:38] carmichaelong commented on #1227
From tug of war:
![image](https://user-images.githubusercontent.com/7455790/107442995-d303cd80-6aec-11eb-92f0-e324fb4c8740.png)

[2021-02-11 20:20] aymanhab opened #1270 "Save transformed IMU data as sto files"
### Steps to reproduce:
Preview IMU/Sensor data, transform, then try to save. Option to save as .sto is not available

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-02-11 23:46] aymanhab opened #1271 "Document GUI scripts and their dependencies"
running GUI\createDoublePendulum.py in the GUI crashes with the following error: NameError: name 'addBodyToModel' is not defined.
If you run the script ModelBuildingFunctions.py first then all works as expected
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-02-11 23:49] aymanhab opened #1272 "Unable to avoid heading correction in the GUI"
In IMU Placer, unable to omit heading correction unless a saved setup file omitting the correction is loaded (can't simply deselect name/axis from default IMU Placer Tool settings or from a loaded setup file with a correction). Error: Invalid specification of heading aixs ' ' found.

### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Envir

[2021-02-11 23:51] aymanhab opened #1273 "IMU IK weight issues"
- Should IMU IK weights be saved in the settings file? If so, not currently happening
- After running the IK tool, Sensor Weights window is blank when opened. Opening Sensor Weights window multiple times before running the tool works fine.
- No evidence that manually changing weights affects output - hip, knee, ankle angles stayed the same on a couple different weight set runs
- ### Steps to repro

[2021-02-12 20:56] aymanhab commented on #1272
The error message was due to passing space ' '  instead of empty string '' to the tool.

[2021-02-16 19:46] aymanhab opened #1274 "Specifying default states file in Forwardtool affects end time"
### Steps to reproduce
Reported by Carmichael in testing party
### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-02-17 23:25] aymanhab commented on #1268
Should be fixed by PR #1268

[2021-02-22 18:34] aymanhab commented on #1268
Waiting for verification!

[2021-02-22 21:54] jenhicks commented on #1272
So can this be closed?

[2021-02-22 22:31] aymanhab commented on #1272
If we merge the branch and the build on master works as expected (which should be the case) then yes.

[2021-02-23 21:48] #1189 closed

[2021-02-23 21:49] #1236 closed

[2021-02-23 21:51] #1178 closed

[2021-02-23 21:51] #1102 closed

[2021-02-23 21:52] jenhicks commented on #1268
@aymanhab I could test this, but can't find specific details about what to test.

[2021-02-23 21:54] jenhicks commented on #1226
Did this get coverage during the testing part @aymanhab @carmichaelong ?
Anything still to do here?

[2021-02-23 22:00] jenhicks commented on #1150
@aymanhab Please add instructions about how to do this here:
https://simtk-confluence.stanford.edu/display/OpenSim/Taking+Snapshots+and+Making+Movies#TakingSnapshotsandMakingMovies-RecordingaMoviewRecordingaMovie

[2021-02-23 22:03] #1259 closed

[2021-02-23 23:29] aymanhab commented on #1268
Tested by Antoine, and he gave the thumbs up, so no need to worry about it.

[2021-03-07 22:25] mrrezaie opened #1280 "Crash during saving external load file (v. 4.2 Beta)"
### Steps to reproduce
In "External Loads" tabs, when I delete the second forces and save a new file, OpenSim suddenly terminates.
Test data: Gait2392_Simbody files

### Expected result

### Actual result

https://user-images.githubusercontent.com/38867713/110256846-58758300-7fb0-11eb-83c4-33760ff07252.mp4

### Environment and GUI version
Windows 10
6 G RAM

[2021-03-07 22:46] mrrezaie opened #1281 "Extra analyzed frames in ID tool (v. 4.2 Beta)"
### Steps to reproduce
All OpenSim tools (e.g IK, RRA, CMC, Analyze) detect the processing time range from the input motion files and If I set it to 0-100s, they just analyze the available time frames. But this doesn't happen in ID tool and the result is extra frames. It is annoying during a pipeline or workflow processing.
Test data: Gait2392_Simbody

### Expected result

### Actual result

https

[2021-03-09 19:40] aymanhab commented on #1281
@carmichaelong will let me know if this seems reproducible

[2021-03-09 19:47] aymanhab commented on #1281
Based on the video, this is all due to Filtering which triggers Padding and then the padded data is trimmed so there're end effects. I'd like to see the behavior with no filtering.

[2021-03-18 19:24] aymanhab opened #1290 "Upgrade Netbeans RCP to version 12"
As of 03/2021, version 8.2 of NetBeans which we used as the underlying platform for the application has been retired. NetBeans IDE and the platform are now at version 12.3 and are maintained as an opensource Apache project. Need to upgrade otherwise it's impossible for users or for us to build the GUI using publicly available tools.

### Expected result

### Actual result

(include screen grabs wh

[2021-03-18 19:35] aymanhab commented on #569
Size is now 40M and rather minimal, this can be closed.

[2021-03-18 19:35] #569 closed

[2021-03-25 17:32] #1230 closed

[2021-03-25 17:33] #1268 closed

[2021-03-25 17:34] #348 closed

[2021-03-25 21:20] #1229 closed

[2021-03-25 21:20] #1226 closed

[2021-03-25 21:20] #1273 closed

[2021-03-25 21:21] #1272 closed

[2021-03-25 21:22] #1227 closed

[2021-03-25 21:22] #1270 closed

[2021-03-25 21:22] #1221 closed

[2021-03-25 21:22] #1209 closed

[2021-04-23 18:27] jenhicks commented on #1271
@aymanhab Is this still an issue?

[2021-04-23 19:01] aymanhab commented on #1271
Nothing changed in this regard in 4.2, if a user randomly runs a script out of order he/she gets an exception, we don't know how common is this use-case but I'd leave the issue open until we either retire the script or improve documentation. Totally not urgent.

[2021-04-23 23:31] tkuchida commented on #1271
Is it possible for the script to test whether the necessary pre-conditions have been met, and if not, report a useful message to the user? In this case, perhaps use a try/except at the top to catch nonexistence of the required method?

[2021-06-07 21:47] carmichaelong opened #1300 "CMC GUI does not have Analyses tab"
@aymanhab said he'd need to first check why this was removed before (seems like this has been the case for 4.0+).

Note that analyses can still be added in the setup file, and when loading the setup file the Analyses are still applied.

[2021-07-06 18:01] aymanhab opened #1308 "Add documentation page for Preview Sensor Data"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-07-06 18:07] aymanhab commented on #1308
@jenhicks @carmichaelong Just found out that I didn't add a page to the user guide describing the Preview Sensor Data menu-item/dialog. Can you suggest a place for it under confluence? Thank you

[2021-07-08 00:39] aymanhab commented on #1308
@carmichaelong can you help me create a blank page on confluence to populate with the documentation. Thank you

[2021-07-08 01:19] carmichaelong commented on #1308
@aymanhab I started a page here (as a child of User's Guide): https://simtk-confluence.stanford.edu/display/OpenSim/Preview+Sensor+Data

Not sure if this will end of being the best place for it, but figured we could start here and move it later if needed. I've also limited it to the dev team for now, so we'll have to change permissions once it's ready to go

[2021-07-08 02:02] aymanhab commented on #1308
Thank you

On Wed, Jul 7, 2021 at 6:19 PM carmichaelong ***@***.***>
wrote:

[2021-10-08 17:49] #1308 closed

[2021-10-08 17:59] #1238 closed

[2021-10-08 18:14] #1255 closed

[2021-10-08 19:54] aymanhab commented on #1224
This doesn't reproduce and the functionality is exercised very frequently by everyday use. Likely machine/configuration specific. Closing until more info to reproduce is available

[2021-10-20 10:44] SietseAchterop opened #1318 "No Visualizer Window in the gui on linux Ubuntu"
Hello,

I almost succesfully installed opensim-gui on linux, both on Debian 11.1 and Ubuntu 20.04.
Please find below the complete recipe for the installs. It is almost a script, but not complete.
I think I did exactly what is described in the continuous-integration.yml file.

On Debian it works perfectly! Cool!
On Ubuntu the build went fine, and everything seems to work, only the Visualizer Window

[2021-10-26 16:28] aymanhab opened #1319 "Visualization bugs with undo support"
"Undo" doesn't work for "Show Mass Center" and "Show Axes"

### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-10-26 16:31] aymanhab opened #1320 "Visualization of associated data has wrong default size"
"Force display size" displayed as 0.001 while it behaves as he value is 1. Reported while testing PR #1317

### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2021-10-26 20:03] SietseAchterop opened #1321 "Minor issue with Netbeans 12.5 integration on linux debian 11"
I installed opensim-gui from source in debian 11, and every works like a charm!
There is however one thing nagging me:
When starting opensim for the first time, there is an alert box with a warning:

Warning - could not install some modules:
   Markdown Support - The module named org.netbeans.modules.textmate.lexer/0
         was needed and not found.
    Native Image API - The module named org.ne

[2021-10-27 17:50] #1321 closed, assigned to nobody

[2021-11-02 18:45] aymanhab commented on #1318
This issue is specific to Ubuntu 20.04 as the ci build using 18.04 opens a visualizer window/browser without an issue. The likely reason is that jxbrowser (the third party library we use) relies on some version of low level linux libraries that changed moving from 18.04 to 20.04. Still trying to narrow this down but wanted to point out the status of the investigation.

[2021-11-03 11:52] SietseAchterop commented on #1318
Thanks. You could well be right.
I build/installed opensim om 2 different debian 11 installations.
One started life as debian 10 ( from before ubuntu 20.04) and is upgraded. Here it works fine.
The other is a fresh install of debian 11 and also has the problem.
Maybe the first one still has a few older libraries.

[2021-11-18 21:40] clnsmith opened #1326 "Editing JointReactionAnalysis broken on Mac OS GUI"
![image](https://user-images.githubusercontent.com/1234687/142383623-60d9b879-3cf6-4726-b829-8faa278787bc.png)

I don't have a Mac so I cant test easily. We are using the OpenSim GUI to use the standard pipeline to predict knee contact force. One of the students from our online class said in the Analye Tool GUI they cannot edit the express_in_frame property (the "+" expands the menu, but you canno

[2021-11-18 21:43] aymanhab commented on #1326
@clnsmith Can you post the Mac osx system details (version, processor etc.)? This is likely a Java/JDK issue since this code has not been changed for years but would be good to know further details as we're also short on Macs

[2021-11-23 23:38] jenhicks commented on #1326
@nickbianco It sounds like you were able to reproduce. Can you share your system details? @aymanhab Does it reproduce for you?

[2021-11-23 23:42] jenhicks commented on #1326
I do not see this issue on my Mac. I am using Catalina (10.15.7), intel processor (i7)

[2021-11-23 23:44] aymanhab commented on #1326
I tested on Reed's machine (M1) and it reproduced there. I can't reproduce
on my old Mac either.

On Tue, Nov 23, 2021 at 3:38 PM Jen Hicks ***@***.***> wrote:

[2021-11-24 00:02] nickbianco commented on #1326
I was also running Catalina 10.15, but I just recently upgraded to Monterey so I can test again on that.

[2021-12-02 19:10] carmichaelong opened #1327 "Show, Show Only, and Hide for Muscles do not work"
On 4.4-2021-11-30-058542d with Windows 10, options for Show, Show Only, and Hide do not work. Behavior happens whether it's for an individual muscle, group of muscles (chosen by ctrl-click), or all muscles.

[2021-12-03 19:33] aymanhab commented on #1327
Fixed on visualizer side, fix merged, can test on a future PR

[2021-12-09 18:55] SietseAchterop commented on #1318
I reinstalled my linux machines recently and opensim now claims to be version 4.4.  Visualization is now working on all my machines!
I saw something in the recent patches about this problem, so I guess that solved it, thanks.
Probably this issue can be closed.

[2021-12-09 19:22] aymanhab commented on #1318
Awesome, thank you so much. I assume 4.4 means master branch which has an upgraded jxBrowser version and would explain the  resolution. All the best.

[2021-12-09 19:22] #1318 closed

[2022-01-10 22:30] aymanhab opened #1330 "Properly handle multiple changes to path wrapping"
This came along the discussion of https://simtk.org/projects/arms_hand_model where some muscles undergo multiple wrapping changes (engaging/disengaging) going from one frame to the next. Results from API are correct but the OpenSim GUI visualizer doesn't handle the changes gracefully.

[2022-01-10 22:33] aymanhab commented on #1330
Single wrap objects per path are handled without issue, the issue comes about because visualizer can't create new wrap/intermediate points on the fly but rather change attributes/transforms of pre-created points. More elaborate book-keeping is needed to make sure wrapping changes are reflected correctly in visualizer.

[2022-02-01 19:42] carmichaelong opened #1331 "ConditionalPathPoint's sometimes don't visualize correctly"
Using this model: [model_vas_conditionalpathpoints.zip](https://github.com/opensim-org/opensim-gui/files/7981450/model_vas_conditionalpathpoints.zip)

1. (to see issues more easily): Show only `knee_ext_r` muscle group, hide body `patella_r`
2. At default pose, 3 vasti muscles have a kink in them, but ConditionalPathPoint should not be engaged until deep knee flexion
![knee1](https://user-images.g

[2022-03-09 18:47] nathantpickle commented on #1331
I am seeing a different but potentially related issue where consecutive ConditionalPathPoints do not visualize correctly when some of them are inactive.

This issue can be reproduced in OpenSim 4.3 using the model BothLegs.osim from Applications\Analyze\test in OpenSim Core.

Here the right knee is flexed to -108 degrees, with only the right VASLAT shown for clarity. In this screenshot, the Condit

[2022-03-14 20:42] aymanhab commented on #1331
For the record, this is not an issue with conditional path points but interaction between conditionalpathpoints and wrapping. In fact if you delete the wrapping on the wrapping tab, the conditional path points acts exactly as expected. Not to justify the bug but for testing when a fix is ready.

[2022-03-18 18:44] aymanhab commented on #1331
@nathantpickle Once the build artifact is ready you can give it a spin and let me know if you encounter other issues

[2022-03-18 18:46] aymanhab commented on #1195
@carmichaelong this may have been fixed by the fix to #1331, either  provide a model to test or close. Thank you

[2022-03-18 19:16] carmichaelong commented on #1195
Given the description from the user, the model in #1331 should cover this case, so I'm closing this issue

[2022-03-18 19:16] #1195 closed

[2022-04-02 09:35] SietseAchterop opened #1337 "Opensim Gui does not work with some models."
Hello,
I have seen this before.
I created Bootbaan.osim, with works perfectly in the Gui, playing with the coordinate values and such.
If I remove 2 bodies and the relevant joints, creating Bootbaan_1.osim, it first seems OK but I cannot change any coordinate in the Gui!
It looks like a perfectly valid model but It is unusable, also when I use it with the IK-tool.

Here the files: [gui_problem.zip

[2022-04-05 17:56] aymanhab commented on #1331
@carmichaelong maybe you can test this as another pair of 👀 if @nathantpickle didn't get to it

[2022-04-05 18:39] nathantpickle commented on #1331
Apologies for the delay, @aymanhab - I just tested this and it looks good to me. Thanks!

[2022-04-07 06:49] aymanhab commented on #1266
This actually is a bug with the model file missing <objects/> tag under  the tag <MarkerSet>, adding it back everything works as expected. Bad but not common or show stopper. I'd downgrade and close. Maybe email model creator to fix the osim file

[2022-04-07 12:16] tkuchida commented on #1266
Might be helpful to report deserialization issues to the user as opposed to just ignoring. Related: https://github.com/opensim-org/opensim-core/issues/775

[2022-04-07 17:28] aymanhab commented on #1266
@tkuchida Absolutely, I was just discussing the scope of what we need to do on the code side rather than documentation/support side.

[2022-04-12 04:57] aymanhab commented on #1280
This crash is due to the deletion from the list of ExternalForces while the tree of Components is not adjusted accordingly. There's no other context in which objects are deleted. Investigating fix.

[2022-04-12 18:11] carmichaelong opened #1340 "Updating IMU's Translation and Rotation properties don't update until model is saved and loaded again"
@aymanhab

### Steps to reproduce
1. Run IMU placer step on OpenSense example
2. Change properties for Translation and Rotation for one of the IMUs (e.g., `femur_r_imu`)
3. Note that the GUI does not update
4. Save the model
5. Load the model
6. GUI shows updated IMU location

Checking some other components, did not find other components that had the same behavior. e.g., muscle path updates, wrapp

[2022-04-13 11:21] aseth1 commented on #1194
This issue is coming up again in the course again this year.

[2022-04-13 20:21] aymanhab commented on #1340
Thanks for reporting @carmichaelong This boils down to the fact that the IMU is "connected" to the Frame rather than a child of it. The axes for example update instantly as expected. Can you verify please?
Will investigate how to collect components that are connected to a Frame or some other surgical workaround.

[2022-04-13 22:30] carmichaelong commented on #1340
Yes, confirmed that the axes update instantly.

[2022-04-14 06:35] aymanhab commented on #1327
Fixed in latest master build, please verify

[2022-04-14 06:37] aymanhab commented on #1280
Please check fixed in latest master build

[2022-04-14 06:56] carmichaelong commented on #1327
Tested OpenSim 4.4-2022-04-12-13e8480 on Windows 10, LGTM

[2022-04-14 07:01] #1327 closed

[2022-04-14 22:25] aymanhab commented on #1319
This appears to have been fixed already. Just need another pair of eyes to verify. @carmichaelong or @jenhicks

[2022-04-15 16:59] carmichaelong commented on #1319
Agreed, looks like this has been fixed, closing

[2022-04-15 16:59] #1319 closed

[2022-04-15 21:09] mrrezaie opened #1342 "Missed some XML properties in IK setup files"
### Steps to reproduce
1. In GUI, Tools>Inverse Kinematics
2. Adjust and save the setup file

### Actual result
The following XML properties are missed in the saved file:
<results_directory>
<model_file>
<report_errors>

### Environment and GUI version
v. 4.3

[2022-04-15 21:21] mrrezaie opened #1343 "StateReporter problem with unit"
### Steps to reproduce
1. in GUI, Tools>Analyze
2. Adjust and add StateReporter in the Analyze Set
3. Save the setup file and run the tool
### Expected result
In default StateReporter, <in_degrees> is true (checked) and I would expect to get the results in degrees.
### Actual result
The results are not in degrees anymore.
(inDegrees=no)

### Environment and GUI version
v. 4.3

[2022-04-19 19:18] aymanhab commented on #1343
Thanks for reporting @mrrezaie The headers indicates correctly that the states are reported in radians. Typically we use this StateReporter for recreating states obtained during integration and as such would avoid converting to/from degrees. As such I don't see this issue as a bug. I agree it's a bit misleading to show a checkbox in the GUI implying that you can control the units but this seems mo

[2022-04-19 19:18] #1343 closed

[2022-04-19 19:29] aymanhab commented on #1342
We intentionally do not include the model_file since when you run in the GUI you're running on the current model which may or may not have been saved to a file (e.g. post scaling). Some other properties are not exposed to the GUI for simplification but can be edited in the XML file directly (e.g. report_errors), others computed based on input (results_directory is deduced from output_file) to redu

[2022-04-19 20:59] aymanhab commented on #1280
@mrrezaie you can test the fix in latest build artifact (steps here https://github.com/opensim-org/opensim-gui/wiki). Thanks for reporting.

[2022-04-19 22:11] mrrezaie commented on #1280
Thank you for your endeavours. It is fixed.

[2022-04-19 22:11] #1280 closed

[2022-04-19 22:20] mrrezaie opened #1344 "Empty file after saving experimental TRC file"
### Steps to reproduce
1. in GUI, go to File > Preview Experimental Data.
2. Select subject01_walk1.trc from Gait2392_Simbody sample data.
3. Unfold it in the Navigator tab.
4. Select Save As and save the data as a new TRC file.
5. (Also if save it through Transform)
### Expected result

### Actual result
The saved file is empty and there is  an Exception:
`java.lang.IllegalArgumentException: No e

[2022-04-20 22:24] mrrezaie commented on #1343
Hi, Thanks for your reply.
At least I suggest changing the default "in_degrees" property to "false":
`<StatesReporter name="default">`
`<on>true</on>`
`<start_time>-Inf</start_time>`
`<end_time>Inf</end_time>`
`<step_interval>1</step_interval>`
`<in_degrees>true</in_degrees>`
`</StatesReporter>`
This would be less confusing.

[2022-04-20 22:32] mrrezaie commented on #1342
As a user, I prefer to have these properties in XML file. Because I usually run the tools from opensim-cmd and It fails when <results_directory> and <model_file> do not exist. Then, I have to add them manually. Also, other tools already have these properties, so it wouldn't be clutter.

[2022-04-21 01:58] aymanhab commented on #1262
This is a fundamental issue with the use of old style nested Object properties where changes are not propagated upstream, instead there's a separate flag ValueIsDefault. If you have code working with an Object that is bound to a property and the object changes, the Property doesn't know about the change and is never written. This is most relevant to ScaleTool since it is an aggregate of two old st

[2022-04-21 18:09] #1340 closed

[2022-04-21 19:06] nickbianco commented on #1344
On Mac with 4.4-dev I don't get the Java errors, but the markers don't visualize when loading the saved TRC file. Tested on 4.3 and there were no issues. So something may have changed since 4.3.

[2022-04-21 19:08] nickbianco commented on #1344
Meant to add: the saved file on 4.4-dev was not empty. Some of the formatting changed slightly, but the file contents look mostly the same.

[2022-04-21 20:51] mrrezaie commented on #1344
Please find the attached video:

https://user-images.githubusercontent.com/38867713/164549801-cd6bd693-8d68-4780-b1bc-11780f196259.mp4

But, it doesn't always happen.

[2022-04-21 21:09] nickbianco commented on #1344
Based on your video @mrrezaie, tried saving the file as "new.trc" (and "new1.trc") and was able to reproduce the error. But it doesn't happen consistently, as you say. I've saved the file several other times with different names (e.g., "subject01_walk1_test.trc") without error.

[2022-04-21 21:42] aymanhab commented on #1344
I suspect the exception is related to parsing error that results in units undefined. This could be due to minor formatting issues earlier in the header. I have a PR that forces the (cameraRate, frameRate, etc.) to be written as ints rather than doubles and that seems to work.
PR https://github.com/opensim-org/opensim-gui/pull/1346

[2022-04-22 00:06] gattia commented on #851
Bumping this thread as I just had a blow-up in Joint Reaction Analysis because I didn't check the box.

[2022-04-22 04:24] aymanhab commented on #1344
@mrrezaie Can you check the artifact of the PR to see if the problem is fixed? Link here https://github.com/opensim-org/opensim-gui/actions/runs/2204484033
Thank you

[2022-04-22 19:01] aymanhab commented on #1344
Waiting for feedback before merging @mrrezaie Thank you

[2022-04-22 19:29] aymanhab commented on #1168
Proposed fix in PR

[2022-04-22 20:29] mrrezaie commented on #1344
Sorry for the delayed response. The problem exists in this version (OpenSim-4.4-2022-04-21-f14248f-win64)

java.lang.IllegalArgumentException: No enum class org.opensim.modeling.Units$UnitType with value 955

[2022-04-25 21:09] aymanhab commented on #1344
Thanks for testing @mrrezaie it's not clear if you're using a file that was previously saved/transformed or original/raw file. Please attach the file here. Ultimately if the tools can't read/parse the file then this is going nowhere, if the tools can then let me know to dig deeper on the GUI side. Thank you

[2022-04-25 22:37] mrrezaie commented on #1344
Hi, I tested the original TRC files associated with Gait2354_Simbody and Gait2392_Simbody models. Please note that the error appears occasionally (Sometimes I can save the file successfully).
[test.zip](https://github.com/opensim-org/opensim-gui/files/8558433/test.zip)

[2022-04-26 15:11] aymanhab commented on #1194
@aseth1 As you pointed out the osim files don't maintain default speeds. There are multiple ways to fix depending on the scope we choose:
1. Add in the model file (widespread change, possible backward compatibility breakage, need to assess how the Tools and Assembly behave, migration issues).
2. Have the GUI save/restore Speed values from the sliders: Easy to implement but limited to GUI, not port

[2022-04-26 15:34] #1331 closed

[2022-04-27 19:21] #1330 closed

[2022-04-27 20:13] aymanhab commented on #1300
Version 3.2 didn't have this either, going back to 2014 or earlier. It may have never been exposed as such, and considering that CMC is not under active development and that no users asked for it I'd lean to leave this as is.

[2022-04-27 20:13] #1320 closed

[2022-04-28 00:59] aymanhab opened #1348 "Use TRCFileAdapter to replace custom MarkerData class"
Also retire MarkerFrame and SimmIO classes used to  custom parse trc files
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2022-05-04 19:49] aymanhab commented on #1344
If the proposed fix isn't really fixing the problem or improving behavior then I'll close without merging and leave the issue open until we can reproduce consistently. Please let me know @mrrezaie if you agree.

[2022-05-04 21:45] mrrezaie commented on #1344
That's fine.

[2022-05-06 23:52] aymanhab commented on #1344
Since we can't reproduce consistently, will not merge the proposed hypothetical fix. Removing 4.4 milestone

[2022-05-16 19:08] carmichaelong opened #1351 "wrist.osim model does not open"
@aymanhab

Model wrist.osim provided with installer opens in 4.3 without any problems. Does not open with the 4.4 beta GUI.

[code]

[2022-05-16 19:28] aymanhab commented on #1351
Thanks for the find @carmichaelong I'm looking into it now

[2022-05-17 19:21] aymanhab commented on #1351
Fix submitted in PR #1352 Please test when artifacts are ready. Thanks much for the find @carmichaelong

[2022-05-23 16:50] aymanhab opened #1354 "IMU InverseKinematics GUI throws exception if weights are not visited"
### Steps to reproduce
Follow opensense demo and try to run IK without visiting/clicking the weights button.
### Expected result
IK runs
### Actual result
Exception with no message dialog pops up, reported by Nev.Pires from Vicon
![image](https://user-images.githubusercontent.com/3972208/169869370-79e13034-5e93-4b34-a039-d8a3cc143d96.png)

(include screen grabs where appropriate)

### Environment

[2022-05-23 21:57] carmichaelong commented on #1354
@aymanhab which demo / files were you using? using the Rajagopal_OpenSense setup files does not reproduce this issue for me

[2022-05-23 22:20] AlbertoCasasOrtiz commented on #1354
@carmichaelong I also got this error while testing this tutorial. To reproduce it:

1. Load the model "Rajagopal2015_opensense.osim".
2. Go to "Tools -> IMU Inverse Kinematics..."
3. Select "walking_orientations.sto" as Sensor Orientation File.
4. Click Run.

I am using the following build: OpenSim 4.4-2022-05-17-cc0a2cf

[2022-05-23 23:09] carmichaelong commented on #1354
Thanks @AlbertoCasasOrtiz, that was helpful! Just for documenting if we ever look back at this issue: the model needs to have IMUs on it (e.g., a model from after running IMU Placer), and this workflow likely is different than testing before since this does not simply load the given setup file.

[2022-05-24 06:59] Arish2022 opened #1356 "Model get disappeared after running the simulation"
### Steps to reproduce

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version
Hello, I'm new to opensim and using version 4.3. When I run the simulated model, the model gets disappeared. Do you have any thoughts on that?
Thanks, Arish

[2022-05-24 13:19] tkuchida commented on #1356
The [OpenSim User's Forum](https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91) is the best place to ask these types of questions (and to search for answers to similar questions). Three possibilities are that the model has moved outside the region that is visible by the camera, the model has dropped below the floor, or an error has occurred (check for a red circle in the bottom-right corner

[2022-05-24 18:01] aymanhab commented on #1354
@carmichaelong Yes the difference is here we run the tool live from scratch without checking the weights (which is probably what we all did when testing) instead of loading  a file.

[2022-05-25 06:18] Arish2022 commented on #1356
Thank you for your help. I will check with them.

[2022-05-26 10:38] AlbertoCasasOrtiz opened #1357 "Toolbar displaced and non visible after resizing window"
### Steps to reproduce

Resize the window horizontally to make it smaller until the toolbar does not fit the window, or press Windows + right arrow to split screen.

### Expected result

The toolbar is visible and you can use the animation controls.

### Actual result

Since the toolbar does not fit the window horizontally, all of the elements of the toolbar are displaced below the redo/undo butto

[2022-05-26 10:56] AlbertoCasasOrtiz opened #1358 "Camera perspective icons not working properly after manually changing camera position and orientation."
### Steps to reproduce

- Use camera perspective icons, it works normally.

![image](https://user-images.githubusercontent.com/15672785/170472763-0bec22b8-8f67-44a4-a3af-fcf8cc80fb44.png)

- Manually change camera orientation, position, and zoom using the mouse's right and left buttons and the wheel in the visualizer window.

- Use camera perspective icons again and click on them multiple times.

[2022-05-26 11:07] AlbertoCasasOrtiz opened #1359 "Blank Visualizer Window while loading a model"
### Steps to reproduce

Load a first model after running the GUI on an old computer.

**Note:** I had the browser and some more programs opened consuming RAM and CPU, so this may have contributed to this problem

### Expected result

The model loads and is shown in the visualizer window.
If the model takes time to load, the GUI should show a message or progress bar indicating it is loading the mod

[2022-05-26 11:20] AlbertoCasasOrtiz opened #1360 "Default name of plots when selecting multiple muscles and summing them causing visual problems"
### Steps to reproduce

1. Load the example model "gait2392_simbody.osim"
2. Open Plot Tool by clicking "Tools"->"Plot..."
3. Click on "Y-quantity..." and select "fiber-length"
4. Click on "Muscles..." and check "select all shown" and "sum only"
5. Click on "X-quantity..." and select "pelvis-tilt"
6. Add the Curve
7. Resize the "Plotter window"

### Expected result

A curve is shown and you can ad

[2022-05-26 11:45] AlbertoCasasOrtiz opened #1361 "Green arrows representing ground reaction forces are not fully visible during the gait"
### Steps to reproduce

Follow [tutorial 3.V](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Tutorial+3+-+Scaling%2C+Inverse+Kinematics%2C+and+Inverse+Dynamics#Tutorial3Scaling,InverseKinematics,andInverseDynamics-V.InverseDynamics) to show ground reaction force vectors as green arrows.

### Expected result

It is easy to visualize the arrows.

### Actual result

From some angles, it i

[2022-05-26 12:02] AlbertoCasasOrtiz opened #1362 "Adding a negative time range in some Tools is not showing an error"
### Steps to reproduce

Try to run "Inverse Dynamics...", "Forward Dynamics..." or "Reduce Residuals..." tools with a negative time range (e.g., 2 to 1).

### Expected result

A message is shown indicating that the time range cannot be negative (as it happens when trying to execute the "Inverse Kinematics..." tool with a negative time range).

### Actual result

Nothing happens.

### Environment a

[2022-05-26 12:11] AlbertoCasasOrtiz opened #1363 "Application crashes when trying to set a very low value for muscle activation in the "Static Optimization..." tool"
### Steps to reproduce

I was following the tutorial "[Working with static optimization](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Working+with+Static+Optimization)", and when I tried to set a very low value for muscle activation (e.g., -200, -500 or -1000) in the "Static Optimization..." tool and the application crashed.

### Expected result

The application should show a message

[2022-05-26 12:26] tkuchida commented on #1360
A workaround is to [rename the curve](https://simtk-confluence.stanford.edu:8443/display/OpenSim/Plot+Summary+Panel#PlotSummaryPanel-CurveDropDownMenu) if the default name is too long.

[2022-05-26 18:46] aymanhab commented on #1359
Thanks for reporting @AlbertoCasasOrtiz can you clarify if this is on first launch of an installation (ever) or first model on subsequent launches. The first scenario is expected because the platform and third-party tools we use build a cache and copy a ton of large files to it, some outside our control, but would be good to know. Also the browser/graphics window is launched as a separate process

[2022-05-27 10:08] AlbertoCasasOrtiz commented on #1359
This happened on the first launch after installing the application. It took around 10 seconds to show the model in the visualizer. In subsequent launches, it takes 1-3 seconds. Normally, I have the browser and some more applications opened, which could have contributed to this.

[2022-05-27 14:19] mjhmilla opened #1364 "Building on Linux: Netbeans 8.2 no longer available"
### Steps to reproduce

wget https://download.netbeans.org/netbeans/8.2/final/bundles/netbeans-8.2-javase-linux.sh

### Expected result

netbeans-8.2-javase-linux.sh is downloaded

### Actual result

An html file is downloaded instead. I found out why by:

1. Using a browser to look at: https://download.netbeans.org/netbeans
2. This redirected me to: https://netbeans.apache.org/download/archive/in

[2022-05-28 06:53] mjhmilla commented on #1364
Good to hear from you @aymanhab :)

I'll try NetBeans 12.3 later today. I guess then the issue will probably change: the linux installation instructions say to use netbeans 8.2 and must be out of date. In any case, thanks for the quick response.

[2022-05-30 16:30] mjhmilla commented on #1364
Hello @aymanhab,

I'm making progress installing opensim & opensim-gui on ubuntu 20.04. I'm going to describe where I'm getting tripped up below. However, before I do that: is this the correct place to be asking these questions and working through installation difficulties? If not, close this issue and move this conversation over to the correct spot.

On with the update ...

I'm getting further, w

[2022-05-31 08:09] mjhmilla commented on #1364
Hello @aymanhab,

I'm making progress installing opensim & opensim-gui on ubuntu 20.04. I'm going to describe where I'm getting tripped up below. However, before I do that: is this the correct place to be asking these questions and working through installation difficulties? If not, close this issue and move this conversation over to the correct spot.

On with the update ...

I'm getting further, w

[2022-05-31 10:25] mjhmilla commented on #1364
As a note for others:

I was able to get OpenSim to build under Ubuntu 20.04 with python wrapping by:

- Following the build instructions on [continuous_integration.yml](https://github.com/opensim-org/opensim-core/blob/master/.github/workflows/continuous_integration.yml)
- Disabled Tropter
- Disabled Adolc
- Disabled Java
- Followed the [python setup instructions](https://simtk-confluence.stanford

[2022-05-31 11:01] #1364 closed

[2022-05-31 20:44] aymanhab commented on #1362
There're multiple layers to this:
1. How does the API handle these situations if input is specified in XML? If it throws then GUI should utilize this functionality to avoid duplication, if not then the API needs a fix.
2. It would be easy to make the GUI force bounds etc. but I wouldn't go there until the previous item is addressed.
3. Some of these tools use common base classes so it would be gre

[2022-05-31 20:44] aymanhab commented on #1363
Follow the same investigation as in #1362

[2022-05-31 20:47] aymanhab commented on #1361
This is not a bug AFAICT, if you have multiple objects in 3D they will occlude each other but feel free to add suggestions @AlbertoCasasOrtiz

[2022-05-31 20:48] aymanhab commented on #1357
Once you have a build of the GUI, this would be a rather self-contained issue to tackle @AlbertoCasasOrtiz Let me know if you get there.

[2022-06-01 07:59] mjhmilla commented on #1364
Actually, it is possible to install java-1.7.0-openjdk on Ubuntu 20.04 as documented here: https://askubuntu.com/questions/1053764/how-to-install-openjdk-7-on-ubuntu-18-04

In summary:

1. Download it from Oracle's archives (this requires that you make an account and login)
  https://www.oracle.com/java/technologies/javase/javase7-archive-downloads.html

2. Follow the instructions here:
  https://

[2022-06-02 20:20] aymanhab opened #1366 "Loose-ends 4.4"
List of known issues to address before 4.4 release:
1. [x] Moco bug with MarkerTracking (https://github.com/opensim-org/opensim-core/pull/3214)
2. [x] Toolbar navigation issues in 3D view following  standard views (https://github.com/opensim-org/opensim-gui/pull/1365)
3. [x] IK memory leak (https://github.com/opensim-org/opensim-core/pull/3217)
4. [x] Update simbody to include latest fixes from Cl

[2022-06-02 21:35] aymanhab commented on #1366
@jenhicks @carmichaelong @nickbianco @AlbertoCasasOrtiz Feel free to check the boxes when the corresponding issues/PRs have been reviewed/merged, and feel free to add to the list as needed.  Thank you

[2022-06-09 21:23] aymanhab commented on #1137
@adamkewley This is an old issue that has a summary of observations/recommendations regarding the visualizer by @tkuchida. Clipping planes are mentioned here so would be good to consolidate the input here and the latest feedback on 4.4 Beta.

[2022-06-10 08:46] SietseAchterop commented on #1337
Any progress?

[2022-06-10 22:44] carmichaelong opened #1369 "GUI crashes when running IK tool right after Scale tool with gait2392"
@aymanhab Saw this while trying to test the gait2392 pipeline with the posted beta build

### Steps to reproduce
1. open gait2392_simbody.osim
2. open the Scale Tool, load the provided setup file subject01_Setup_Scale.xml, and run
3. open the IK tool, load the provided setup file subject01_Setup_IK.xml, and run

### Expected result
IK tool runs without crashing

### Actual result
IK tool runs to t

[2022-06-10 23:33] aymanhab commented on #1369
Good find @carmichaelong Interestingly, running IK only shows no issues, can you confirm to help pinpoint the culprit? Thank you

[2022-06-10 23:40] carmichaelong commented on #1369
That's correct. It's sort of buried at the bottom of the post (I probably should have had these notes above the crash dump), but I tried the workflow in 4.3 (did work) and tried IK only with the beta (did work).

[2022-06-12 01:43] aymanhab commented on #1369
Fixed and integrated in this artifact as tested on windows
https://github.com/opensim-org/opensim-gui/actions/runs/2481628737
If you can verify on Mac @carmichaelong that would be awesome. Thank you

[2022-06-13 18:00] #1369 closed

[2022-06-26 11:38] tkuchida opened #1371 "GUI draws a left-handed reference frame (Y axis pointed in opposite direction)"
### Steps to reproduce
- open arm26.osim
- in the Navigator, double-click "r_acromion" under "Markers"

### Expected result
Red, green, and blue arrows form a right-handed reference frame.

### Actual result
Green line extends from the origin in the wrong direction. Arrowhead cone is oriented correctly (upwards), but the lines of the frame define a left-handed reference frame. This is potentially

[2022-06-26 11:56] tkuchida opened #1372 "Visualizer buttons have unexpected behavior if rotation animation is interrupted"
### Steps to reproduce
- open arm26.osim
- click buttons 1 and 2 repeatedly (see image below)

![image](https://user-images.githubusercontent.com/4203505/175812604-1db825b6-e770-4bc8-8cd2-bf30b007b147.png)

### Expected result
After user has finished clicking buttons and rotation animation has finished, the final state of the visualizer is completely determined by which button the user clicked las

[2022-06-27 16:24] aymanhab commented on #1371
In essence we do not create/draw these triads, we use the conventions built into the underlying threejs.  Based on reasons unclear to me they use this triad sometimes, I guess the rationale was to indicate you can move in either direction. I can investigate further but would prefer not to hijack the built-in selection mechanism.

[2022-06-28 14:08] AlbertoCasasOrtiz opened #1373 "OpenSim not appearing in Ubuntu applications menu"
### Steps to reproduce

Install the application and try to start it from the applications menu.

### Expected result

The OpenSim icon appears in the applications menu and you can start the application from there.

### Actual result

OpenSim is not appearing in the applications menu. However, if you check the path `/usr/share/applications`, the file `opensim.desktop` is there.

### Environment and

[2022-07-08 22:57] tkuchida commented on #1372
Thanks @aymanhab. Confirmed fixed in beta (OpenSim 4.4-2022-06-11-bfc372a) 🦆

[2022-07-08 22:57] #1372 closed

[2022-07-12 17:49] zupatisc opened #1375 "Linux build instructions want unavailable netbeans version"
Hello,
I am currently trying to package OpenSim and for that trying to follow the instructions in the README.
It appears that the netbeans-8.2 release can no longer be downloaded or at least both wget or curl pull in a html response instead of the intended script and the section on Apache's website for netbeans releases pre-Apache seems to be broken/missing.
I will try netbeans 9.0 but the README

[2022-07-12 18:11] aymanhab commented on #1375
Hi, the instructions on github are stale, we're updating them and will be updated shortly by @AlbertoCasasOrtiz However you can use the continuous integration script
https://github.com/opensim-org/opensim-gui/blob/master/.github/workflows/continuous-integration.yml
for the latest script used for continuous integration (now uses netbeans 12)

[2022-07-13 22:14] zupatisc commented on #1375
Thanks I have now set it up far enough that opensim-core gets compiled and installed to the custom directory but I do have a question. I did look at [opensim-build](https://github.com/marnunez/opensim-build) to see how the whole thing gets installed in the end but I don't really understand what the copyX targets in the Makefile do.

[2022-07-13 22:25] AlbertoCasasOrtiz commented on #1375
Hi, I have just created a pull request with a new script to build opensim-gui in Ubuntu 18.04. Until the pull request is approved, you can find it here:
[https://github.com/AlbertoCasasOrtiz/opensim-gui/tree/update-linux-build-script#building-on-linux-beta](https://github.com/AlbertoCasasOrtiz/opensim-gui/tree/update-linux-build-script#building-on-linux-beta)

[2022-07-13 22:37] zupatisc commented on #1375
Cool I will check that out and use that to get my packaging going fully. I uploaded the WIP PKGBUILD here [opensim-PKGBUILD](https://github.com/zupatisc/opensim-PKGBUILD)

[2022-07-17 14:58] zupatisc commented on #1375
I realize that this veers a bit from the original issue but I hope it's relevant enough to the Linux build topic.
I have adapted my package to use your new build instructions, currently I get this error:
[code]
apache-netbeans is Netbeans 12.3 installed through the packagemanager so it should be the correct version. I am not really sure where the `-source 6` is set or if this comes from the netbea

[2022-07-18 21:36] aymanhab commented on #1357
@AlbertoCasasOrtiz This looks good, just need to check the mac build to make sure there are no side effects. One other possible improvement is to make the  motion slider anchor to both sides of the application's toolbar so it stretches with resizing rather than anchor only to the left, would you consider taking on this toolbar issue as well? Thank you

[2022-07-20 00:16] carmichaelong opened #1378 "In Static Optimization Tool, dialog box has wrong title for "Directory" in output section"
### Steps to reproduce
1. Open a model
2. Open Static Optimization Tool
3. Click the folder icon under Output -> Directory

### Expected result
Title says something like "Choose output directory"

### Actual result
Title of dialog box says "Opensim model (.osim)" (or sometimes some other title). Also, the file type chooser shows .osim, but it should highlight that a directory should be chosen.

##

[2022-07-20 16:59] AlbertoCasasOrtiz commented on #1357
@aymanhab Sure, I will take care of it!

[2022-07-21 19:55] aymanhab opened #1379 "Path edit broken for muscles with wrapping"
### Steps to reproduce
Reported by @tkuchida in beta testing

### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version
4.4 Beta

[2022-07-22 01:23] tkuchida commented on #1379
Possibly related: [User's Forum Topic 14880](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=14880)

[2022-07-22 16:55] aymanhab commented on #1379
Description from testing doc. to verify fixed in artifact builds
Muscle GeometryPath editor: "java.lang.IndexOutOfBoundsException: Index: 4, Size: 4". To reproduce: (1) Open arm26 model. (2) In Navigator, select Muscles > TRIlong. (3) Click "…" beside "GeometryPath" in Properties window. (4) Click Add > before 1. (5) On row 1, change X = -0.055 to, e.g., X = 0.1 and press <Enter>. Expected: muscle

[2022-07-22 17:02] aymanhab commented on #1379
Fixed in artifact of this PR. Thanks for testing and reporting @tkuchida
@carmichaelong if you can doublecheck the fix in the artifacts I'd appreciate it, then we can merge and backport to 4.4 branch before posting.

[2022-07-28 02:48] marcohan98 opened #1404 "OpenSim crash when using excitation editor"

[2022-07-28 04:38] marcohan98 opened #1382 "Excitation editor crashed"
Opensim 4.3-4.4
Excitation crash without any error information.
Especially when doing activation constraints.

[2022-07-30 03:26] marcohan98 commented on #1382
It most happen after import data from file, then adding constraints to the muscle activation according to the sEMG.
The editor, together with the opensim happens to crash withoout any error information.

[2022-08-03 17:42] stevecdavis opened #1383 "Icons not created when OpenSim is run as SYSTEM"
When running "OpenSim-4.4-win64.exe /S" as SYSTEM (commonly how it's done with deployment systems like SCCM) the installer does not create any shortcuts.

When I run the command as a USER (under an Administrator prompt) it works fine.

I've recreated the issue through SCCM as well as locally. Please let me know if I can provide any more information.

### Steps to reproduce
following information he

[2022-08-30 18:08] Francesca-Oppia opened #1384 "opensim could not associate motion to current model"
Hello everybody! I'm having some troubles with OpenSim. I am using a model .osim for my thesis and converted the .c3d files in .mot and .trc , now I should be able to associate these last .mot files with the model , but te output is always "Opensim could not associate motion to current model".
I've verified the original model from Opensim and there's no such problem.
Can anybody help? Any tips wou

[2022-08-31 13:23] tkuchida commented on #1379
Potentially related [issue posted to the Forum (topic 15006)](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=15006).

[2022-09-08 18:11] carmichaelong commented on #1379
@aymanhab @tkuchida I tried the Forum issue posted most recently in this thread. I was able to replicate in the 4.4 GUI, and also saw that this issue occurred with a muscle with wrapping objects, but not with a muscle that had no wrapping objects associated.

[2022-09-10 05:44] mrrezaie opened #1385 "The visualizer does not display transforming experimental data"
### Steps to reproduce
1. Open a TRC or MOT experimental data
2. Transform the data
### Expected result
I remember in earlier versions of OpenSim, the visualizer displayed the changes when the values of Transform were changed (in both TRC and MOT files).
### Actual result
Changes in the Transform values are not displayed in the visualizer.

https://user-images.githubusercontent.com/38867713/189470

[2022-09-15 11:27] tkuchida commented on #667
Also see [Topic 14999 on the Forum](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=91&t=14999):

[2022-10-03 19:31] aymanhab commented on #1384
@Francesca-Oppia No reason to get mad. This doesn't belong here but to the user forum here https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=91&pluginname=phpBB
In order to associate a motion to a model the file should contains values for coordinates, we'll clarify the message but you could have got the same answer way faster on the user forum

[2022-10-03 19:38] aymanhab opened #1386 "Message of not able to associate motion to a model can be improved"
### Steps to reproduce
Load model, and a motion file from a different model (e.g. arm26.osim, .mot file from leg39 model)
### Expected result
Clear message regarding why the motion file doesn't correspond to model
### Actual result
Message:  Could not associate motion to the current model.
(include screen grabs where appropriate)

### Environment and GUI version

[2022-10-03 19:39] aymanhab commented on #1386
Make the message more clear (e.g. Could not associate motion to the current model because the file doesn't contain coordinate values)

[2022-10-03 19:41] aymanhab commented on #1384
Issue #1386 opened to clarify the message.

[2022-10-03 19:41] #1384 closed

[2022-10-03 19:47] aymanhab commented on #1358
This was verified fixed in later beta builds

[2022-10-03 19:47] #1358 closed

[2022-10-03 19:48] aymanhab commented on #1351
@carmichaelong I think this was fixed, if confirmed please close. Thank you

[2022-10-04 06:39] #1351 closed

[2022-10-10 09:10] rutuja1409 commented on #1364
Hello @mjhmilla ,
The last step (bash INSTALL - https://github.com/opensim-org/opensim-gui#:~:text=Building%20on%20Linux%20(beta)) is giving me the error. because the install file has if condition for 18.04 if I change that to 20.04 then I'm getting the error - chown: invalid group: ‘lahoti:lahoti’. Can anybody help me in this ?

[2022-10-10 17:42] AlbertoCasasOrtiz commented on #939
@aymanhab Yes, this is the final place for build instructions. This way we can follow all of the changes in the wiki.

[2022-10-13 18:04] AlbertoCasasOrtiz opened #1388 "Ubuntu 18.04 and MacOS 10.15 deprecated in CI."
### Steps to reproduce

Open any CI Workflow and check the Annotations section, just below the continuous-integration.yml section.

### Expected result

No warnings

### Actual result

The following warnings are appearing:

- The ubuntu-18.04 environment is deprecated, consider switching to ubuntu-20.04(ubuntu-latest), or ubuntu-22.04 instead. For more details see https://github.com/actions/virtua

[2022-10-13 18:16] AlbertoCasasOrtiz commented on #1388
@aymanhab I think this issue is high priority, so I will take care of it as soon as possible. Should I just update the deprecated environments, or should I add the six available environments to CI? That would include:

- Ubuntu 20.04
- Ubuntu 22.04
- macOS 11
- macOS 12
- Windows Server 2019
- Windows Server 2022

Thank you.

[2022-10-13 20:36] AlbertoCasasOrtiz opened #1390 "INSTALL script in Ubuntu only working in Ubuntu 18.04"
### Steps to reproduce

Follow [Build Instructions](https://github.com/opensim-org/opensim-gui/wiki/Build-Instructions) for Ubuntu.

### Expected result

A system with Ubuntu >18.04 should be able to complete the installation process.

### Actual result

An message appears indicating that the only supported Linux distribution is Ubuntu 18.04.

### Environment and GUI version
Environment: Ubuntu >1

[2022-10-13 22:12] AlbertoCasasOrtiz opened #1393 "Failed to load adolc and ipopt when starting OpenSim in Ubuntu after building from source."
### Steps to reproduce

Follow [Build Instructions](https://github.com/opensim-org/opensim-gui/wiki/Build-Instructions) for Ubuntu, or install from an artifact generated by CI.

### Expected result

After the application has been installed in Ubuntu, you should be able to start OpenSim without any error.

### Actual result

Two errors can appear:

- `Failed to load one or more dynamic libraries fo

[2022-10-17 18:36] AlbertoCasasOrtiz commented on #1373
Hello @rutuja1409

Looks like you have found two problems with the INSTALL script.

The first one (the condition with 18.04 hardcoded) is already fixed and waiting for merge in #1391. As you discovered, a workaround is to change it to 20.04.

The second one is caused by a bug in the script. When the INSTALL script executes the chown command in the [following line](https://github.com/opensim-org/op

[2022-10-17 18:50] AlbertoCasasOrtiz opened #1394 "Ubuntu group not being retrieved properly in INSTALL script"
Found by an user in [this](https://github.com/opensim-org/opensim-gui/issues/1373#issuecomment-1273018917) comment.
More details in [this](https://github.com/opensim-org/opensim-gui/issues/1373#issuecomment-1281310728) comment.
### Steps to reproduce

Follow [Install instructions for Ubuntu](https://github.com/opensim-org/opensim-gui/wiki/Build-Instructions) until `bash INSTALL` is reached.

Your

[2022-10-20 18:02] AlbertoCasasOrtiz commented on #1373
Closed with #1392

[2022-10-20 18:02] #1373 closed

[2022-10-24 23:29] tkuchida opened #1395 "Marker selection in Navigator is not synced with Properties"
### Steps to reproduce
- open arm26 model
- in Navigator, expand "Markers"
- double-click "r_acromion" in Navigator
- double-click "r_humerus_epicondyle" in Navigator

### Expected result
The "r_humerus_epicondyle" marker is highlighted in the Navigator and selected in the Visualizer, and the Properties window displays its properties.

### Actual result
The "r_humerus_epicondyle" marker is highlig

[2022-10-24 23:45] AlbertoCasasOrtiz commented on #1390
Fixed in #1391

[2022-10-24 23:45] #1390 closed

[2022-10-26 17:11] aymanhab opened #1396 "crash following use of IMU Placer"
### Steps to reproduce
https://simtk.org/plugins/phpBB/posting.php?mode=reply&f=91&t=15147&sid=a5d9851772296e9a43bbbeabfc933b8b
### Expected result

### Actual result

(include screen grabs where appropriate)

### Environment and GUI version

[2022-10-27 20:36] aymanhab commented on #1395
Thanks for reporting @tkuchida Indeed I reproduced it on Windows. Single click however works as expected but I'm investigating further. Can you confirm what platform was that reported on? Thanks

[2022-10-27 22:13] aymanhab commented on #1395
Notes from investigation so-far:
Selecting visually in 3D view (1 click) results in all the correct updates in navigator, properties
Single select in navigator, updates properties window but doesn't select in 3D view
Double-click in navigator highlights in 3D view correctly but fails/incorrect in Properties window

[2022-10-27 23:56] tkuchida commented on #1395
Windows 10 Pro; installed via the "official release" Windows installer on simtk 🐴

[2022-10-30 17:23] nimaheidari95 opened #1398 "Open Plugin in OpenSim 4.4 (Windows Version)"
Hi!

I want to open the following model in OpenSim 4.4:
https://simtk.org/projects/kuo-head-neck

I face the following error:
Object::newInstanceOfType(): object type '{DynamicLigamentForce}' is not a registered Object! It will be ignored.

I learned that I must create the plugin and add it to my OpenSim. There is a file named "osimDynamicLigamentPlugin.dll," so I think my plugin is already ready

[2022-11-01 06:58] nimaheidari95 commented on #1398
Using OpenSim 3.3 (the appropriate one with the available .dll) solved the problem.

Thanks

[2022-11-01 06:58] #1398 closed

[2022-11-02 22:06] AlbertoCasasOrtiz opened #1399 "Building OpenSim GUI fails at the make PrepareInstaller step."
Building OpenSim GUI is failing at the `make PrepareInstaller` step.

### Steps to reproduce

Try to build OpenSim GUI, either in [CI](https://github.com/opensim-org/opensim-gui/actions), or in local following the [Build Instructions](https://github.com/opensim-org/opensim-gui/wiki/Build-Instructions).

### Expected result

The build process finishes normally.

### Actual result

The following err

[2022-11-02 22:10] AlbertoCasasOrtiz commented on #1399
A possible reason of this error and a solution is proposed in [this Pull Request](https://github.com/opensim-org/opensim-core/pull/3312) of the OpenSim Core repository.

[2022-11-14 21:44] AlbertoCasasOrtiz commented on #1399
Fixed in #1400

[2022-11-14 21:45] #1399 closed

[2022-11-21 23:44] aymanhab commented on #50
It was removed indeed. Closing

[2022-11-21 23:44] #50 closed

[2022-11-21 23:47] aymanhab commented on #14
Closing this as not user requested, will be done in the context of the proposed web-viewer.

[2022-11-21 23:47] #14 closed

[2022-11-22 20:04] #48 closed

[2022-11-22 20:05] #128 closed

[2022-11-22 20:06] #241 closed

[2022-11-22 20:15] #287 closed

[2022-11-22 20:16] #298 closed

[2022-11-22 20:17] #326 closed

[2022-11-22 20:23] #352 closed

[2022-11-22 20:25] #465 closed

[2022-11-22 20:26] #509 closed

[2022-11-22 20:28] #554 closed

[2022-11-22 20:39] #1375 closed

[2022-11-22 20:40] #1379 closed

[2022-11-22 20:42] aymanhab commented on #1366
M1 build issue is still open, otherwise closing as 4.4 is already out

[2022-11-22 20:42] #1366 closed

[2022-11-22 20:44] #700 closed

[2022-11-22 20:52] #555 closed

[2022-11-22 21:08] #716 closed

[2022-11-22 21:11] #1204 closed

[2022-11-22 21:14] #709 closed

[2022-11-22 21:16] #355 closed

[2022-11-22 22:04] #964 closed

[2022-11-22 22:04] #959 closed

[2022-11-22 22:05] #372 closed

[2022-11-22 22:08] #567 closed

[2022-11-22 22:09] #795 closed

[2022-11-22 22:11] #961 closed

[2022-11-22 22:13] #668 closed

[2022-11-22 22:20] #1164 closed

[2022-11-23 21:13] #1395 closed

[2022-11-23 21:14] #62 closed

[2022-11-23 21:15] #960 closed

[2022-11-23 21:52] #827 closed

[2022-11-23 22:02] aymanhab commented on #864
We can/should switch to svg in the visualizer window but on the remaining Java/Netbeans ths needs support from the underlying platform which is not available.

[2022-11-26 16:50] #415 closed

[2022-11-26 16:51] #247 closed

[2022-11-26 16:51] #400 closed

[2022-11-26 16:53] #460 closed

[2022-11-26 16:56] #577 closed

[2022-11-26 16:58] #1342 closed

[2022-11-26 16:58] #1300 closed

[2022-11-26 17:01] #1168 closed

[2022-11-26 17:05] #1131 closed

[2022-11-26 17:06] #1109 closed

[2022-11-26 17:08] #1078 closed

[2022-11-26 17:09] #1065 closed

[2022-11-26 17:10] #1002 closed

[2022-11-26 17:11] #972 closed

[2022-11-28 17:40] #289 closed

[2022-11-28 17:55] aymanhab commented on #618
Duplicate of another open issue.

[2022-11-28 17:55] #618 closed

[2022-11-28 17:59] #714 closed

[2022-11-28 18:01] #746 closed

[2022-11-28 18:09] #758 closed

[2022-11-28 18:12] #772 closed

[2022-11-28 18:16] #818 closed

[2022-11-28 18:22] #901 closed

[2022-11-28 18:25] #925 closed

[2022-11-28 18:27] #351 closed

[2022-11-28 18:27] #398 closed

[2022-11-28 18:28] #598 closed

[2022-11-28 18:29] #886 closed

[2022-11-28 18:34] #842 closed

[2022-11-30 12:27] SietseAchterop opened #1405 "Cannot build on debian 11 anymore"
Currently I cannot build opensim-gui from source on debian 11 anymore.
I am using openjdk-8 from debian/sid.
Half a year ago it worked fine. I use the master branch on github and a script I derived from CI-script. It is effectively the same as the current script in the documentation.

The build of the dependencies and core goes just fine, but the build of the opensim-gui part fails in the last ste

[2022-11-30 20:56] #1356 closed

[2022-11-30 22:25] AlbertoCasasOrtiz commented on #1405
Hello @SietseAchterop, could you share the script you are using so I can replicate the issue on Debian 11?

We have now new scripts in the [wiki](https://github.com/opensim-org/opensim-gui/wiki/Build-Instructions#linux). The new scritps use [Temurin JDK 8](https://adoptium.net/temurin/releases/?version=8). These scripts are tested on Debian 10 and 11, and should work fine. If you use them, please,

[2022-11-30 23:20] aymanhab commented on #1357
@AlbertoCasasOrtiz Can you update with the latest status? Thank you